<%- include ../partials/header.html %>       
<%- include ../partials/sidebar.html %>
<!-- page content -->
<!-- <link href="<%= adminbaseurl %>build/css/croppr.css" rel="stylesheet"> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
<div class="content_wraper">
    <div class="main_container">
          
      <div class="header_wraper">
        <h2><%=title%></h2>
          <ul>
            <li><a href="<%= adminbaseurl %>dashboard">Dashboards</a></li>
            <li><a href="<%= adminbaseurl %>users">Users</a></li>
            <li><%=title%></li>
          </ul>          
      </div>

      <% if(messages!='') {%>
      <div class="succ_msg msg" id="succ_msg">    
        <i class="fa fa-check"  aria-hidden="true"></i>        
        <%=messages%>
      </div>
      <%}%>                
      <% if(errors!='') {%>
      <div class="succ_err msg" id="err_msg">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
        <%=errors%>
      </div>
      <% }%>

        <form id="from_submit" class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>users/add">
         
             <div class="content_body panel_body">

              <div class="panel_title">
                  <h3><%=title%> Info</h3>
              </div>
        
              <div class="clearfix"></div>
        
                <div class="row edit_box">

                  <div class="col-sm-6"> 
                    <div class="animate_form field">
                        <input id="firstName" class="form-control" name="firstName" type="text"  onkeyup="this.value=this.value.replace(/[^0-9A-Za-z ]/g,'');" required="required" value="<%= arrData ? arrData.firstName : '' %>">
                      <span>First Name<span>*</span></span>
                      <div class="alert_msg"></div>
                    </div>
                  </div>

                  <div class="col-sm-6"> 
                    <div class="animate_form field">
                        <input id="lastName" class="form-control" name="lastName" type="text" onkeyup="this.value=this.value.replace(/[^0-9A-Za-z ]/g,'');"  required="required" value="<%= arrData ? arrData.lastName : '' %>">
                      <span>Last Name<span>*</span></span>
                      <div class="alert_msg"></div>
                    </div>
                  </div>
                  
                  <div class="col-sm-6"> 
                    <div class="animate_form field">
                        <% if (arrData.email != null) {%>
                        <input type="email" id="email" name="email" required="required" readonly disabled class="form-control" value="<%= arrData ? arrData.email : '' %>">
                        <% } else {%>
                          <input type="email" id="email" name="email" required="required"   onkeyup="this.value=this.value.replace(/[ ]/g,'');" class="form-control" value="<%= arrData ? arrData.email : '' %>">
                        <%  } %>
                      <span>Email<span>*</span></span>
                      <div class="alert_msg"></div>
                    </div>
                  </div> 

                  
                  
                 
                  <!-- <div class="col-sm-6"> 
                    <div class="animate_form field">
                        <% if (arrData.phone != null) {%>
                        <input id="ph_no" class="form-control" name="phone" readonly maxlength="10" type="text"   required="required" value="<%= arrData ? arrData.phone : '' %>">
                        <% } else {%>
                          <input  id="ph_no" class="form-control" name="phone" type="text" maxlength="10" minlength="10" pattern="^[6-9]\d{9}$" onkeypress="return blockChar(event)" required="required" value="<%= arrData ? arrData.phone : '' %>">
                        <%  } %>
                      <span>Phone No<span>*</span></span>
                      <div class="alert_msg"></div>
                    </div>
                  </div> -->

                  <div class="col-sm-6"> 
                    <div class="animate_form field">
                        <% if (arrData.phone != null) {%>
                        <input id="ph_no" class="form-control" name="phone" readonly  type="text"   required="required" value="<%= arrData ? arrData.phone : '' %>" data-validate-length-range="10,10" maxlength="10" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                        <% } else {%>
                          <input  id="ph_no" class="form-control" name="phone" type="text" required="required" value="<%= arrData ? arrData.phone : '' %>" data-validate-length-range="10,10" maxlength="10" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                        <%  } %>
                      <span>Phone No<span>*</span></span>
                      <div class="alert_msg"></div>
                    </div>
                  </div>

              

                <!-- <% if (!arrData) {%>
              <div class="col-sm-6"> 
                <div class="animate_form field">
                  <input id="password" type="password" name="password" maxlength="10" onblur="validatePassword();" onkeyup="this.value=this.value.replace(/[ ]/g,'');" placeholder="Password must be 6-10 digits"   class="form-control" required="required" value="<%= arrData ? arrData.password : '' %>">
                  <span>Password<span>*</span></span>
                  <div class="alert_msg"></div>
                </div>
              </div> 
              <% } %>  -->

              <% if (!arrData) {%>
                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="password" type="password" name="password" data-validate-length-range="6,10" maxlength="10" onkeyup="this.value=this.value.replace(/[ ]/g,'');" placeholder="Password must be 6-10 digits"   class="form-control" required="required" value="<%= arrData ? arrData.password : '' %>">
                    <span>Password<span>*</span></span>
                    <div class="alert_msg"></div>
                  </div>
                </div> 
                <% } %>
              
              <!-- <div class="col-sm-6"> 
                <div class="animate_form">
                    <label class="control-label" for="address">Address </label>
                    <textarea rows="4" type="text" id="address" name="address"  class="form-control"><%= arrData ? arrData.address : '' %></textarea>
                  </div>
              </div> -->

              <!-- <div class="col-sm-6"> 
                <div class="animate_form">
                    <input id="location" class="form-control" name="location" type="text" value="<%= arrData ? arrData.location : '' %>">
                  <span>Location<span></span></span>
                  <div class="alert_msg"></div>
                </div>
              </div> -->

              <!-- <div class="col-sm-6"> 
                <div class="animate_form">
                    <input id="postCode" class="form-control" name="postCode" type="test" maxlength="6" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" value="<%= arrData ? arrData.postCode : '' %>">
                  <span>Pin Code<span></span></span>
                  <div class="alert_msg"></div>
                </div>
              </div> -->

              <!-- <div class="col-sm-6"> 
                <div class="animate_form">
                    <input id="country" class="form-control" name="country" type="text" value="<%= arrData ? arrData.country : '' %>">
                  <span>Country<span></span></span>
                  <div class="alert_msg"></div>
                </div>
              </div> -->

              <!-- <div class="col-sm-6"> 
                <div class="animate_form">
                  <select name="role" class="form-control">
                    <!- - <option disabled selected value="">---Select Role---</option> - ->
                        <% arrRoles.forEach(function(role) { %>
                          <option <% if(arrData.role==role.id){ %>selected="selected" <% }%>  value="<%=role.id%>"
                             <% if(userrole!=1 && role.id==1){ %> style="display:none;" <%}%>
                              <!- - <% if(userrole>4 && role.id==4){ %> style="display:none;" <%}%> - ->
                            
                            <%=role.name%></option>
                            <% }) %>
                  </select>
                  <span>Role</span>
                </div>
              </div> -->

              <div class="col-sm-6"> 
                  <div class="animate_form">
                    <select name="country" class="form-control">
                      <option <% if(arrData.country=='india'){ %>selected="selected" <% }%> value="india">India</option>
                    </select>
                    <span>Country</span>
                  </div>
              </div>


              <div class="col-sm-6"> 
                  <div class="animate_form">
                    <select name="status" class="form-control">
                      <option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
                      <option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
                    </select>
                    <span>Status</span>
                  </div>
              </div>
              
             </div>

             <div class="panel_title">
                <h3>User Profile Picture</h3>
            </div>
            <div class="imageupload">
              <div class="file-tab">
                  <div class="">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <span>Browse</span>
                        <!-- The file is stored here. -->
                        <!-- <input type="file" name="image-file"> -->
                        <input type="file" id="image" name="image"  value="<%= arrData ? arrData.image : '' %>"  class="file js-loadfile" onchange="PreviewImage();" accept="image/*" data-type='image' />
                        <input id="uploadHiddenCropImage" name="uploadHiddenCropImage" value="" type="hidden">
                  </div>
                    <!-- <button type="button" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i> Remove</button> -->
                </div>
                <div class="row">
                  <div id="cropperImageContainer" class="col-md-8">
                    <img id="cropper" <% if(arrData){ if(arrData.image==null) {%> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% }else{ %> src="<%= arrData.image %>"<% } }else{ %> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% } %> alt="" style="display:none;">
                  </div>
                  <div class="imgpreview col-md-4">
                    <img id="imagePreview" <% if(arrData){ if(arrData.image==null) {%> src="<%= baseurl %>superpos/myimages/No_photo.jpg"<% }else{ %> src="<%= arrData.image %>"<% } }else{ %> src=""<% } %>  />
                    <input name="update_image" value="<%= arrData ? arrData.image : '' %>" type="hidden">
                  </div> 
              </div>
            </div>
  
          </div>

            <!-- users phone no start -->

           <div class="content_body panel_body" style="display: none">

              <input type="hidden" id="isprimephone" name="isprimephone" value="">

            <div class="panel_title">
                <h3>User Phone Number</h3>
                <button class="clone_trigger_phone panel_btn" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Add Phone</button>
            </div>
            
            <div class="row">
                <div class="col-sm-2">
                    <label class="control-label" for="users_phone">Is Primary<span class="required"></span>
                    </label>
                </div>

              <div class="col-sm-4">
                <label class="control-label" for="users_phone">Phone Number<span class="required">*</span>
                </label>
              </div>
                
            </div>
                
      
      <% if(arrPhone_number!='') {
        arrPhone_number.forEach(function(pval) { %>
    
      
          
            <div class="row clone_phone" style="margin-bottom: 15px;">

               <div class="col-sm-2">
                  <input type="checkbox" value="<%= pval.is_prime_phone %>" <% if(pval.is_prime_phone == 1){ %> checked <% } %> class="check_phone" name="check_phone">
              </div>

              <div class="col-sm-4">
                <div class="animate_form field">
                  <input type="text"  name="user_phone_no" value="<%= pval.user_phone_no %>" class="form-control" required="required" data-validate-length-range="10,10" maxlength="10" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                </div>  
              </div>

              <div class="col-sm-3">
                <button class="remove_trigger_phone btn btn-danger" <% if(pval.is_prime_phone == 1){ %> style="display:none" <% } %> type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
              </div>
              
                <input name="updateId" type="hidden" value="">
              
          </div>
    
        
       
        <% })
      }else{ %>
        
              <div class="row clone_phone" style="margin-bottom: 15px;">

                <div class="col-sm-2">
                    <input type="checkbox" value="1" checked class="check_phone"  name="check_phone">
                    </div>

                   <div class="col-sm-4">
                    <div class="animate_form field"> 
                      <input name="user_phone_no" type="text"  value="" class="form-control" required="required" data-validate-length-range="10,10" maxlength="10" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                    </div>  
                  </div>

                  <div class="col-sm-3">
                      <button class="remove_trigger_phone btn btn-danger" style="display: none" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
                  </div>
                  <input name="updateId" type="hidden" value="">
              </div>
              <% } %>
        
        <div class="placer_phone"></div>
      </div>

          <!-- users phone no end -->

          <!-- users email id start -->

          <div class="content_body panel_body" style="display: none">

            <div class="panel_title">
                <h3>User Email Id</h3>
                <button class="clone_trigger_email panel_btn" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Add Email</button>
            </div>
            
            <div class="row">
                <div class="col-sm-2">
                    <label class="control-label" for="user_email">Is Primary<span class="required"></span>
                    </label>
                </div>

              <div class="col-sm-4">
                <label class="control-label" for="user_email">Email Id<span class="required">*</span>
                </label>
              </div>
                
            </div>
                
      
      <% if(arrEmail_id!='') {
        arrEmail_id.forEach(function(eval) { %>
    
      
          
            <div class="row clone_email" style="margin-bottom: 15px;">

               <div class="col-sm-2">
                  <input type="checkbox"  name="check_email">
              </div>

              <div class="col-sm-4">
                <div class="animate_form field">
                  <input type="email"  name="user_email_id" required="required" value="<%= eval.user_email_id %>" class="form-control">
                </div>  
              </div>

          <div class="col-sm-3">
            <button class="remove_trigger_email btn btn-danger" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
          </div>              
          <input name="updateId" type="hidden" value="">              
        </div>       
       
      <% })
      }else{ %>        
        <div class="row clone_email" style="margin-bottom: 15px;">
          <div class="col-sm-2">
            <input type="checkbox" checked class="check_email" name="check_email">
          </div>

          <div class="col-sm-4">
            <div class="animate_form field">
              <input name="user_email_id" type="email" required="required"  value="" class="form-control">
            </div>
          </div>

          <div class="col-sm-3">
            <button class="remove_trigger_email btn btn-danger" style="display: none" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
          </div>
          <input name="updateId" type="hidden" value="">
        </div>
      <% } %>
        
        <div class="placer_email"></div>
      </div>

          <!-- users emsil id end -->

          <!-- users address start -->
          <div class="content_body panel_body">

              <input type="hidden" id="isprimeaddress" name="isprimeaddress" value="">

            <div class="panel_title">
                <h3>User Address</h3>
                <button class="clone_trigger panel_btn" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Add Address</button>
            </div>
                
      
      <% if(arrAddress!='') {
        arrAddress.forEach(function(val) { %>
          
            <div class="row clone" style="margin-bottom: 15px;">

              <div class="col-sm-4"> 
                <div class="animate_form field">
                  <input id="city" class="form-control"  name="user_first_name" type="text" value="<%=  val.first_name  %>">
                  <span>First Name<span>*</span></span>
                </div>
              </div>

              <div class="col-sm-4"> 
                <div class="animate_form field">
                  <input id="city" class="form-control"  name="user_last_name" type="text" value="<%=  val.last_name  %>">
                  <span>Last Name<span>*</span></span>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="animate_form field">
                 <input type="text" name="user_mobile_no" placeholder="10 digit mobile number" value="<%= val.mobile %>" class="form-control" required="required" data-validate-length-range="10,10" maxlength="10" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                 <span>Mobile Number<span>*</span></span>
                </div> 
            </div>

              <div class="col-sm-4"> 
                <div class="animate_form field">
                  <span>Address<span>*</span></span>
                  <textarea rows="4" type="text" id="user_address" name="user_address" required="required"  class="form-control"><%= val ? val.address : '' %></textarea>
                  
                  <div class="alert_msg"></div>
                </div>
              </div>

                    <div class="col-sm-4"> 
                      <div class="animate_form field">
                        <input id="city" class="form-control"  name="user_city" type="text" value="<%=  val.city  %>">
                        <span>City</span>
                      </div>
                    </div>

                    <div class="col-sm-4"> 
                      <div class="animate_form field">
                        <input id="state" class="form-control"  name="user_state" type="text"  value="<%= val.state %>">
                        <span>State</span>
                        <!-- <div class="alert_msg"></div> -->
                      </div>
                    </div>

                    <div class="col-sm-4"> 
                      <div class="animate_form field">
                        <input id="pin" class="form-control" required="required" type="text"  name="user_pin"  value="<%= val.pin %>">
                        <span>Pin<span>*</span></span>
                        <!-- <div class="alert_msg"></div> -->
                      </div>
                    </div>

                    <div class="col-sm-4"> 
                      <div class="animate_form ">
                        <input id="country" class="form-control"  name="user_country" type="text" value="<%= val.country %>">
                        <span>Country</span>
                      </div>
                    </div>

                  <div class="col-sm-2">
                    <div class="animate_form field">
                      <span>Is Primary<span></span></span>
                      <div class="col-sm-2">
                        <input type="checkbox" value="<%= val.is_prime_address %>" <% if(val.is_prime_address == 1){%> checked <% } %> class="check_address" name="check_address">
                      </div>
                    </div>
                  </div>

              <div class="col-sm-3">
                <button class="remove_trigger btn btn-danger" <% if(val.is_prime_address == 1){%> style="display:none" <% } %> type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
              </div>
              
                <input name="updateId" type="hidden" value="">
              
          </div>
    
        
       
        <% })
      }else{ %>
        
        <div class="row clone" style="margin-bottom: 15px;">

          <div class="col-sm-4"> 
              <div class="animate_form field">
                <input id="city" class="form-control"  name="user_first_name" type="text" value="" required="required">
                <span>First Name<span>*</span></span>
              </div>
            </div>

          <div class="col-sm-4"> 
            <div class="animate_form field">
              <input id="city" class="form-control"  name="user_last_name" type="text" value="" required="required">
              <span>Last Name<span>*</span></span>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="animate_form field">
              <input type="text" placeholder="10 digit mobile number" name="user_mobile_no" value="" required="required" class="form-control" required="required" data-validate-length-range="10,10" maxlength="10" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
              <span>Mobile Number<span>*</span></span>
            </div> 
          </div>
        
          <div class="col-sm-4"> 
            <div class="animate_form field">
              <label class="control-label" for="address">Address<span>*</span> </label>
              <textarea rows="4" type="text" id="user_address" name="user_address" required="required" class="form-control"></textarea>
              <div class="alert_msg"></div>
            </div>
          </div>


          <div class="col-sm-4"> 
            <div class="animate_form field">
                <input id="city" class="form-control"  name="user_city" type="text" value="">
                <span>City</span>
              <div class="alert_msg"></div>
            </div>
          </div>

          <div class="col-sm-4"> 
            <div class="animate_form field">
              <input id="state" class="form-control"  name="user_state" type="text"  value="">
              <span>State</span>
              <!-- <div class="alert_msg"></div> -->
            </div>
          </div>

          <div class="col-sm-4"> 
            <div class="animate_form field">
                <input id="pin" class="form-control" required="required" maxlength="6" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"  name="user_pin" type="text" value="">
                <span>Pin<span>*</span></span>
              <!-- <div class="alert_msg"></div> -->
            </div>
          </div>

          <div class="col-sm-4"> 
            <div class="animate_form field">
              <input id="country" class="form-control"  name="user_country" type="text" value="">
              <span>Country</span>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="animate_form field">
              <span>Is Primary<span></span></span>
              <div class="col-sm-2">
                <input type="checkbox" value="1" checked class="check_address" name="check_address">
              </div>
            </div>
          </div>


          <div class="col-sm-3">
              <button class="remove_trigger btn btn-danger" style="display: none" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
          </div>
          <input name="updateId" type="hidden" value="">
        </div>
  <% } %>
        
    <div class="placer"></div>
  </div>
          <!-- users address end -->

              <div  class="btn_right mb-4">
                  <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
                  <input name="user_id" value="<%= usercreatedBy ? usercreatedBy : '' %>" type="hidden">
                  <button id="send"  type="submit"  class="submit_btn">Submit</button>
                 
              </div>
            
        </form>
    </div>
  </div>

  <script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>

<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>



<!-- users phone no start -->
<script>

var validEmail = 0;

  $(document).ready(function(){
    $(".clone_trigger_phone").click(function () {
      $('.clone_phone').first().clone()
      .find("input:text").val("").end()
      .find(".remove_trigger_phone").show().end()
      .find("input:checkbox").prop('checked', false).end()
      .find("input:checkbox").prop('value', '0').end()
      .insertBefore(".placer_phone");
      $('input.cl:last').val('');
      event.preventDefault();
    });  

    $(document).on('click','.remove_trigger_phone',function () {     
      if ($(".clone_phone").length > 0) {        
        if($(".clone_phone").length == 1){
          $(".clone_phone:last")
          .find("input:text").val("").end()
          .find("input:checkbox").prop('checked', false).end()
          //$(".clone:last").hid
        }else{
          $(this).closest('.clone_phone').remove();
        }             
      }        
      event.preventDefault();
    });      
  });
</script>

<script>
  $(document).on('change','.check_phone',function () { 
    // console.log(this);
    $(this).prop('value', '1');
    if($(".check_phone").filter(':checked').length < 1){
      $(this).prop('checked', true);
      $(this).prop('value', '1');
    }
    $(this).parent().parent("div").find(".remove_trigger_phone").hide();
    var checked_this_phone = this;
    $(checked_this_phone).next('.remove_trigger_phone').hide();
    $('input[name="check_phone"]').each(function(i){
      // Performs tasks to each of the links
      if($(this).not(checked_this_phone)){
        $(this).not(checked_this_phone).prop('checked', false); 
        $(this).not(checked_this_phone).parent().parent("div").find(".remove_trigger_phone").show();
        $(this).not(checked_this_phone).prop('value', '0');
      }        
    });
  });
  // $("#check_email").click(function () {
  //   $('input:checkbox').not(this).prop('checked', this.checked);
  // });

  $("#send").on('click', function(e){
    // alert(1)
    var isPrimaryPhoneArray=[];
    $('input[name="check_phone"]').each(function(i){
      // console.log(i)
      isPrimaryPhoneArray.push($(this).val());
      console.log($(this).val());
    });
    console.log(isPrimaryPhoneArray);
    $('#isprimephone').val(isPrimaryPhoneArray);
    console.log($('#isprimephone').val());
    //e.preventDefault();
  });
</script>

<!-- users phone no end -->

<!-- users email start -->
<script>
    $(document).ready(function(){
    $(".clone_trigger_email").click(function () {
      $('.clone_email').first().clone()
      .find("input:text").val("").end()
      .find('.bad').removeClass('bad').end()
      .find('.alert').remove().end()
      .find(".remove_trigger_email").show().end()
      .find("input:checkbox").prop('checked', false).end()
      .find("input:checkbox").prop('value', '0').end()
      .insertBefore(".placer_email");
      $('input.cl:last').val('');
      event.preventDefault();
    }); 
  
    $(document).on('click','.remove_trigger_email',function () {     
      if ($(".clone_email").length > 0) {        
        if($(".clone_email").length == 1){
          $(".clone_email:last")
          .find("input:text").val("").end()
          .find("input:checkbox").prop('checked', false).end()
          //$(".clone:last").hide();      
        }else{
          $(this).closest('.clone_email').remove();
        }             
      }        
      event.preventDefault();
    });      
  });
  </script>

  <script>
    $(document).on('change','.check_email',function () { 
      // console.log(this);
      $(this).prop('value', '1');
      if($(".check_email").filter(':checked').length < 1){
        $(this).prop('checked', true);
        $(this).prop('value', '1');
      }
      $(this).parent().parent("div").find(".remove_trigger_email").hide();
      var checked_this_email = this;
      $(checked_this_email).next('.remove_trigger_email').hide();
      $('input[name="check_email"]').each(function(i){
        // Performs tasks to each of the links
        if($(this).not(checked_this_email)){
          $(this).not(checked_this_email).prop('checked', false); 
          $(this).not(checked_this_email).parent().parent("div").find(".remove_trigger_email").show();
          $(this).not(checked_this_email).prop('value', '0');
        }      
      });
    });

    // $("#check_email").click(function () {
    //   $('input:checkbox').not(this).prop('checked', this.checked);
    // });

    $("#send").on('click', function(e){
      // alert(1)
      var isPrimaryEmailArray=[];
      $('input[name="check_email"]').each(function(i){
        // console.log(i)
        isPrimaryEmailArray.push($(this).val());
        console.log($(this).val());
      });
      console.log(isPrimaryEmailArray);
      $('#isprimeemail').val(isPrimaryEmailArray);
      console.log($('#isprimeemail').val());
      //e.preventDefault();
    });
  </script>

<!-- users email end -->

<!-- users address start -->
<script>
    $(document).ready(function(){
      $(".clone_trigger").click(function () {
        $('.clone').first().clone()
        .find("textarea").val("").end()
        .find("input:text").val("").end()
        .find('.bad').removeClass('bad').end()
        .find('.alert').remove().end()
        .find(".remove_trigger").show().end()
        .find("input:checkbox").prop('checked', false).end()
        .find("input:checkbox").prop('value', '0').end()
        .insertBefore(".placer");
        $('input.cl:last').val('');
        $('#message').val('').empty();
        event.preventDefault();
      });  
      
      $(document).on('click','.remove_trigger',function () {     
        if ($(".clone").length > 0) {        
          if($(".clone").length == 1){
            $(".clone:last")
            .find("input:text").val("").end()
            //$(".clone:last").hide();      
          }else{
            $(this).closest('.clone').remove();
          }                       
        }        
        event.preventDefault();
      });
    });


    </script>
  


  <script>
      $(document).on('change','.check_address',function () { 
        // console.log(this);
        $(this).prop('value', '1');
        if($(".check_address").filter(':checked').length < 1){
          $(this).prop('checked', true);
          $(this).prop('value', '1');
        }
        $(this).parent().parent().parent().parent("div").find(".remove_trigger").hide();
        var checked_this_address = this;
        $(checked_this_address).next('.remove_trigger').hide();
        $('input[name="check_address"]').each(function(i){
          // Performs tasks to each of the links
          if($(this).not(checked_this_address)){
            $(this).not(checked_this_address).prop('checked', false); 
            $(this).not(checked_this_address).parent().parent().parent().parent("div").find(".remove_trigger").show();
            $(this).not(checked_this_address).prop('value', '0');
          }      
        });
      });
  
      // $("#check_address").click(function () {
      //   $('input:checkbox').not(this).prop('checked', this.checked);
      // });
  
      $("#send").on('click', function(e){
        // alert(1)
        var isPrimaryAddressArray=[];
        $('input[name="check_address"]').each(function(i){
          // console.log(i)
          isPrimaryAddressArray.push($(this).val());
          console.log($(this).val());
        });
        console.log(isPrimaryAddressArray);
        $('#isprimeaddress').val(isPrimaryAddressArray);
        console.log($('#isprimeaddress').val());
        //e.preventDefault();
      });
    </script>
  
  <!-- users address end -->

<script type="text/javascript">
  function blockChar(e){
      var k;
      document.all ? k = e.keyCode : k = e.which;
      return (k >= 48 && k <= 57);
      }
  </script>
<script>
  function validateEmail(email) {
var reg = /^[A-Z0-9_'%=+!`#~$*?^{}&|-]+([\.][A-Z0-9_'%=+!`#~$*?^{}&|-]+)*@[A-Z0-9-]+(\.[A-Z0-9-]+)+$/i;
if (reg.test(email) == false) 
{
    alert('Invalid Email Address');
    return (false);
}
}
</script>
 
 <!-- onkeypress="return blockother(event)"
 <script type="text/javascript">
    function  blockother(e){
        var k;
        document.all ? k = e.keyCode : k = e.which;
        return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 32);
        }
    </script> -->

<script type="text/javascript">
  function validatePassword()
  {
  var a = document.getElementById("password").value;
  //alert(a.length);
  if ((a.length < 6) || (a.length > 10))
  {
  alert("Your Password must be 6 to 10 Character");
  return false;
  }else{
    return true;
  }
}
  </script>
<script>
$(document).ready(function(){

// $(".clone_trigger_email").click(function () {
//   $('.clone_email').first().clone()
//   .find("input:text").val("").end()
//   .find(".remove_trigger_email").show().end()
//   .find("input:checkbox").prop('checked', false).end()
//   .insertBefore(".placer_email");
//   $('input.cl:last').val('');
//   event.preventDefault();
// });
$(document).on('blur','#email',function(){
  //alert(1111);
  var email = $('#email').val();
 	if (email == '') {
 		email = false;
 		return;
 	}
 	$.ajax({
      url: "<%= adminbaseurl%>usersUqEmail",
      type: 'post',
      data: {
      	'email' : email,
      },
      success: function(response){
        console.log(response)
        console.log(response.data.success)
          if(response.data.success){  
            validEmail = 0;
           return true;
          } else {
            validEmail =1 ;
              alert ("This email id is already taken, Try another one");
              return false;
              }
          }
       })
});

$('#from_submit').on('submit', function(e){
  //alert('sub')
  // var updt=update_id.email;
  // if(updt=''){
    
  // }
  if(validEmail == 1){
    alert ("This email id is already taken, Try another one");
    e.preventDefault()
  }
})

 });
</script>

<script type="text/javascript">
  var validator = new FormValidator({"events" : ['blur', 'input', 'change']}, document.forms[0]);
  document.forms[0].onsubmit = function(e){
        var submit = true,
          validatorResult = validator.checkAll(this);
  
        console.log(validatorResult);
        return !!validatorResult.valid;
      };
    function PreviewImage() {

      var fileInput = document.getElementById('image');
      var filePath = fileInput.value;
      var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
      if(!allowedExtensions.exec(filePath)){
          alert('Please upload file having extensions .jpeg/.jpg/.png  only.');
          fileInput.value = '';
          return false;
      }else{
          //Image preview
          if (fileInput.files && fileInput.files[0]) {
              var reader = new FileReader();
              reader.onload = function(e) {
                  document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
              };
              reader.readAsDataURL(fileInput.files[0]);
          }
      }


      var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("image").files[0]);
      oFReader.onload = function (oFREvent) {
        document.getElementById("imagePreview").src = oFREvent.target.result;
      };
    };
  
        // var imageData=null;
        // var fileParts = '';
        // var image_target = $('#cropper').get(0);
        // var after_cropped_target = $('#imagePreview').get(0);
        // var cropImageFile = '';
        
        // $('.js-loadfile').change(function(evt) {
        //   var files = evt.target.files; // FileList object
        //   var reader = new FileReader();
  
        //   reader.onload = function(e) {
        //     imageData=reader.result;
        //     loadData();
        //   }
        //   fileParts = files[0].name.split('.');
        //   reader.readAsDataURL(files[0]);
        // });
        
        // dataURLtoFile = function(dataurl, filename) {
        //   var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
        //     bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
        //   while(n--){
        //     u8arr[n] = bstr.charCodeAt(n);
        //   }
        //   return new File([u8arr], filename, {type:mime});
        // }; 
        
        // loadData = function() {
        //   //set the image target
        //   document.getElementById('cropperImageContainer').innerHTML = '<img id="cropper" src="" alt="" style="display:none;">';
          
        //   image_target = $('#cropper').get(0);
        //   image_target.src=imageData;
        //   after_cropped_target.src=image_target.src;
        //   var croppr = new Croppr('#cropper', {
        //     aspectRatio: 1,
        //     minSize: [88, 87, 'px'],
        //     onInitialize: (instance) => { 
        //       console.log(instance); 
        //       var left = 129,
        //       top =  0,
        //       width = 768,
        //       height = 768;
        //       cropImage(left,top,width,height);
        //     },
        //     onCropStart: (data) => { 
        //       //console.log('start', data);
        //       //profileInfoNode.innerHTML = 'Width: ' + data.width + 'px, Height: ' + data.height+'px';
              
        //     },
        //     onCropEnd: (data) => {
        //       console.log(data);
        //       var left = data.x,
        //       top =  data.y,
        //       width = data.width,
        //       height = data.height;
        //       cropImage(left,top,width,height);
        //     },
        //     onCropMove: (data) => { 
        //       //console.log('move', data); 
        //       //profileInfoNode.innerHTML = 'Width: ' + data.width + 'px, Height: ' + data.height+'px';
        //     }
        //   });
          
        //   //croppr.destroy();
        // };
        
        // cropImage = function(left,top,width,height){
        //   //alert("Test");
        //   var image_target = $('.croppr-image').get(0);
        //   var after_cropped_target = $('#imagePreview').get(0);
        //   var crop_canvas;
            
        //   crop_canvas = document.createElement('canvas');
        //   crop_canvas.width = width;
        //   crop_canvas.height = height;
          
        //   crop_canvas.getContext('2d').drawImage(image_target, left, top, width, height, 0, 0, width, height);
        //   var dataURL=crop_canvas.toDataURL("image/png");
        //   after_cropped_target.src=dataURL;
        //   var imageCropped64Image = dataURL;
          
        //   var d = new Date();
        //   var n = d.getTime();
          
        //   var basefile = fileParts[0]+ '_' + n;
        //   var ext = fileParts[1];
          
        //   //var ext = imageCropped64Image.split(';')[0].match(/jpeg|png|gif/)[0];
        //   var mime = imageCropped64Image.match(/data:([a-zA-Z0-9]+\/[a-zA-Z0-9-.+]+).*,.*/);
        //   var mimeType = '';
        //   if (mime && mime.length) {
        //   mimeType = mime[1];
        //   }
          
        //   document.getElementById('uploadHiddenCropImage').value = basefile+'.'+ext;
        //   cropImageFile = this.dataURLtoFile(imageCropped64Image, basefile+'.'+ext)
        // };
        
        $('#from_submit').on('submit', function(e){
          console.log("11111111111")
          // e.preventDefault();
          var formData = new FormData();

          if(document.getElementById("image").files && document.getElementById("image").files.length > 0){
          console.log(document.getElementById("image").files[0]);
          // e.preventDefault();
          formData.append('image', document.getElementById("image").files[0]);
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function(result) {
            if (this.readyState == 4 && this.status == 200) {
              // document.getElementById('cropperImageContainer').innerHTML = '';
              //window.scrollTo(0, 0);
            }
          };
          // Add any event handlers here...
          //xhr.open('POST', '/api/v1/banner/fileupload', true);
          xhr.open('POST', '<%= adminbaseurl %>users/fileupload', true);
          xhr.send(formData);
        }

          // formData.append('image', cropImageFile);
  
          // var xhr = new XMLHttpRequest();
          // xhr.onreadystatechange = function(result) {
          //   if (this.readyState == 4 && this.status == 200) {
          //     console.log("llllllfdjjjssfs")
          //     document.getElementById('cropperImageContainer').innerHTML = '';
          //     //window.scrollTo(0, 0);
          //    }
          // };
          // // Add any event handlers here...
          // // xhr.open('POST', '/api/v1/users/fileupload', true);
          // xhr.open('POST', '<%= adminbaseurl %>users/fileupload', true);
          // xhr.send(formData);
        });
  ////////////////////////////////code end////////////////////////////////
  function validate(evt){
  //alert( evt.value);
       evt.value = evt.value.replace(/[^0-9]/g,"");
  }
  
  </script>