<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>       



<!-- CSS Styles -->
<style>
        .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}
        .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}
        .speech img {float: right; width: 40px }
      </style>
      
      
      
<!-- page content -->

<div class="content_wraper">
    <div class="main_container">
      
          <div class="header_wraper">
              <h2><%=title%></h2>
              <ul>
                  <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
                  <li><h4><%=title%><small></small></h4></li>
              </ul>
          </div>
          
          <div class="content_body">
      <div class="table_heading" style=" display: flex; align-items: center; justify-content: space-between;">
        <h3>Manage <%=title%></h3>
        <div class="title_right text-right">
          <a href="<%= adminbaseurl %>customer/download" class="btn btn-success right">  Export Customer List</a>
          
        </div>

        <!-- search customer by mobile no 11/07/2019 start -->
        <form align="right" class="example" id="searchResultForm" action="<%= adminbaseurl %>customer" style=" display: flex;" >
          <input id="serProduct" type="text" placeholder="Search.." name="search" class="form-control">
          <button  type="submit" ><i class="fa fa-search"></i></button>
        </form>
      <!-- search customer by mobile no 11/07/2019 end -->

        
      </div>

      <div class="table-responsive table_wraper">
        <table class="table">
            <thead>
                  <tr>
                      <th class="checkbox_cell">
                          <!-- <label class="checkbox"><input type="checkbox" id="checkAll" name="check"><span></span></label> -->
                          </th>
                          <th style="width:15px">Sl No</th>
                         
                          <th>Name</th>
                          <th>email</th>
                          <th>mobile</th>
                          <!-- <th>password</th> -->
                          <!-- <th>Date of Birth</th> -->
                          <!-- <th>Date of Annyversary</th> -->
                          <!-- <th>Gender</th>
                         
                          <th>Device</th> -->
                          <!-- <th>City</th> -->
                          <!-- <th>Last Visited</th>
                          <th>Total Purchase</th>
                          <th>Order Count</th> -->
                          <!-- <th>Group id</th> -->
                          <!-- <th>Image</th> -->
                          <th>Status</th>
                          <th>Action</th>

                          <!-- <th>
                            <a href="<%= adminbaseurl %>customer/addedit" class="add_btn"><span>+</span></a>
                           </th> -->
                      </tr>
                    </thead>


                    <tbody>
                      
                        <% var i= startingNumber ? startingNumber : 1;
                        arrData.forEach(function(val) { %>	
	
                          <tr>
                              <td class="checkbox_cell">
                                  <!-- <label class="checkbox"><input type="checkbox" value="<%= val.id %>"><span></span></label> -->
                              </td>
                              <td> <%= i %></td>
                              
                              <td> <%= val.first_name %> <%= val.last_name %></td>
                               <td> <%= val.email %></td>
                               <td> <%= val.phone %></td>
                               <!-- <td> <%= val.password %></td> -->
                               <!-- <td> <%= val.dob %></td> -->
                               <!-- <td> <%= val.doa %></td> -->
                               <!-- <td> <%= val.gender %></td>
                               
                               <td> <%= val.device %></td> -->
                               <!-- <td> <%= val.city %></td> -->
                               <!-- <td> <%= val.last_visited %></td>
                               <td> <%= val.total_purchase %></td>
                               <td> <%= val.order_count %></td> -->
                               <!-- <td> <%= val.group_id %></td> -->
                              <!-- <td><img src="<%= val.image %>" class="product_img" width="64" height="64"></td> -->
                              <td> <%= val.status %></td>
                              
                              <td>
                                  <a href="<%= adminbaseurl%>customer/addedit/<%= val.id %>" class="edit_btn"><i class="fa fa-eye"></i></a>
                                  <!-- <a href="<%= adminbaseurl%>customer/delete/<%= val.id %>" class="edit_btn" onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash"></i></a> -->
                              </td>
                            </tr>
							            <% i++; }) %>
                        </tbody>
                      </table>
                  </div>
                  
                  <%  if (paginate.hasPreviousPages || previousPage) { %>
                    <div class="pagination_sec">
                        <div class="table_info">Showing <%= startingNumber ? startingNumber : '' %> to <%= endingNumber ? endingNumber : '' %> of <%= itemCount ? itemCount : ''%> entries</div>   
                                <ul>
                                <% if(paginate.hasPreviousPages) {%>
                                <li><a href="<%= paginate.href(true) %>">Previous</a></li>
                                <% }else{ %>
                                <li><a href="javascript:void(0)" class="disable">Previous</a></li>
                                <% } %>
                                <% pages.forEach(function(page) { %>
                                <li><a href="<%= page.url %>" <% if(currentPage && currentPage == page.number ) {%> class="active" <% } %>><%= page.number%></a></li>
                                <%  }) %>
                                <% if(previousPage) {%>
                                <li><a href="<%= paginate.href() %>">Next</a></li>
                                <% }else{ %>
                                <li><a href="javascript:void(0)" class="disable">Next</a></li>
                                <% } %>
                            </ul>
                        </div>                  
                    </div>
                <% } %>
          </div>
      </div>
    
<!-- page content -->
<%- include ../partials/footer.html %>

<script>
    $("#checkAll").click(function () {
      $('input:checkbox').not(this).prop('checked', this.checked);
  });
</script>

<script>
     $(document).ready(function(){
        var checkboxes = $('.checkbox input[type="checkbox"]'); 
        checkboxes.click(function(){
            var countCheckedCheckboxes = checkboxes.filter(':checked').length;
            if(countCheckedCheckboxes > 0){
                $('.label_info').text(countCheckedCheckboxes-1+' item(s) selected');
                
            }else{
                $('.label_info').text('No item selected');
            } 
        });
    });

    $(".checkSelect").change(function () {
  
    var lenghtCheck= $('input[class="checkSelect"]:checked').filter(':checked').length
    console.log(lenghtCheck);
            if( lenghtCheck > 0){
                $('.label_info').text(lenghtCheck+' item(s) selected');
            }else{
                $('.label_info').text('No item selected');
            }
   });


    function deleteCustomer() {  
    var chkArray = []; 
    /* look for all checkboes that have a class 'chk' attached to it and check if it was checked */
    $('input[class="checkSelect"]:checked').each(function() {
    chkArray.push($(this).val());
    });
    var chkArraylengh = chkArray.length;
    if(chkArraylengh > 0){
    console.log(chkArray)
   
        var adminData = { 'check' :chkArray}
        var answer = confirm ("Are you sure you want to delete from the database?");
            if(answer){
    $.ajax({ 
        url: "<%= apiurl %>customermul/delete",
        type:'POST',
        data: adminData,
        success:function(response){
            console.log(response)
          
            window.location.reload();
         
        },
        error: function (e) {
            console.log("ERROR : ", e);
        }
        });   
}
}else{
        alert('For delete select first');
     }
}
</script>

<script>
  // search customer by mobile no 11/07/2019 start 
  $(document).ready(function() {
      $('#searchResultForm').on('submit', function(e){
          // validation code here
          var data  =  document.getElementById("serProduct").value;  
          if(!data || data == ''){
              // alert('Empty Search');
              e.preventDefault();
          }
          // else{
              // alert(data);
              // alert('Available Search');
              // e.preventDefault();    
          // }
      });
  });
  // search customer by mobile no 11/07/2019 end 
</script>




  <!-- HTML5 Speech Recognition API -->
  <!-- <script>
    function startDictation() {
  
      if (window.hasOwnProperty('webkitSpeechRecognition')) {
  
        var recognition = new webkitSpeechRecognition();
  
        recognition.continuous = false;
        recognition.interimResults = false;
  
        recognition.lang = "en-US";
        recognition.start();
  
        recognition.onresult = function(e) {
          document.getElementById('transcript').value
                                   = e.results[0][0].transcript;
          recognition.stop();
          document.getElementById('labnol').submit();
        };
  
        recognition.onerror = function(e) {
          recognition.stop();
        }
  
      }
    }
  </script> -->