<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>       

<!-- page content -->

<div class="content_wraper">
    <div class="main_container">
          
      <div class="header_wraper">
        <h2><%=title%></h2>
          <ul>
            <li><a href="<%= adminbaseurl %>dashboard" >Dashboards</a></li>
            <li><a href="<%= adminbaseurl %>stores">Stores</a></li>
            <li><%=title%></li>
          </ul>
      </div>

      <% if(messages!='') {%>
      <div class="succ_msg msg" id="succ_msg">    
        <i class="fa fa-check"  aria-hidden="true"></i>        
        <%=messages%>
      </div>
      <%}%>                
      <% if(errors!='') {%>
      <div class="succ_err msg" id="err_msg">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
        <%=errors%>
      </div>
      <% }%>

              <form class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>stores/add">
                   <!--Arrtibute info start-->
                   <div class="content_body panel_body">

                      <div class="panel_title">
                          <h3>Stores Info</h3>
                      </div>
                
                      <div class="clearfix"></div>
                
                        <div class="row edit_box">
						<!-- <div class="col-sm-6">
                            <div class="animate_form field">
                                <input id="store_id" class="form-control" name="store_id" type="text" required="required" value="<%= arrData ? arrData.store_id : '' %>">
                              <span>Store ID<span>*</span></span>
                              <div class="alert_msg"></div>
                            </div>
                        </div> -->
						
                            <div class="col-sm-6">
                            <div class="animate_form field">
                                <input id="name" class="form-control" placeholder="Enter Your Store name" name="name" type="text" onkeypress="return blockother(event)" required="required" value="<%= arrData ? arrData.name : '' %>">
                              <span>Name<span>*</span></span>
                              <div class="alert_msg"></div>
                            </div>
                        </div>
						
						            <div class="col-sm-6">
                            <div class="animate_form field">
                                <input id="description" class="form-control" name="description" type="text"  value="<%= arrData ? arrData.description : '' %>">
                              <span>Description</span>
                              <div class="alert_msg"></div>
                            </div>
                        </div>
						
						            <div class="col-sm-6">
                            <div class="animate_form field">
                                <input id="address" class="form-control" name="address" type="text" required="required" value="<%= arrData ? arrData.address : '' %>">
                              <span>Address<span>*</span></span>
                              <div class="alert_msg"></div>
                            </div>
                        </div>

                        <!-- store multiple city start -->
                        <div class="col-sm-6">
                            <span>City<span>*</span></span>
                            <div class="animate_form field">
                              <select class="multipleselect" multiple="true" name="stores_city_id" required="required">
                                <% arrCity.forEach(function(city){ 
                                    if(Store_city){
                                        var select='';                     
                                        Store_city.forEach(function(sto_city){ 
                                            if(sto_city.stores_city_id==city.id) {
                                                select='selected="selected"';
                                            }                                                     
                                        });
                                    }%>                     
                                    <option <%= select %>  value="<%=city.id%>~<%=city.name%>"><%=city.name%></option>                    
                                <% }); %>  
                              </select>
                              <style>
                                .multipleselect{ width:100%;}
                                .multipleselect option{padding: 1em;}
                              </style>
                            </div>
                          </div>
                          <!-- stores multiple city end -->

                          <div class="col-sm-6"> 
                            <div class="animate_form field">
                                 <span>Zipcode<span>*</span><span>
                             <select class="multipleselect" multiple="true" name="stores_zipcode_id" class="form-control" required="required">
                             <% arrZipcode.forEach(function(zip) {
                                if(Store_zipcode){
                                    var select='';                     
                                    Store_zipcode.forEach(function(sto_zipcode){ 
                                        if(sto_zipcode.stores_zipcode_id==zip.id) {
                                            select='selected="selected"';
                                        }                                                     
                                    });
                                }%>
                                    <option <%= select %>  value="<%=zip.id%>~<%=zip.zipcode%>"><%=zip.zipcode%></option> 
                               <!-- <option value="<%= zip.id %>" <% if(zip.id==arrData.zipcode){%>selected="selected" <%} %>><%= zip.zipcode %></option> -->
                                <%  }) %>
                             </select>
                             <style>
                                .multipleselect{ width:100%;}
                                .multipleselect option{padding: 1em;}
                              </style>
                         </div>
                     </div> 
						
						<div class="col-sm-6">
                            <div class="animate_form field">
                                <input id="ph" class="form-control" name="ph" type="text" maxlength="10" minlength="10" pattern="^[6-9]\d{9}$" onkeypress="return blockChar(event)" required="required" value="<%= arrData ? arrData.ph : '' %>">
                              <span>Phone<span>*</span></span>
                              <div class="alert_msg"></div>
                            </div>
                        </div>
						
						<div class="col-sm-6">
                            <div class="animate_form field">
                                <input id="persion" class="form-control" name="persion" type="text" value="<%= arrData ? arrData.persion : '' %>">
                              <span>Person<span></span></span>
                              <div class="alert_msg"></div>
                            </div>
                        </div>
						
						<div class="col-sm-6">
                            <div class="animate_form field">
							
                                <select name="delivery" class="form-control">
                                  <option <% if(arrData.delivery=='yes'){ %>selected="selected" <% }%> value="yes">YES</option>
                                  <option <% if(arrData.delivery=='no'){ %>selected="selected" <% }%> value="no">NO</option>  
                                </select>
								<span>Delivery</span>
                            </div>
                        </div>
						
						<!-- <div class="col-sm-6">
                            <div class="animate_form field">
                                <input id="type" class="form-control" name="type" type="text" value="<%= arrData ? arrData.type : '' %>">
                              <span>Type</span>
                              <div class="alert_msg"></div>
                            </div>
                        </div> -->
						
                        <div class="col-sm-6">
                            <div class="animate_form field">
                                <select name="status" class="form-control">
                                  <option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
                                  <option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
                                  <!-- <option <% if(arrData.status=='archive'){ %>selected="selected" <% }%> value="archive">Archive</option> -->
                                </select>
                            </div>
                        </div>

                      </div> 
                    </div>
                  

                    

                  <!-- Attribute Option-->
                  
                  
            

        <div class="btn_right mb-4">
            <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
            <button id="send" type="submit" class="submit_btn">Submit</button>
        </div>


                </form>
              </div>
        </div>
      </div>
</div>





<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>


  <script type="text/javascript">
        function PreviewprofilePicture() {
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("profilePicture").files[0]);
        oFReader.onload = function (oFREvent) {
        document.getElementById("profilePicturePreview").src = oFREvent.target.result;
        };
        };
function validate(evt){
//alert( evt.value);
     evt.value = evt.value.replace(/[^0-9]/g,"");
}

</script>
 <script type="text/javascript">
    function blockChar(e){
        var k;
        document.all ? k = e.keyCode : k = e.which;
        return (k >= 48 && k <= 57);
        }
    </script>   
    <script type="text/javascript">
        function  blockother(e){
            var k;
            document.all ? k = e.keyCode : k = e.which;
            return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 32);
            }
        </script>

<script>
  $(document).ready(function(){
  $(".clone_trigger").click(function () {
      $('.clone').first().clone().insertBefore(".placer");
    $('input.cl:last').val('');
      event.preventDefault();
    });



$(document).on('click','.edit_remove_trigger',function () {
        
         //$(".editclone:last").remove();
         $(this).parents(".editclone").remove();
    
 });
     
    $(document).on('click','.remove_trigger',function () {
     
    if ($(".clone").length != 1) {
        
         $(".clone:last").remove();
          
    }
     
      event.preventDefault();
    });
        
    $('.remove_this_trigger').click(function () {
        if ($(".clone").length != 1) {
            //alert($(this).parent().parent().attr('class'));
            if(confirm("Are you sure you want to delete this?")){
                var el = $(this).parent().parent().parent().parent(); 
                if(el.prev("input[type=hidden]").val() != ''){
                    el.prev("input[type=hidden]").remove();
                }
                el.remove();
            }
            else{
                return false;
            }
        }
        //alert(el.attr('class'));
        //alert($(this).parent().parent().parent().parent().prev("input[type=hidden]").remove());
    });
});
</script>