<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>  
<!-- page content -->
<div class="content_wraper">
	<div class="main_container">          
		<div class="header_wraper">
			<h2><%=title%></h2>
			<ul>
			<li><a href="<%= adminbaseurl %>dashboard">Dashboards</a></li>
            <li><a href="<%= adminbaseurl %>delivery_time_slot"></i> Delivery Time Slot</a></li> 
            <li><%=title%></li>
			</ul>
		</div> 
		
		<% if(messages!='') {%>
		<div class="succ_msg msg" id="succ_msg">    
			<i class="fa fa-check"  aria-hidden="true"></i>        
			<%=messages%>
		</div>
		<%}%>                
		<% if(errors!='') {%>
		<div class="succ_err msg" id="err_msg">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
			<%=errors%>
		</div>
		<% }%> 


		<form id="category-info" class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>delivery_time_slot/add">
			<div class="content_body panel_body">
				<!-- <h3><%=messages%></h3> -->
				<div class="panel_title">
					<h3><%=title%> Info</h3>
				</div>												
				<div class="clearfix"></div>
				<!-- <ul class="nav nav-tabs custom_tab"> -->
					<!-- <li><a data-toggle="tab" href="#gen-info" class="active show">General Information</a></li> -->
					<!-- <!-- <li><a data-toggle="tab" href="#products">Products</a></li> --> 
				<!-- </ul> -->
				<div class="tab-content">
					<!--category content start-->
					<div id="gen-info" class="tab-pane fade in active show">
						<div class="row edit_box">
							<div class="col-sm-6"> 
								<div class="animate_form field">
										<input id="from_time" required="required" class="form-control" name="from_time" type="time" value="<%= arrData ? arrData.from_time : '' %>">
										<span>From Time<span>*</span></span>
									<div class="alert_msg"></div>
								</div>
							</div>
							
							<div class="col-sm-6"> 
								<div class="animate_form field">
										<input id="to_time" required="required" class="form-control" name="to_time" type="time" value="<%= arrData ? arrData.to_time : '' %>">
										<span>To Time<span>*</span></span>
									<div class="alert_msg"></div>
								</div>
							</div>

							<div class="col-sm-6"> 
								<div class="animate_form field">
										<input id="sequence" required="required" class="form-control" name="sequence" type="number" value="<%= arrData ? arrData.sequence : '' %>">
										<span>Sequence<span>*</span></span>
									<div class="alert_msg"></div>
								</div>
							</div>
							
							<div class="col-sm-6">
								<div class="animate_form field">
										<select name="status" class="form-control">
											<option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
											<option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
										</select>
									<span>Status</span>
								</div>
							</div>

						</div>
					</div>
					<!--category content end-->
				</div>
			</div>
			<div class="btn_right mb-4">
				<input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
				<button id="send" type="submit" class="submit_btn">Submit</button>
			</div>
		</form>
		</div>
	</div>
</div>
<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>