<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>



<div class="content_wraper">
	<div class="main_container">
    
        <div class="header_wraper">
        	<h2>Welcome back, <%= username %></h2>
            <p id="wel" onfocus="display1()">Here’s what’s happening with your store right now.</p>
        </div>

        <div class="row">
            <div class="col-lg-4">
            	<div class="sales_card blue" >
                    <h4>Orders Today</h4>
                    <%  if(!arrtotalData[0].totalData || arrtotalData[0].totalData ==''){ %>
                    <h2>0</h2>
                    <% }else{ %>
                    <h2 ></i><%= arrtotalData[0].totalData %></h2>
                    <% } %>
                </div>
            </div>
            <div class="col-lg-4">
            	<div class="sales_card ylow">
                    <h4>Sales Today</h4>
                    <%  if(!arrtodayTotalAmound || arrtodayTotalAmound ==''){ %>
                    <h2><i class="fa fa-inr"></i>0</h2>
                    <% }else{ %>
                    <h2><i class="fa fa-inr"></i><%= arrtodayTotalAmound %></h2>
                    <% } %>
                </div>
            </div>

            
            <div class="col-lg-4">
            	<div class="sales_card purple">
                     
                    <h4>Total Sales</h4>
                    <%  if(!arrtotalAmound || arrtotalAmound ==''){ %>
                    <h2><i class="fa fa-inr"></i>0</h2>
                    
                    <% }else{ %>
                        
                        <h2 style=""><i class="fa fa-inr"></i><%= arrtotalAmound %></h2>
                        
                    <% } %>
                </div>
            </div>
        </div>
        
        <div class="row">
        
        	<div class="col-lg-6">
            	<div class="content_body dash_table">
                	<div class="panel_title">
                        <h3>New Orders</h3>
                    </div>
                    <div class="table-responsive">
                    	<table class="table table-bordered">

                            <% var i=1;
                            arrNewOrder.forEach(function(newOrder) { %>
                            <tr>
                                <td><a href="<%= adminbaseurl%>order/addedit/<%= newOrder.id %>">#<%= newOrder.order_id %></a></td>
                                <%  if(newOrder.customer_name==null || newOrder.customer_name=='' ){ %>
                                <td><%= newOrder.customer_mobile %></td>
                                <% }else{ %>
                                <td><%= newOrder.customer_name %></td>
                                <% } %>
                                <td><span class="price"><i class="fa fa-inr"></i><%= newOrder.grand_total %></span></td>
                                <%  if(newOrder.order_status=="Delivered"){ %>
                                <td><span class="status btn-success">Delivered</span></td>
                                <% }else if(newOrder.order_status=="Shipped"){ %>
                                <td><span class="status btn-info">Shipped</span></td>
                                <% }else if(newOrder.order_status=="Processing"){ %>
                                <td><span class="status btn-primary">Processing</span></td>
                                <% }else if(newOrder.order_status=="Canceled"){ %>
                                <td><span class="status btn-danger">Canceled</span></td>
                                <% }; %>
                            </tr>
                            <% i++; }) %>

                        	<!-- <tr>
                            	<td><a href="#">#120342</a></td>
                                <td>Shubhankar Sinha</td>
                                <td><span class="price"><i class="fa fa-inr"></i>800</span></td>
                                <td><span class="status btn-primary">Processing</span></td>
                            </tr>
                            <tr>
                            	<td><a href="#">#120342</a></td>
                                <td>Shubhankar Sinha</td>
                                <td><span class="price"><i class="fa fa-inr"></i>800</span></td>
                                <td><span class="status btn-info">Shipped</span></td>
                            </tr>
                            <tr>
                            	<td><a href="#">#120342</a></td>
                                <td>Shubhankar Sinha</td>
                                <td><span class="price"><i class="fa fa-inr"></i>800</span></td>
                                <td><span class="status btn-success">Delivered</span></td>
                            </tr>
                            <tr>
                            	<td><a href="#">#120342</a></td>
                                <td>Shubhankar Sinha</td>
                                <td><span class="price"><i class="fa fa-inr"></i>800</span></td>
                                <td><span class="status btn-danger">Canceled</span></td>
                            </tr>
                            <tr>
                            	<td><a href="#">#120342</a></td>
                                <td>Shubhankar Sinha</td>
                                <td><span class="price"><i class="fa fa-inr"></i>800</span></td>
                                <td><span class="status btn-primary">Processing</span></td>
                            </tr>
                            <tr>
                            	<td><a href="#">#120342</a></td>
                                <td>Shubhankar Sinha</td>
                                <td><span class="price"><i class="fa fa-inr"></i>800</span></td>
                                <td><span class="status btn-info">Shipped</span></td>
                            </tr>
                            <tr>
                            	<td><a href="#">#120342</a></td>
                                <td>Shubhankar Sinha</td>
                                <td><span class="price"><i class="fa fa-inr"></i>800</span></td>
                                <td><span class="status btn-success">Delivered</span></td>
                            </tr>
                            <tr>
                            	<td><a href="#">#120342</a></td>
                                <td>Shubhankar Sinha</td>
                                <td><span class="price"><i class="fa fa-inr"></i>800</span></td>
                                <td><span class="status btn-danger">Canceled</span></td>
                            </tr> -->
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6">
            	<div class="content_body dash_table">
                	<div class="panel_title">
                        <h3>Top Products</h3>
                    </div>
                    <div class="table-responsive">
                    	<table class="table table-bordered">
                              
                            <% var i=1;
                            arrProduct.forEach(function(product) { %>
                        	<tr>
                                <td><div class="product_name">
                                <%  if(product.type=="Veg"){ %><span class="indicator veg"><% }else if(product.type=="Nonveg"){ %><span class="indicator nonveg"><% }; %>
                                </span><%= product.title %></div></td>
                                <td><i class="fa fa-inr"></i><%= product.price  %></td>
                                <td><span class="total_order"><span><%= product.numberOfProduct %></span> Orders</span></td>
                            </tr>
                            <% i++; }) %>

                            <!-- <tr>
                                <td><div class="product_name"><span class="indicator nonveg"></span>Chicken Momo</div></td>
                                <td>Fried</td>
                                <td><i class="fa fa-inr"></i>60</td>
                                <td><span class="total_order"><span>422</span> Orders</span></td>
                            </tr>
                            <tr>
                                <td><div class="product_name"><span class="indicator veg"></span>Margarita</div></td>
                                <td>9"</td>
                                <td><i class="fa fa-inr"></i>200</td>
                                <td><span class="total_order"><span>405</span> Orders</span></td>
                            </tr>
                            <tr>
                                <td><div class="product_name"><span class="indicator veg"></span>Golden Corn Pizza</div></td>
                                <td>12"</td>
                                <td><i class="fa fa-inr"></i>360</td>
                                <td><span class="total_order"><span>382</span> Orders</span></td>
                            </tr>
                            <tr>
                                <td><div class="product_name"><span class="indicator nonveg"></span>Chicken Golden Delight</div></td>
                                <td>9"</td>
                                <td><i class="fa fa-inr"></i>300</td>
                                <td><span class="total_order"><span>370</span> Orders</span></td>
                            </tr>
                            <tr>
                                <td><div class="product_name"><span class="indicator nonveg"></span>Chicken Somosa</div></td>
                                <td>8Pc</td>
                                <td><i class="fa fa-inr"></i>80</td>
                                <td><span class="total_order"><span>320</span> Orders</span></td>
                            </tr>
                            <tr>
                                <td><div class="product_name"><span class="indicator veg"></span>Cheese Garlic Bread</div></td>
                                <td>8Pc</td>
                                <td><i class="fa fa-inr"></i>50</td>
                                <td><span class="total_order"><span>300</span> Orders</span></td>
                            </tr>
                            <tr>
                                <td><div class="product_name"><span class="indicator veg"></span>Chese Nuggets</div></td>
                                <td>4Pc</td>
                                <td><i class="fa fa-inr"></i>40</span></td>
                                <td><span class="total_order"><span>280</span> Orders</span></td>
                            </tr>
                            <tr>
                                <td><div class="product_name"><span class="indicator nonveg"></span>Chicken Popcorn</div></td>
                                <td>Large</td>
                                <td><i class="fa fa-inr"></i>60</td>
                                <td><span class="total_order"><span>270</span> Orders</span></td>
                            </tr> -->
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>

<%- include ../partials/footer.html %>

<script>
function display1(){
    var c=0;
        var element=document.activeElement;
    while(c<1){
        responsiveVoice.speak(element.value,"Hindi Female");
        c++;}	
    }


window.onload = function() {
    
      document.getElementById("wel").focus();
    };

    function savetext(){
	   var cookieValue = document.activeElement.innerHTML;
	       responsiveVoice.speak(cookieValue,"Hindi Female");
	   }
    
</script>
<script>


</script>