<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>       

<!-- page content -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- <script src="<%= baseurl %>public/superpos/build/js/typeahead.min.js" type="text/javascript"></script> -->

<div class="content_wraper">
    <div class="main_container">
    
        <div class="header_wraper">
            <h2><%=title%></h2>
            <ul>
                <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
                <li><h4><%=title%><small></small></h4></li>
            </ul>
        </div>

        <% if(messages!='') {%>
        <div class="succ_msg msg" id="succ_msg">    
            <i class="fa fa-check"  aria-hidden="true"></i>        
            <%=messages%>
        </div>
        <%}%>                
        <% if(errors!='') {%>
        <div class="succ_err msg" id="err_msg">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
            <%=errors%>
        </div>
        <% }%>  
            
        <div class="content_body">
            <div class="table_heading">
                <h3>Manage Roles</h3>
                <div class="table_search" id="search_rol">
                <input type="text" placeholder="Search Roles by name..." onkeyup="searchRoles(this.value)"  id="search_roles" >
                    <a href="javascript:void(0)" data-toggle="tooltip" title="Close" class="close_search">&times;</a>
                </div>
                <!-- <ul>
                <li>
                    <span class="label_info">No item selected</span>
                    <a href="javascript:void(0)" data-toggle="tooltip" title="Delete Roles" onclick="deleteRoleMul()"><span class="fa fa-trash-o"></span></a>
                    </li>
                <li>
                    <a href="javascript:void(0)" data-toggle="tooltip" title="Search_Roles" class="open_search" 
                    class="typeahead tt-query" spellcheck="false" autocomplete="off" name="typeahead" type="text"><span class="fa fa-search"></span></a>
  
                    </li>
                    <li data-toggle="tooltip" title="Show Entries">
                        <a href="javascript:void(0)" class="dropdown-toggle" id="show_entry" data-toggle="dropdown" aria-expanded="true"><span class="fa fa-list-ul"></span></a>
                        <div class="dropdown-menu" aria-labelledby="show_entry">
                            <a class="dropdown-item" href="javascript:void(0)">10</a>
                            <a class="dropdown-item" href="javascript:void(0)">25</a>
                            <a class="dropdown-item" href="javascript:void(0)">50</a>
                            <a class="dropdown-item" href="javascript:void(0)">100</a>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-toggle="tooltip" title="Export All" ><span class="fa fa-download"></span></a>
                    </li>
                </ul> -->
            </div>

            <div class="table-responsive table_wraper">
                <table class="table" id="table_srch">
                    <thead>
                        <tr>
                            <th class="checkbox_cell">
                            <!-- <label class="checkbox"><input type="checkbox" id="checkAll"  name="check"><span></span></label> -->
                            </th>
                            <th style="width:15px">Sl No</th>
                            <th>Name</th>  
                            <th>Description</th>                          
                            <th>Status</th>                          
                            <th>Action</th>
                            <th>
                            <a href="<%= adminbaseurl %>roles/addedit" class="add_btn"><span>+</span></a>
                            </th>
                        </tr>
                    </thead>


                    <tbody id="table_srch2">
    
                        <% var i= startingNumber ? startingNumber : 1;
                        arrData.forEach(function(val) { %>	
	
                        <tr>
                            <td class="checkbox_cell">
                                <!-- <label class="checkbox Select"><input type="checkbox" class="checkSelect" value="<%= val.id %>"><span></span></label> -->
                            </td>
                            <td> <%= i %></td>
                            <td> <%= val.name %></td>
                            <td> <%= val.description %></td>
                      		<td> <%= val.status %></td>
							
                            <td>
                                <a href="<%= adminbaseurl%>roles/addedit/<%= val.id %>" class="edit_btn"><i class="fa fa-pencil"></i></a>
                                <a href="<%= adminbaseurl%>roles/delete/<%= val.id %>" class="edit_btn" onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash"></i></a>
                            </td>
                                    
                        </tr>
                        <% i++; }) %>
                    </tbody>
                </table>
            </div>
                    
            <div class="pagination_sec">
                    <% if(Array.isArray(arrData)){ 
                        if(arrData.length > 0){%>
                    <div class="table_info">Showing <%= startingNumber ? startingNumber : '' %> to <%= endingNumber ? endingNumber : '' %> of <%= itemCount ? itemCount : ''%> entries</div>   
                    <% }} %>
                    <%  if (paginate.hasPreviousPages || previousPage) { %>
                    <ul>
                        <% if(paginate.hasPreviousPages) {%>
                        <li><a href="<%= paginate.href(true) %>">Previous</a></li>
                        <% }else{ %>
                        <li><a href="javascript:void(0)" class="disable">Previous</a></li>
                        <% } %>
                        <% pages.forEach(function(page) { %>
                        <li><a href="<%= page.url %>" <% if(currentPage && currentPage == page.number ) {%> class="active" <% } %>><%= page.number%></a></li>
                        <%  }) %>
                        <% if(previousPage) {%>
                        <li><a href="<%= paginate.href() %>">Next</a></li>
                        <% }else{ %>
                        <li><a href="javascript:void(0)" class="disable">Next</a></li>
                        <% } %>
                    </ul>
                    <% } %>
                </div>   
        
    </div>
</div>


<!-- page content -->
<%- include ../partials/footer.html %>

<script>
    $("#checkAll").click(function () {
      $('input:checkbox').not(this).prop('checked', this.checked);
  });
 </script>
     
<script>
    $(document).ready(function(){
        var checkboxes = $('.checkbox input[type="checkbox"]'); 
        checkboxes.click(function(){
            var countCheckedCheckboxes = checkboxes.filter(':checked').length;
            if(countCheckedCheckboxes > 0){
                $('.label_info').text(countCheckedCheckboxes-1+' item(s) selected');
                
            }else{
                $('.label_info').text('No item selected');
            } 
        });
    });

    $(".checkSelect").change(function () {
  
  var lenghtCheck= $('input[class="checkSelect"]:checked').filter(':checked').length
  console.log(lenghtCheck);
          if( lenghtCheck > 0){
              $('.label_info').text(lenghtCheck+' item(s) selected');
          }else{
              $('.label_info').text('No item selected');
          }
 });


    function deleteRoleMul() {  
    var chkArray = []; 
    /* look for all checkboes that have a class 'chk' attached to it and check if it was checked */
    $('input[class="checkSelect"]:checked').each(function() {
    chkArray.push($(this).val());
    });
    var chkArraylengh = chkArray.length;
    if(chkArraylengh > 0){
    console.log(chkArray)
        var Data = { 'check' :chkArray}
        var answer = confirm ("Are you sure you want to delete from the database?");
            if(answer){
    $.ajax({ 
        url: "<%= apiurl %>RolesMul/delete",
        type:'POST',
        data: Data,
        success:function(response){
           
            console.log(response);
            window.location.reload();
            },
        error: function (e) {
            
            console.log("ERROR : ", e);
        }
        });   
    }
}else{
        alert('For delete select first ');
     }

}
</script>

<script type="text/javascript">
    function searchRoles(val){
    //  alert('qqqqqqqq')
    //  alert(val)

        $.ajax({ 
            url: "<%= apiurl %>searchRoleList",
            type:'post',
            data:{ 'typeahead' :val},
            success:function(response){
               
               console.log(response);

               $("#table_srch2").empty();
               $("#pagination").remove();
               var i=1;
               var itemHtml= '';
               response.role.forEach(function(res){ 
                   console.log(res) 
                  
         itemHtml+=  
                     
           
                    '<tr>'+
                '<td class="checkbox_cell"><label class="checkbox"><input type="checkbox" '+res.id+'><span></span></label></td>'+
                '<td> '+i+'</td>'+
                '<td> '+res.name+' </td>'+
                '<td>'+res.description+' </td>'+
                 '<td> '+res.status+' </td>'+
                '<td><a href="<%= adminbaseurl%>roles/delete/'+res.id+'" class="edit_btn"><i class="fa fa-trash"></i></a></td>'+     
                '</tr>';
      
                i++;
            
             })
             $('#table_srch2').append(itemHtml);  
           
             
        },
            error: function (e) {
                
                console.log("ERROR : ", e);
            }
            });  
    }
      
        </script>
    