<%- include ../partials/header %>       
<%- include ../partials/sidebar %>

<!-- page content -->
<div class="right_col" role="main"> 
    <div class="page-title">
      <div class="title_left">
          <h3><%=title%><small></small></h3>
      </div>  
          <h4><%=messages%></h4>
      <div class="title_right text-right">
          <a href="<%= adminbaseurl%>call_to_action" class="btn btn-success right">List of Call to Action</a>
      </div>
    </div>    
    <div class="x_panel">  
        <h4 style="color:brown"><%=errors%></h4> 
        <form name="calltoaction" class="form-horizontal form-label-left"  onSubmit="return  myFunction()" enctype="multipart/form-data"  novalidate   method="POST" action="<%= adminbaseurl %>call_to_action/add">                                             
                                 
            <div class="item form-group field">
                <label class="control-label col-sm-3 col-xs-12">Title<span class="required"> *</span></label>
                <div class="col-sm-6 col-xs-12">
                    <input type="text" class="form-control" name="title" value="<%= arrData ? arrData.title : '' %>" required>
                </div>
            </div>
            <div class="item form-group field">
                <label class="control-label col-sm-3 col-xs-12">Description<span class="required"> *</span></label>
                <div class="col-sm-6 col-xs-12">
                    <textarea type="text" class="form-control" name="description" required><%= arrData ? arrData.description : '' %></textarea>
                </div>
            </div> 
            <div class="item form-group field">
                <label class="control-label col-sm-3 col-xs-12">Background Image<span class="required"> *</span></label>
                <div class="col-sm-6 col-xs-12">                 
                    <input type="file" id="backgroungImage" class="form-control" name="backgroungImage" <% if(!arrData){%> required<%}%> onchange="PreviewbackgroungImage();">                                                                        
                    <img id="backgroungImagePreview" <% if(arrData){ if( arrData.backgroungImage!='') {%> src="<%= arrData.backgroungImage %>"<% }else{ %> src="<%= baseurl %>myimages/no_image_selected.png"<% }  }else{ %> src="<%= baseurl %>myimages/no_image_selected.png"<% } %> style="width: 266px; height: 100px;"> 
                    <input type="hidden" name="update_backgroungImage" value="<%= arrData ? arrData.backgroungImage : '' %>">
                    <p>Size Requirement: 2000 x 869 px ( W x H )</p>
                </div>                                        
            </div>
            <div class="item form-group field">
                <label class="control-label col-sm-3 col-xs-12">Image<span class="required"> *</span></label>
                <div class="col-sm-6 col-xs-12">                 
                    <input type="file" id="image" class="form-control" name="image" <% if(!arrData){%> required<%}%> onchange="PreviewImage();">                                                                        
                    <img id="imagePreview" <% if(arrData){ if( arrData.image!='') {%> src="<%= arrData.image %>"<% }else{ %> src="<%= baseurl %>myimages/no_image_selected.png"<% }  }else{ %> src="<%= baseurl %>myimages/no_image_selected.png"<% } %> style="width: 266px; height: 100px;"> 
                    <input type="hidden" name="update_image" value="<%= arrData ? arrData.image : '' %>">
                    <p>Size Requirement: 481 x 579 px ( W x H )</p>
                </div>                                        
            </div> 
            <div class="item form-group field" id="moduleId">
                <% var mod=[];
                if(arrData){
                    var modArr=arrData.moduleId;
                    var mod=modArr.split(",");                
                }%>
              <label class="control-label col-sm-3 col-xs-12">Modules <span class="required"> *</span></label>
              <div class="col-sm-6 col-xs-12">
                <select class="multipleselect" required multiple="true" name="moduleId" >
                    <% arrModules.forEach(function(modules){
                        var select='';
                        mod.forEach(function(modId){ 
                            if(modId==modules.id) {
                                select='selected="selected"';
                            }                         
                        });%>
                        <option <%= select %>  value="<%=modules.id%>"><%=modules.name%></option>                    
                    <% }); %>                   
                </select>
                <style>
                .multipleselect{ width:100%;}
                .multipleselect option{padding: 1em;}
                </style>
              </div>
            <div id="err_percent"></div>
            </div>            
            <input type="hidden" name="updated_id" value="<%= arrData ? arrData.id : '' %>" >
            <div class="ln_solid"></div>
            <div class="form-group field">
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success"><% if(arrData && arrData.id!='') {%>Update<% } else {%> Submit <% } %></button>
                </div>
            </div> 
        </form>   
    </div>    
</div>
<!-- page content -->
<script>            
    CKEDITOR.replace( 'description' );   
</script>
<!-- image preview -->       
<script type="text/javascript">
    function PreviewImage() { 
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("image").files[0]);
        oFReader.onload = function (oFREvent) { 
            document.getElementById("imagePreview").src = oFREvent.target.result;
        };
    }; 
    
    function PreviewbackgroungImage() { 
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("backgroungImage").files[0]);
        oFReader.onload = function (oFREvent) { 
            document.getElementById("backgroungImagePreview").src = oFREvent.target.result;
        };
    }; 
</script>

<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<%- include ../partials/footer %>
<script type="text/javascript"> 
  //Chosen
  jQuery(".choose").chosen({
    max_selected_options: 10,
  placeholder_text_multiple: ""
  });
</script>
<script>
    // function myFunction() {  
    //     alert("vhvhjvjhv");      
    // submitFlag = false;
    //     var x=document.forms["calltoaction"]["moduleId"].options[0].selected;       
        
    //     if(x==''){
    //         submitFlag = false;         
    //         $("#moduleId").addClass("bad");              
    //         document.getElementById('err_percent').classList.add("alert");
    //         document.getElementById('err_percent').innerHTML = "This is mandatory field";
    //     }
    // return submitFlag;
       
    // }
    // $("select").on('click', 'option', function() {
    //     alert("jsdvhkfsdb");
    // if ($("select option:selected").length > 3) {
    //     $(this).removeAttr("selected");
    //     // alert('You can select upto 3 options only');
    // }
// });
</script>
