<%- include ../partials/header %>       
<%- include ../partials/sidebar %>
<!-- page content -->
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3><%= title %></h3>
        </div>
        <h4><%= delete_message %></h4>
        <div class="title_right text-right">
          <a href="../superpos/call_to_action/addedit" class="btn btn-success right"><i class="fa fa-plus"></i> Add Call to Action</a>
        </div>
      </div>  
      <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">              
              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th style="width: 1%">Sl No.</th>
                    <th style="width: 20%">Title</th>
                    <th style="width: 25%">Image</th>
                    <th>Modules</th>
                    <th style="width: 15%">Action</th>
                  </tr>
                </thead>
                <tbody>                        
                <% var i=1;                
                arrData.forEach(function(val) { 
                  var problem='';%>         
                  <tr>
                    <td><%= i%></td>  
                    <td> <%= val.title %></td>
                    <td><img width="100%" height="120px" src="<%= val.image  %>" ></td>
                    <% var modId=val.moduleId;
                    var modulesId=modId.split(",");
                    console.log(modulesId);                    
                    %>                      
                    <td>
                      <% var j=0;
                      arrModules.forEach(function(modules) { 
                        modulesId.forEach(function(modIds) { 
                          if(modIds==modules.id){%>
                            <% problem=problem+ modules.name+',';%>
                          <%}
                        });
                      j++;});%>
                      <%
                      problemi=problem.lastIndexOf(",");				
                      var modName=problem.substr(0,problemi);
                      %>
                      <%=modName %>
                    </td> 
                    <td><a href="<%=adminbaseurl%>call_to_action/addedit/<%= val.id %>"  class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                      <a href="<%=adminbaseurl%>call_to_action/delete/<%= val.id %>" class="btn btn-danger btn-xs" onclick="return(confirm('Do you really want to delete?'));" ><i class="fa fa-trash-o"></i> Delete</a></td>                  
                  </tr>
                <% i++;}) %>                        
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
<!-- page content -->
<%- include ../partials/footer %>