<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>  
<!-- page content -->
<div class="content_wraper">
	<div class="main_container">          
		<div class="header_wraper">
			<h2><%=title%></h2>
			<ul>
			<li><a href="<%= adminbaseurl %>dashboard">Dashboards</a></li>
            <li><a href="<%= adminbaseurl %>shipping_method"></i> Shipping Method</a></li> 
            <li><%=title%></li>
			</ul>
		</div> 

		<% if(messages!='') {%>
		<div class="succ_msg msg" id="succ_msg">    
			<i class="fa fa-check"  aria-hidden="true"></i>        
			<%=messages%>
		</div>
		<%}%>                
		<% if(errors!='') {%>
		<div class="succ_err msg" id="err_msg">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
			<%=errors%>
		</div>
		<% }%> 


		<form id="category-info" class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>shipping_method/add">
			<div class="content_body panel_body">
				<!-- <h3><%=messages%></h3> -->
				<div class="panel_title">
					<h3><%=title%> Info</h3>
				</div>												
				<div class="clearfix"></div>
				<!-- <ul class="nav nav-tabs custom_tab"> -->
					<!-- <li><a data-toggle="tab" href="#gen-info" class="active show">General Information</a></li> -->
					<!-- <!-- <li><a data-toggle="tab" href="#products">Products</a></li> --> 
				<!-- </ul> -->
				<div class="tab-content">
					<!--category content start-->
					<div id="gen-info" class="tab-pane fade in active show">
						<div class="row edit_box">

								<div class="col-sm-6"> 
									<div class="animate_form field">
											<input id="sequence" required="required" class="form-control" name="name" type="text" value="<%= arrData ? arrData.name : '' %>">
											<span>Name<span>*</span></span>
										<div class="alert_msg"></div>
									</div>
								</div>

								<div class="col-sm-6"> 
									<div class="animate_form field">
											<input id="sequence" required="required" oninput="oneDecimal(event)" class="form-control" name="price" type="text" value="<%= arrData ? arrData.price : '' %>">
											<span>Price<span>*</span></span>
										<div class="alert_msg"></div>
									</div>
								</div>

							<div class="col-sm-6"> 
								<div class="animate_form field">
										<input id="from_time" required="required" class="form-control" name="from_time" type="time" value="<%= arrData ? arrData.from_time : '' %>">
										<span>Activate Time From<span>*</span></span>
									<div class="alert_msg"></div>
								</div>
							</div>
							
							<div class="col-sm-6"> 
								<div class="animate_form field">
										<input id="to_time" required="required" class="form-control" name="to_time" type="time" value="<%= arrData ? arrData.to_time : '' %>">
										<span>Activate Time To<span>*</span></span>
									<div class="alert_msg"></div>
								</div>
							</div>

							<!-- <div class="col-sm-6"> 
								<div class="animate_form field">
										<input id="sequence" required="required" class="form-control" name="sequence" type="number" value="<%= arrData ? arrData.sequence : '' %>">
										<span>Sequence<span>*</span></span>
									<div class="alert_msg"></div>
								</div>
							</div> -->
							
							<div class="col-sm-6">
								<div class="animate_form field">
										<select name="status" class="form-control">
											<option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
											<option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
										</select>
									<span>Status</span>
								</div>
							</div>

						</div>
					</div>
					<!--category content end-->
				</div>
			</div>
			<div class="btn_right mb-4">
				<input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
				<button id="send" type="submit" class="submit_btn">Submit</button>
			</div>
		</form>
		</div>
	</div>
</div>
<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>

<script>
	function validatenumber(event) {
    console.log(event.target.value);
    // event.target.parentElement.classList.add("bad");
    var regex = /^[0-9]*(?:\.\d{1,2})?$/;    // allow only numbers [0-9] 
    // if( !regex.test(event.target.value) ) {
    //   alert('invalid value');
    // console.log(event.target.parentElement)
	if( !regex.test(event.target.value)){
      // alert('invalid value');
      console.log(event.target.parentElement.classList)
      // event.target.classList.contains('bad')
      if(!event.target.parentElement.classList.contains('bad')){
        // alert('no')
        // console.log($(event.target.parentNode))
        //  $(event.parentNode).addClass("bad");
        $(event.target.parentElement).next('div').remove();
        $('<div class="alert" style="color: #f00;">Must enter a valid price</div>' ).insertAfter(event.target.parentElement);
      }                
    }else{
      console.log(event.target.nextElementSibling);
      event.target.parentElement.classList.remove("bad");
      $(event.target.parentElement).next('div').remove();
      // event.target.nextElementSibling.remove();    
    }
  }

  function oneDecimal(evt){       
        // console.log(evt)
        var val = evt.target.value;
        // var val = $(this).val();
        if(isNaN(val)){
            val = val.replace(/[^0-9\.]/g,'');
            if(val.split('.').length>2) 
            val =val.replace(/\.+$/,"");
		}
		
			evt.target.value=val;
		
        // if(event.target.name=="currentPercentage" || event.target.name=="peakPercentage"){
        //     if(val > 100){
        //         // alert("100")
        //         evt.target.value=100;
        //     }else{
        //         // alert("99")
        //         evt.target.value=val;
        //     }
        // }else{
        //     // alert("not")
        //     evt.target.value=val;
        // }
        
        // console.log(val)
        // $(this).val(val);
	}
	
</script>