<%- include ../partials/header %>       
<%- include ../partials/sidebar %>
<!-- page content -->

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3><%= title %></h3>
            
             
            <div class="succ_msg msg">
            
           
            </div>
             
             
              <% if(errors!='') {%>
            <div class="succ_err msg">
           <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
           <%=errors%>
            </div>
             <% }%>
             
          </div>
                 
          <div class="title_right text-right">
                  <a href="<%= adminbaseurl%>attribute_option" class="btn btn-success right">List of Attribute Option</a>
                </div>
          
           
               
          <!-- <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Go!</button>
                      </span>
              </div>
            </div>
          </div> -->
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              
              <div class="x_content">

                <form name="role" class="form-horizontal form-label-left" novalidate method="POST" action="<%= adminbaseurl %>attribute_option/add">

                   <!-- <p>For alternative validation library <code>parsleyJS</code> check out in the <a href="form.html">form page</a>
                  </p>  -->

                  <!-- <div class="row x_title">

                    <div class="col-sm-6 col-xs-12">
                      <label for="password" class="control-label col-md-3">Dropdown</label> 
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select name="dropdownId" class="form-control col-md-7 col-xs-12" onchange="getval(this)">
                          <option value="">Select</option>
                          <% arrDrop.forEach(function(drop) { %>
                          <option <% if(id==drop.id){ %>selected="selected" <% }%>  value="<%=drop.id%>" ><%=drop.name%></option>
                          
                            <% }) %>
                        </select>
                      </div>

                    </div> -->

                    
                    <div class="col-sm-6 col-xs-12 text-right">
                        <button class="clone_trigger btn btn-primary" type="button"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                    </div>  
                

                  </div>




                  

                  <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="optionLabel">Value<span class="required"></span>
                    </label>
                      </div>

                      <div class="col-sm-3 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="optionValue">Label<span class="required"></span>
                    </label>
                      </div>
                  <div class="col-sm-3 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="optionPosition">Position<span class="required"></span>
                    </label>
                  </div>
                  </div>

                <!-- <div class="row">
                      <% arrOption.forEach(function(opt) { %>
                      
				          <div class="editclone">
                  <div class="col-sm-12" style=" margin-bottom: 1%;">
                  <div class="row">
                      <div class="item col-sm-3 col-xs-12 field">
                          <input name="optionLabel[]" value="<%= opt ? opt.optionLabel : '' %>"  type="text" id="optionLabel[]"  class="form-control col-md-7 col-xs-12" >
                      </div>


                      
                      <div class="item col-sm-3 col-xs-12 field">
                          <input name="optionValue[]" type="text" id="optionValue"  value="<%= opt ? opt.optionValue : '' %>" class="form-control col-md-7 col-xs-12" >
                      </div>

                       <div class="item col-sm-3 col-xs-12 field">
                          <input name="optionPosition[]" type="number" id="optionPosition"  value="<%= opt ? opt.optionPosition : '' %>" class="form-control col-md-7 col-xs-12">
                      </div>
                        <div class="item col-sm-3 col-xs-12 field">
                          <button class="edit_remove_trigger btn btn-danger" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
                        </div>
                

                      <input name="updateId[]" type="hidden" value="<%= opt ? opt.id : '' %>">
		              </div>
                </div>
              </div>
                      <% }) %>
            </div> -->



                  <div class="row">
                  <div class="clone">
                  <div class="col-sm-12" style=" margin-bottom: 1%;">
                  <div class="row">
                   
                      <div class="item col-sm-3 col-xs-12 field">
                          <input value=""   type="text" id="optionLabel[]" name="optionLabel[]" class="form-control col-md-7 col-xs-12" >
                      </div>


                      
                      <div class="item col-sm-3 col-xs-12 field">
                          <input type="text"  id="optionValue" name="optionValue[]" value="" class="form-control col-md-7 col-xs-12" >
                      </div>

                       <div class="item col-sm-3 col-xs-12 field">
                          <input type="number"  id="optionPosition" name="optionPosition[]" value="" class="form-control col-md-7 col-xs-12" >
                      </div>
                        <div class="col-sm-3 col-xs-12">
                          <button class="remove_trigger btn btn-danger" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
                        </div>
                        
                        <input name="updateId[]" type="hidden" value="">
                        
                  </div>
                  </div>
                  </div>
                  <div class="placer"></div>
                  
                  </div>

                   
                  
                 

                  

                  
                 
                  <!-- <div class="ln_solid"></div> -->
                  <div class="form-group">
                    <div class="col-md-6 col-md-offset-3">
                    <input name="update_id" value="<%= arrData ? arrData.id : '' %>" type="hidden">
                      <!-- <button type="submit" class="btn btn-primary">Cancel</button> -->
                      <button id="send" type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<script src="<%= adminbaseurl %>vendors/jquery/dist/jquery.min.js"></script>
<script>
  $(document).ready(function(){
  $(".clone_trigger").click(function () {
      $('.clone').first().clone().insertBefore(".placer");
    $('input.cl:last').val('');
      event.preventDefault();
    });



$(document).on('click','.edit_remove_trigger',function () {
        
         //$(".editclone:last").remove();
         $(this).parents(".editclone").remove();
    
 });
     
    $(document).on('click','.remove_trigger',function () {
     
    if ($(".clone").length != 1) {
        
         $(".clone:last").remove();
          
    }
     
      event.preventDefault();
    });
        
    $('.remove_this_trigger').click(function () {
        if ($(".clone").length != 1) {
            //alert($(this).parent().parent().attr('class'));
            if(confirm("Are you sure you want to delete this?")){
                var el = $(this).parent().parent().parent().parent(); 
                if(el.prev("input[type=hidden]").val() != ''){
                    el.prev("input[type=hidden]").remove();
                }
                el.remove();
            }
            else{
                return false;
            }
        }
        //alert(el.attr('class'));
        //alert($(this).parent().parent().parent().parent().prev("input[type=hidden]").remove());
    });
});
function getval(drop)
{
  window.open('<%= adminbaseurl %>selectoption/addedit/'+drop.value,"_self");
   
}
</script>
 <script src="<%= adminbaseurl %>vendors/validator/validator.js"></script> 
<!-- page content -->
<%- include ../partials/footer %>



      
