<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>       


<link href="<%= adminbaseurl %>build/css/croppr.css" rel="stylesheet">
<script src="<%= adminbaseurl %>ckeditor/ckeditor.js"></script>

<!-- page content -->

<div class="content_wraper">
    <div class="main_container">
          
      <div class="header_wraper">
        <h2><%=title%></h2>
          <ul>
            <li><a href="<%= adminbaseurl %>dashboard">Dashboards</a></li>
            <li><a href="<%= adminbaseurl %>banner">Banner</a></li>
            <li><%=title%></li>
          </ul>
      </div>

      <% if(messages!='') {%>
      <div class="succ_msg msg" id="succ_msg">    
        <i class="fa fa-check"  aria-hidden="true"></i>        
        <%=messages%>
      </div>
      <%}%>                
      <% if(errors!='') {%>
      <div class="succ_err msg" id="err_msg">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
        <%=errors%>
      </div>
      <% }%>


      <form id="category-info" class="form-horizontal form-label-left" novalidate method="post"   enctype="multipart/form-data" action="<%= adminbaseurl %>banner/add">
          <div class="content_body panel_body">

            <div class="panel_title">
              <h3><%=title%> Info</h3>
            </div>
                
            <div class="clearfix"></div>
             <!-- <ul class="nav nav-tabs custom_tab">
              <li><a data-toggle="tab" href="#gen-info" class="active show">General Information</a></li>
              
            </ul>  -->

                  <div class="tab-content">

                    <!--category content start-->
                    <div id="gen-info" class="tab-pane fade in active show">

                        <div class="row edit_box">

                            <!-- <div class="col-sm-6"> 
                              <div class="animate_form">
                                  <input id="store_id" class="form-control" name="store_id" type="text" required="required" pattern="[0-9]{1,5}" value="<%= arrData ? arrData.store_id : '' %>">
                                  <span>Title<span>*</span></span>
                                <div class="alert_msg"></div>
                              </div>
														</div> -->
														
                            <div class="col-sm-6"> 
                              <div class="animate_form field">
                                  <input id="title" class="form-control" name="title" type="text" required="required" value="<%= arrData ? arrData.title : '' %>">
                                  <span>Title<span>*</span></span>
                                
                              </div>
                            </div>

                            <div class="col-sm-6">
                              <div class="animate_form field">
                                  <select name="category_id" class="form-control" >
                                  <option value="" selected disabled>-- Select --</option>
                                  <% arrCategory.forEach(function(cat){%>
                                    <option <% if(arrData.category_id==cat.id){ %>selected="selected" <% }%> value="<%=cat.id%>"><%=cat.title%></option>
                                    <% })%>
                                  </select>
                                <span>Category</span>
                              </div>
                          </div>

                            <div class="col-sm-6" style="display: none">
                                <div class="animate_form field">
                                    <select name="store_id" class="form-control">
                                    <option value="" selected disabled>-- Select --</option>
                                    <% arrStores.forEach(function(sto){%>
                                      <option <% if(arrData.store_id==sto.id){ %>selected="selected" <% }%> value="<%=sto.id%>"><%=sto.name%></option>
                                      <% })%>
                                    </select>
                                  <span>Store</span>
                                </div>
                            </div>
                            

                            
                            <div class="col-sm-6">
                              <div class="animate_form field" >
                                  <select name="type" class="form-control">
                                    <option <% if(arrData.type=='Advertise'){ %>selected="selected" <% }%> value="Advertise">Advertise</option>
                                    <option <% if(arrData.type=='Slider'){ %>selected="selected" <% }%> value="Slider">Slider</option>
                                  </select>
                                <span>Banner Type</span>
                              </div>
                          </div>

                            <div class="col-sm-6"> 
                              <div class="animate_form field">
                                  <label class="control-label" for="short_description">Short Description </label>
                                  <textarea rows="4" type="text" id="short_description" name="short_description"  class="form-control"><%= arrData ? arrData.short_description : '' %></textarea>
                                </div>
														</div>
														
                            <!-- <div class="col-sm-4"> 
                                <div class="animate_form">
                                    <input type="text" id="parent_category_id" name="parent_category_id"  class="form-control" value="<%= arrData ? arrData.parent_category_id : '' %>">
                                    <span>Parent Category Id <span>*</span></span>
                                  <div class="alert_msg"></div>
                                </div>
                            </div> -->
                            <div class="col-sm-6">
                                <div class="animate_form field">
                                    <input type="text" id="url" name="url"  onkeyup="this.value=this.value.replace(/[ ]/g,'');" class="form-control" value="<%= arrData ? arrData.url : '' %>">
                                  <span>Url</span>
                                </div>
                            </div>
                            <!-- <div class="col-sm-6">
                                <div class="animate_form">
                                    <input type="text" id="type" name="type"  class="form-control" value="<%= arrData ? arrData.type : '' %>">
                                    <span>Type</span>
                                </div>
                            </div> -->
                            
                            <div class="col-sm-6" style="display: none">
                              <div class="animate_form field">
                                  <select name="display_type" class="form-control">
                                  <option value="" selected disabled>-- Select --</option>
                                  <% arrBannerDisplay.forEach(function(dis){%>
                                    <option <% if(arrData.display_type==dis.id){ %>selected="selected" <% }%> value="<%=dis.id%>"><%=dis.title%></option>
                                    <% })%>
                                  </select>
                                <span>Banner Display Type</span>
                              </div>
                          </div>

                          <div class="col-sm-6" style="display: none">
                            <div class="animate_form field">
                                <select name="section" class="form-control">
                                <option value="" selected disabled>-- Select --</option>
                                <% arrBannerSection.forEach(function(sec){%>
                                  <option <% if(arrData.section==sec.id){ %>selected="selected" <% }%> value="<%=sec.id%>"><%=sec.title%></option>
                                  <% })%>
                                </select>
                              <span>Banner Section</span>
                            </div>
                        </div>

														<!-- <div class="col-sm-6">
                                <div class="animate_form field">
                                    <input type="text" id="row" name="row"  class="form-control" value="<%= arrData ? arrData.row : '' %>" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                    <span>Row</span>
                                </div>
														</div> -->

														 <div class="col-sm-6">
                                <div class="animate_form field">
                                    <input id="sequence" class="form-control" required="required" name="sequence" type="text" value="<%= arrData ? arrData.sequence : '' %>" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                    <span>Sequence<span>*</span></span>
                                </div>
                            </div>

														
														<div class="col-sm-6">
																<div class="animate_form field" >
																		<select name="status" class="form-control">
																			<option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
																			<option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
																		</select>
																	<span>Status</span>
																</div>
														</div>
                
                        </div>
                        
                      
                          <div class="panel_title">
                              <h3>Banner Image<span>*</span></h3>
                          </div>
                          <div class="animate_form field">
                            <div class="imageupload">
                              <div class="file-tab">
                                <div class="">
                                      <i class="fa fa-upload" aria-hidden="true"></i>
                                      <span>Browse</span>
                                      <!-- The file is stored here. -->
                                      <!-- <input type="file" name="image-file"> -->
                                      <input type="file" id="image" name="image" <% if(arrData && arrData.image && arrData.image!=''){  }else {%> required="required"<% }%> value="<%= arrData ? arrData.image : '' %>"  class="file js-loadfile" onchange="PreviewImage();" accept="image/*" data-type='image' />
                                      <input id="uploadHiddenCropImage" name="uploadHiddenCropImage" value="" type="hidden">
                                </div>
                                    <!-- <button type="button" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i> Remove</button> -->
                              </div>
                              <div class="row">
                                <div id="cropperImageContainer" class="col-md-8">
                                  <img id="cropper" <% if(arrData){ if(arrData.image==null) {%> src="<%= baseurl %>superpos/myimages/no_image.jpg"<% }else{ %> src="<%= arrData.image %>"<% } }else{ %> src="<%= baseurl %>superpos/myimages/no_image.jpg"<% } %> alt="" style="display:none;">
                                </div>
                                <div class="imgpreview col-md-4">
                                  <img id="imagePreview" <% if(arrData){ if(arrData.image==null) {%> src="<%= baseurl %>superpos/myimages/no_image.jpg"<% }else{ %> src="<%= arrData.image %>"<% } }else{ %> src=""<% } %>  />
                                  <input name="update_image" value="<%= arrData ? arrData.image : '' %>" type="hidden">
                                </div> 
                              </div>
                            </div>
                          </div>
                            
                    </div>
                    <!--category content end-->

                    

                  </div>
          </div>
                <div class="btn_right mb-4">
                  <input type="hidden"  name="update_id" value="<%= arrData ? arrData.id : '' %>">
                  <button id="send" type="submit" onclick="return ValidateUrl()"   class="submit_btn">Submit</button>
                </div>
          </form>

        </div>
      </div>
</div>


<script src="<%= adminbaseurl %>build/js/croppr.js"></script>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>


<script type="text/javascript">
  function PreviewImage() {

    var fileInput = document.getElementById('image');
      var filePath = fileInput.value;
      var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
      if(!allowedExtensions.exec(filePath)){
          alert('Please upload file having extensions .jpeg/.jpg/.png  only.');
          fileInput.value = '';
          return false;
      }else{
          //Image preview
          if (fileInput.files && fileInput.files[0]) {
              var reader = new FileReader();
              reader.onload = function(e) {
                  document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
              };
              reader.readAsDataURL(fileInput.files[0]);
          }
      }


  var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("image").files[0]);
  oFReader.onload = function (oFREvent) {
  document.getElementById("imagePreview").src = oFREvent.target.result;
  };
};


      // var imageData=null;
			// var fileParts = '';
			// var image_target = $('#cropper').get(0);
			// var after_cropped_target = $('#imagePreview').get(0);
			// var cropImageFile = '';
			
			// $('.js-loadfile').change(function(evt) {
			// 	var files = evt.target.files; // FileList object
			// 	var reader = new FileReader();

			// 	reader.onload = function(e) {
			// 	  imageData=reader.result;
			// 	  loadData();
			// 	}
			// 	fileParts = files[0].name.split('.');
			// 	reader.readAsDataURL(files[0]);
			// });
			
			// dataURLtoFile = function(dataurl, filename) {
			// 	var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
			// 		bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
			// 	while(n--){
			// 		u8arr[n] = bstr.charCodeAt(n);
			// 	}
			// 	return new File([u8arr], filename, {type:mime});
			// }; 
			
			// loadData = function() {
			// 	//set the image target
			// 	document.getElementById('cropperImageContainer').innerHTML = '<img id="cropper" src="" alt="" style="display:none;">';
				
			// 	image_target = $('#cropper').get(0);
			// 	image_target.src=imageData;
			// 	after_cropped_target.src=image_target.src;
			// 	var croppr = new Croppr('#cropper', {
			// 		//aspectRatio: 1,
      //     //minSize: [88, 87, 'px'],
          
      //     aspectRatio: 0,
      //     maxSize: [820, 300, 'px'],
      //     minSize: [820, 300, 'px'],

			// 		onInitialize: (instance) => { 
			// 			console.log(instance); 
			// 			// var left = 129,
			// 			// top =  0,
			// 			// width = 768,
      //       // height = 768;

      //       var data = instance.getValue();
      //       var left = data.x,
      //       top =  data.y,
      //       width = data.width,
      //       height = data.height;

			// 			cropImage(left,top,width,height);
			// 		},
			// 		onCropStart: (data) => { 
			// 			//console.log('start', data);
			// 			//profileInfoNode.innerHTML = 'Width: ' + data.width + 'px, Height: ' + data.height+'px';
						
			// 		},
			// 		onCropEnd: (data) => {
			// 			console.log(data);
			// 			var left = data.x,
			// 			top =  data.y,
			// 			width = data.width,
			// 			height = data.height;
			// 			cropImage(left,top,width,height);
			// 		},
			// 		onCropMove: (data) => { 
			// 			//console.log('move', data); 
			// 			//profileInfoNode.innerHTML = 'Width: ' + data.width + 'px, Height: ' + data.height+'px';
			// 		}
			// 	});
				
			// 	//croppr.destroy();
			// };
			
			// cropImage = function(left,top,width,height){
				//alert("Test");
			// 	var image_target = $('.croppr-image').get(0);
			// 	var after_cropped_target = $('#imagePreview').get(0);
			// 	var crop_canvas;
					
			// 	crop_canvas = document.createElement('canvas');
			// 	crop_canvas.width = width;
			// 	crop_canvas.height = height;
				
			// 	crop_canvas.getContext('2d').drawImage(image_target, left, top, width, height, 0, 0, width, height);
			// 	var dataURL=crop_canvas.toDataURL("image/png");
			// 	after_cropped_target.src=dataURL;
			// 	var imageCropped64Image = dataURL;
				
			// 	var d = new Date();
			// 	var n = d.getTime();
				
			// 	var basefile = fileParts[0]+ '_' + n;
			// 	var ext = fileParts[1];
				
			// 	//var ext = imageCropped64Image.split(';')[0].match(/jpeg|png|gif/)[0];
			// 	var mime = imageCropped64Image.match(/data:([a-zA-Z0-9]+\/[a-zA-Z0-9-.+]+).*,.*/);
			// 	var mimeType = '';
			// 	if (mime && mime.length) {
			// 	mimeType = mime[1];
			// 	}
				
			// 	document.getElementById('uploadHiddenCropImage').value = basefile+'.'+ext;
			// 	cropImageFile = this.dataURLtoFile(imageCropped64Image, basefile+'.'+ext)
			// };
			
			$('#category-info').on('submit', function(e){
				// var form = document.getElementById('category-info');
				var formData = new FormData();
        //var formData = new FormData(form);
        if(document.getElementById("image").files && document.getElementById("image").files.length > 0){
          console.log(document.getElementById("image").files[0]);
          // e.preventDefault();
          formData.append('image', document.getElementById("image").files[0]);
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function(result) {
            if (this.readyState == 4 && this.status == 200) {
              // document.getElementById('cropperImageContainer').innerHTML = '';
              //window.scrollTo(0, 0);
            }
          };
          // Add any event handlers here...
          //xhr.open('POST', '/api/v1/banner/fileupload', true);
          xhr.open('POST', '<%= adminbaseurl %>banner/fileupload', true);
          xhr.send(formData);
        }
				
			});
////////////////////////////////code end////////////////////////////////
function validate(evt){
//alert( evt.value);
     evt.value = evt.value.replace(/[^0-9]/g,"");
}

</script>

<script>
    
  function ValidateUrl() 
 
  {
      var $url = $('form input[name="url'); //change form to id or containment selector
  var re = /^(https?|ftp|torrent|image|irc):\/\/(-\.)?([^\s\/?\.#-]+\.?)+(\/[^\s]*)?$/i;

  if (url.value.length == 0)
      { 
         //alert("message");  	
         return true; 
      }  	
      
  if ($url.val() == '' || !re.test($url.val()))
  {
      alert('Please enter a valid Url with http://');
      return false;
  }

  }
  </script>

<script>            
    CKEDITOR.editorConfig = function (config) {
       config.language = 'es';
       config.uiColor = '#F7B42C';
       config.height = 300;
       config.toolbarCanCollapse = true;
   
   };
   CKEDITOR.replace('description');
</script>




<script>
   $("#checkAll").click(function () {
     $('input:checkbox').not(this).prop('checked', this.checked);
 });
</script>

<script>
  $("#datepickerAd").datepicker({
  
  onSelect: function(date) {
    $("#asd").datepicker('option', 'minDate', date);
  },

});
</script>