<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>  

<script src="//cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
<!-- page content -->
<div class="content_wraper">
	<div class="main_container">          
		<div class="header_wraper">
			<h2><%=title%></h2>
			<ul>
			<li><a href="<%= adminbaseurl %>dashboard">Dashboards</a></li>
            <li><a href="<%= adminbaseurl %>shipping_method"></i> Site Settings</a></li> 
            <li><%=title%></li>
			</ul>
		</div> 
		
		<% if(messages!='') {%>
		<div class="succ_msg msg" id="succ_msg">    
			<i class="fa fa-check"  aria-hidden="true"></i>        
			<%=messages%>
		</div>
		<%}%>                
		<% if(errors!='') {%>
		<div class="succ_err msg" id="err_msg">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
			<%=errors%>
		</div>
		<% }%>
		
		<form id="category-info" class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>sitesettings/add">
			<div class="content_body panel_body">
				<div class="panel_title">
					<h3><%=title%> Info</h3>
				</div>												
				<div class="clearfix"></div>
				<!-- <ul class="nav nav-tabs custom_tab"> -->
					<!-- <li><a data-toggle="tab" href="#gen-info" class="active show">General Information</a></li> -->
					<!-- <!-- <li><a data-toggle="tab" href="#products">Products</a></li> --> 
				<!-- </ul> -->
				<div class="tab-content">
					<!--category content start-->
					<div id="gen-info" class="tab-pane fade in active show">
						<div class="row edit_box">

								<div class="col-sm-6"> 
									<div class="animate_form field">
											<input id="site_name" required="required" class="form-control" name="site_name" type="text" value="<%= arrData ? arrData.site_name : '' %>">
											<span>Name<span>*</span></span>
										<div class="alert_msg"></div>
									</div>
								</div>

								<div class="col-sm-6"> 
									<div class="animate_form field">
										<input id="email" class="form-control" name="email" type="email" required="required" value="<%= arrData ? arrData.email : '' %>">
										<span>Email<span>*</span></span>
									  <div class="alert_msg"></div>
									</div>
								</div>
								
								<div class="col-sm-6"> 
									<div class="animate_form field">
										<input id="mobile_no" class="form-control" name="mobile_no" placeholder="10 digit mobile number" type="text" required="required" value="<%= arrData ? arrData.mobile_no : '' %>" data-validate-length-range="10,10" maxlength="10" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
										<span>Mobile<span>*</span></span>
									  <div class="alert_msg"></div>
									</div>
								</div>

								<div class="col-sm-6"> 
									<div class="animate_form field">
										<input id="app_version" class="form-control" name="app_version" type="text" required="required" value="<%= arrData ? arrData.app_version : '' %>" onkeyup="this.value=this.value.replace(/[^0-9.]/g,'');">
										<span>App Version<span>*</span></span>
									  <div class="alert_msg"></div>
									</div>
								</div>

								<!-- <div class="col-sm-6"> 
									<div class="animate_form field">
										<input id="site_url" class="form-control" name="site_url" type="url" required="required" value="<%= arrData ? arrData.site_url : '' %>">
										<span>Site Url<span>*</span></span>
									  <div class="alert_msg"></div>
									</div>
								</div> -->

								<div class="col-sm-6"> 
									<div class="animate_form field">
											<input id="max_pro_availability" required="required" class="form-control" name="max_pro_availability" type="text" value="<%= arrData ? arrData.max_pro_availability : '' %>" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
											<span>Maximum Product Availability<span>*</span></span>
										<div class="alert_msg"></div>
									</div>
								</div>

								<div class="col-sm-6"> 
									<div class="animate_form field">
											<input id="free_shipping_limit" oninput="oneDecimal(event)" class="form-control" name="free_shipping_limit" type="text" value="<%= arrData ? arrData.free_shipping_limit : '' %>">
											<span>Free Shipping Limit<span></span></span>
										<div class="alert_msg"></div>
									</div>
								</div>

								<div class="col-sm-6"> 
									<div class="animate_form field">
											<input id="shipping_charges" oninput="oneDecimal(event)" class="form-control" name="shipping_charges" type="text" value="<%= arrData ? arrData.shipping_charges : '' %>">
											<span>Shipping Charges<span></span></span>
										<div class="alert_msg"></div>
									</div>
								</div>


								<div class="col-sm-6"> 
									<div class="animate_form field">
									  <label class="control-label" for="address">Address </label>
									  <textarea rows="4" id="address" name="address"  class="form-control col-md-12 col-xs-12"><%= arrData ? arrData.address : '' %></textarea>
									</div>
								  </div>
					  
								  <div class="col-sm-6"> 
									<div class="animate_form field">
									  <label class="control-label" for="feature">feature </label>
									  <textarea rows="4" id="feature" name="feature"  class="form-control col-md-7 col-xs-12"><%= arrData ? arrData.feature : '' %></textarea>
									</div>
								  </div>

								

							<!-- <div class="col-sm-6"> 
								<div class="animate_form field">
										<input id="from_time" required="required" class="form-control" name="from_time" type="time" value="<%= arrData ? arrData.from_time : '' %>">
										<span>Activate Time From<span>*</span></span>
									<div class="alert_msg"></div>
								</div>
							</div> -->
							
							<!-- <div class="col-sm-6"> 
								<div class="animate_form field">
										<input id="to_time" required="required" class="form-control" name="to_time" type="time" value="<%= arrData ? arrData.to_time : '' %>">
										<span>Activate Time To<span>*</span></span>
									<div class="alert_msg"></div>
								</div>
							</div> -->

							<!-- <div class="col-sm-6"> 
								<div class="animate_form field">
										<input id="sequence" required="required" class="form-control" name="sequence" type="number" value="<%= arrData ? arrData.sequence : '' %>">
										<span>Sequence<span>*</span></span>
									<div class="alert_msg"></div>
								</div>
							</div> -->
							
							<!-- <div class="col-sm-6">
								<div class="animate_form field">
										<select name="status" class="form-control">
											<option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
											<option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
										</select>
									<span>Status</span>
								</div>
							</div> -->

						</div>
					</div>
					<!--category content end-->
				</div>
			</div>
			<div class="btn_right mb-4">
				<input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
				<button id="send" type="submit" class="submit_btn">Submit</button>
			</div>
		</form>
		</div>
	</div>
</div>
<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>

<script src="<%= adminbaseurl %>ckeditor/ckeditor.js"></script>

<script>            
	CKEDITOR.editorConfig = function (config) {
	  config.language = 'es';
	  config.uiColor = '#F7B42C';
	  config.height = 300;
	  config.toolbarCanCollapse = true; 
	};
   CKEDITOR.replace('feature');
  //  CKEDITOR.replace('short_description');
	</script>
	
	<script>
	function oneDecimal(evt){       
        // console.log(evt)
        var val = evt.target.value;
        // var val = $(this).val();
        if(isNaN(val)){
            val = val.replace(/[^0-9\.]/g,'');
            if(val.split('.').length>2) 
            val =val.replace(/\.+$/,"");
		}
		
			evt.target.value=val;
	}
	
	
</script>