<!DOCTYPE html>
<html lang="en">
<head>
	<title>Grocery-Admin</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="<%= baseurl %>favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="<%= baseurl %>login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="<%= baseurl %>login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="<%= baseurl %>login/css/util.css">
	<link rel="stylesheet" type="text/css" href="<%= baseurl %>login/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form"  method="post" action="signin">
					<span class="login100-form-title p-b-33">
						Account Login
					</span>
					<% if(messages!='') {%>
					<div class="succ_msg msg" id="succ_msg">    
						<i class="fa fa-check"  aria-hidden="true"></i>        
						<%=messages%>
					</div>
					<%}%>                
					<% if(errors!='') {%>
					<div class="succ_err msg" id="err_msg">
						<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
						<%=errors%>
					</div>
					<% }%>
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn">
							Sign in
						</button>
					</div>

					<!-- <div class="text-center p-t-45 p-b-4">
						<span class="txt1">
							Forgot
						</span>

						<a href="<%= baseurl %>login/#" class="txt2 hov1">
							Username / Password?
						</a>
					</div>

					<div class="text-center">
						<span class="txt1">
							Create an account?
						</span>

						<a href="<%= baseurl %>login/#" class="txt2 hov1">
							Sign up
						</a>
					</div> -->
				</form>
			</div>
		</div>
	</div>	
<!--===============================================================================================-->
	<script src="<%= adminbaseurl %>build/js/jquery.min.js"></script>
<!--===============================================================================================-->
	<script src="<%= baseurl %>login/js/main.js"></script>
<!--===============================================================================================-->
	<script>
		setTimeout(function() {
			$("#succ_msg,#err_msg").fadeOut("slow");
		}, 6000 );

		$('.login100-form-btn').click(function() {
			$("#succ_msg,#err_msg").fadeOut("fast");
    	});

	</script>
</body>
</html>