<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>  
<!-- page content -->
<div class="content_wraper">
	<div class="main_container">          
		<div class="header_wraper">
			<h2><%=title%></h2>
			<ul>
					<li><a href="<%= adminbaseurl %>dashboard">Dashboards</a></li>
					<li><a href="<%= adminbaseurl %>wallet">Wallet</a></
				<li><%=title%></li>
			</ul>
		</div>
		<form id="wallet-info" class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>wallet/add">
			<div class="content_body panel_body">
				<h3><%=messages%></h3>
				<div class="panel_title">
					<h3><%=title%> Info</h3>
				</div>												
				<div class="clearfix"></div>
				<!-- <ul class="nav nav-tabs custom_tab">
					<li><a data-toggle="tab" href="#gen-info" class="active show">General Information</a></li>
					<!- - <li><a data-toggle="tab" href="#products">Products</a></li> -
						->
				</ul> -->
				<div class="tab-content">
					<!--wallet content start-->
					<div id="gen-info" class="tab-pane fade in active show">
						<div class="row edit_box">
							<div class="col-sm-6">
								<div class="animate_form field">
									<select name="cid" class="form-control" required="required">
										<option value="" selected disabled>--Select Customer--</option>
										<%  arrCustomer.forEach(function(customer) { %>
											<option value="<%= customer.id %>" <% if(arrData){ if(customer.id==arrData.cid){%>selected="selected" <%}} %>> <% if(customer.first_name != null && customer.first_name !='' ){ %><%= customer.first_name %> <%= customer.last_name %><%}else{ %><%= customer.phone %> <%} %></option>
										<%  }) %>										
									</select>
									<span>Customer<span>*</span></span>
									<div class="alert_msg"></div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="animate_form field">
									<select name="amount_type" id="amount_type" class="form-control" required="required" >  
										<option value="" selected disabled>--Select Amount Type--</option>
										<option <% if(arrData){ if(arrData.amount_type=='debit'){ %>selected="selected" <% }}%> value="debit">Debit</option>
										<option <% if(arrData){ if(arrData.amount_type=='credit'){ %>selected="selected" <% }}%> value="credit">Credit</option>
									</select>
									<span>Amount Type<span>*</span></span>
								</div>
							</div>
							
							<div class="col-sm-6"> 
								<div class="animate_form field">
									<input id="amount" required="required" class="form-control" name="amount" type="text" onkeyup="this.value=this.value.replace(/[^0-9.]/g,'');" value="<%= arrData ? arrData.amount : '' %>">
									<span>Amount<span>*</span></span>
									<div class="alert_msg"></div>
								</div>
							</div>

							

							<!-- <div class="col-sm-6">
								<div class="animate_form field">
									<select name="transcation_type" id="transcation_type" class="form-control" required="required">  
										<option value="" selected disabled>--Select Amount Type--</option>
										<% if(arrData){ %>
										<option <% if(arrData.amount_type=='debit'){ %> style="display: none;" <% } %> value="addmoney">Add money</option>											
										<option <% if(arrData.amount_type=='credit'){ %> style="display: none;" <% } %>value="purchase">Purchase</option>
										<option <% if(arrData.amount_type=='debit'){ %> style="display: none;" <% } %>value="cashback">Cashback</option>
										<% }else{ %>
										<option value="addmoney">Add money</option>											
										<option value="purchase">Purchase</option>
										<option value="cashback">Add money</option>
										<%}%>
									</select>
									<span>Transcation Type<span>*</span></span>
								</div>
							</div> -->

							<!-- <div class="col-lg-6"> 
								<div class="animate_form field">
									<!- - <label class="control-label" for="remarks">Remarks</label> - ->
									<textarea rows="4" type="text" id="remarks" name="remarks" value="<%= arrData ? arrData.remarks : '' %>" class="form-control col-md-12 col-xs-12"></textarea>
									<span>Remarks</span>
								</div>
							</div> -->
							
							<div class="col-sm-6">
								<div class="animate_form field">
									<select name="status" class="form-control" required="required">
										<option value="" selected disabled>--Select Status--</option>
										<option <% if(arrData){ if(arrData.status=='active'){ %>selected="selected" <% }}%> value="active">Active</option>
										<option <% if(arrData){  if(arrData.status=='inactive'){ %>selected="selected" <% }}%> value="inactive">Inactive</option>
									</select>
									<span>Status<span>*</span></span>
								</div>
							</div>
						</div>
					</div>
					<!--wallet content end-->
				</div>
			</div>
			<div class="btn_right mb-4">
				<input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
				<button id="send" type="submit" class="submit_btn">Submit</button>
			</div>
		</form>
		</div>
	</div>
</div>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>
<script>
	$("#amount_type").change(function(){	
		var amountVal = this.value;
		if(this.value && this.value!=''){
			$("#transcation_type option").each(function(){
				// alert(amountVal);
				// alert($(this).val());
				if(amountVal == 'debit'){
					if($(this).val() == '' || $(this).val() == 'addmoney' || $(this).val() == 'cashback'){
						$(this).css("display", "none");
						$(this).prop("disabled", true);
						$(this).prop("selected", false);
					}else{
						$(this).css("display", "block");
						$(this).prop("disabled", false);
					}					
				}else{
					if($(this).val() == '' || $(this).val() == 'purchase'){						
						$(this).css("display", "none");
						$(this).prop("disabled", true);
						$(this).prop("selected", false);
					}else{
						$(this).css("display", "block");
						$(this).prop("disabled", false);
					}
				}
			});			
		}
	});
</script>