<%- include ../partials/sidebar %>       
<%- include ../partials/header %>
<!-- page content -->
<style>
  .module_box{ padding: 15px; color: #fff; border-radius: 4px; margin-bottom: 15px; position: relative; min-height: 150px;}
  .module_box.bl_bg{ background: #27a9e3;}
  .module_box.gn_bg{ background: #28b779;}
  .module_box.rd_bg{ background: #f36942;}
  .module_box.yl_bg{ background: #f7a421;}
  .module_box h3{ margin-top: 0px; margin-bottom: 10px; font-size: 28px;}
  .module_box h5{ margin-top: 0px; margin-bottom: 0px; font-size: 18px; font-weight: 600;}
  .module_box p{ margin-top: 0px; margin-bottom: 5px; font-size: 14px;}
  .module_btn{ position: absolute; top: 15px; right: 15px;}
  .module_btn a{ display: inline-block; padding: 5px 10px; border: 1px solid #fff; border-radius: 3px; color: #fff; }
  .module_btn a:hover{ background: #fff; color: #333;}
</style>





<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3><%=title%></h3>
            
             <% if(messages!='') {%>
            <div class="succ_msg msg">
            
           <%=messages%>
            </div>
             <%}%>
             
              <% if(errors!='') {%>
            <div class="succ_err msg">
           <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
           <%=errors%>
            </div>
             <% }%>
             
          </div>

          <div class="title_right text-right">
                  <a href="<%= adminbaseurl%>roles" class="btn btn-success right">List of Role</a>
                </div>
          
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              
              <div class="x_content">

                <form class="form-label-left" novalidate method="POST" action="<%= adminbaseurl %>modulesrole/add">

                  

                  <div class="form-group row">
                      <label for="roleId" class="col-xs-12">Role</label> 
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <% console.log(arrSelectModules) %>
                        <select name="roleId" class="form-control col-md-7 col-xs-12" onchange="getval(this)">
                          <option value="">----Select----</option>
                          <% arrRoles.forEach(function(role) { %>
                          <option <% if(roleId==role.id){ %>selected="selected" <% } %>  value="<%=role.id%>" ><%=role.name%></option>
                            <% }) %>
                        </select>
                      </div>
                    </div>

                   <div class="row">
                      <% 
                      arrModules.forEach(function(mod) { 
                      if(arrData!=''){  
                        arrData.forEach(function(mod_rol){%>
                      <% if(mod_rol.modulesId==mod.id){%>    
                     <div class="col-sm-3">
                       
                      <div class="module_box bl_bg <% if(mod_rol.isView=='Y'){ %>isView<% } if(mod_rol.isCreate=='Y'){ %> isCreate<% } if(mod_rol.isUpdate=='Y'){ %> isUpdate<% } if(mod_rol.isDelete=='Y'){ %> isDelete<% } %>">                        
                        <h3><%= mod ? mod.name : '' %></h3>                        
                        <input type="hidden" name="modulesId[]" value="<%= mod ? mod.id : '' %>">
                        <h5>Permission</h5>
                        <p> <% if(mod_rol.isView=='Y'){ %> View<% } if(mod_rol.isCreate=='Y'){ %>, Create<% } if(mod_rol.isUpdate=='Y'){ %>, Update<% } if(mod_rol.isDelete=='Y'){ %>, Delete<% } %></p>
                         <!-- <div class="module_btn"> 
                           <a href="#">Edit</a>
                          <a href="#">Save</a> 
                        </div> -->
                        <select class="form-control" name="permission">
                          <option value='0' selected >----Select----</option>
                          <option <% if(mod_rol.isView=='Y'){ %>selected="selected" <% }%>  value="isView" >Is View</option>
                          <option <% if(mod_rol.isCreate=='Y'){ %>selected="selected" <% }%>  value="isCreate" >Is Create</option>
                          <option <% if(mod_rol.isUpdate=='Y'){ %>selected="selected" <% }%>  value="isUpdate" >Is Update</option>
                          <option <% if(mod_rol.isDelete=='Y'){ %>selected="selected" <% }%>  value="isDelete" >Is Delete</option>
                        </select>
                      </div>
                     
                    </div> <% } %>
                    <% }); } 
                    else{%>
                    <div class="col-sm-3">                      
                      <div class="module_box bl_bg">                        
                        <h3><%= mod ? mod.name : '' %></h3>                        
                        <input type="hidden" name="modulesId[]" value="<%= mod ? mod.id : '' %>">
                        <h5>Permission</h5>
                        <!-- <p>Create, Delete, Update, View</p>-->
                         <!-- <div class="module_btn"> 
                          <a href="#">Edit</a>
                          <a href="#">Save</a>
                        </div> -->
                        <select class="form-control" name="permission">
                          <option value='0' selected >----Select----</option>
                          <option  value="isView" >Is View</option>
                          <option  value="isCreate" >Is Create</option>
                          <option  value="isUpdate" >Is Update</option>
                          <option  value="isDelete" >Is Delete</option>
                        </select>
                      </div>
                      
                    </div>
                    <% } 
                    });%>
                    </div>

                    <!-- for test  -->
                   <!-- <div class="row">
                    <div class="col-sm-4">
                      <div class="module_box bl_bg">
                        <h3>Modules 1</h3>
                        <h5>Permission</h5>
                         <p>Create, Delete, Update, View</p> 
                        <div class="module_btn">
                          <a href="#">Edit</a>
                          <a href="#">Save</a>
                        </div>
                        <select class="form-control" name="permission">
                          <option>----Select----</option>
                          <option>is View</option>
                          <option>is Create</option>
                          <option>is Update</option>
                          <option>is Delete</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="module_box rd_bg">
                        <h3>Modules 1</h3>
                        <h5>Permission</h5>
                         <p>Create, Delete, Update, View</p> 
                        <div class="module_btn">
                          <a href="#">Edit</a>
                          <a href="#">Save</a>
                        </div>
                        <select class="form-control" name="permission">
                          <option>----Select----</option>
                          <option>is View</option>
                          <option>is Create</option>
                          <option>is Update</option>
                          <option>is Delete</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="module_box gn_bg">
                        <h3>Modules 1</h3>
                        <h5>Permission</h5>
                         <p>Create, Delete, Update, View</p> 
                        <div class="module_btn">
                          <a href="#">Edit</a>
                          <a href="#">Save</a>
                        </div>
                        <select class="form-control" name="permission">
                          <option>----Select----</option>
                          <option>is View</option>
                          <option>is Create</option>
                          <option>is Update</option>
                          <option>is Delete</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="module_box yl_bg">
                        <h3>Modules 1</h3>
                        <h5>Permission</h5>
                         <p>Create, Delete, Update, View</p>
                         <div class="module_btn"> 
                          <a href="#">Edit</a>
                          <a href="#">Save</a>
                        </div>
                        <select class="form-control" name="permission">
                          <option>----Select----</option>
                          <option>is View</option>
                          <option>is Create</option>
                          <option>is Update</option>
                          <option>is Delete</option>
                        </select>
                      </div>
                    </div>
                  </div>  -->
                  
                  <!-- <div class="ln_solid col-xs-12"></div> -->
                  <div class="form-group text-center">
                    <div class="col-md-6 col-md-offset-3">
                      <input name="update_id" value="<%= arrData ? arrData.id : '' %>" type="hidden">
                      <input name="user_id" value="<%= usercreatedBy ? usercreatedBy : '' %>" type="hidden">
                      <button id="send" type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<!-- page content -->
<%- include ../partials/footer %>

<script>
function getval(role)
{  
  
  //alert(role.value);
  window.open('<%= adminbaseurl %>modulesrole/addedit/'+role.value,"_self");
   
}
</script> 
      
