<%- include ../partials/sidebar.html %>       
<%- include ../partials/header.html %>
<!-- page content -->

<div class="content_wraper">
  <div class="main_container">
    
        <div class="header_wraper">
            <h2><%=title%></h2>
            <ul>
                <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
                <li><h4><%=title%><small></small></h4></li>
            </ul>
        </div>
        
    <div class="content_body">
        <div class="table_heading">
        <h3>Manage Attribute</h3>
        <div class="table_search">
          <input type="text" placeholder="Search Attribute...">
            <a href="javascript:void(0)" data-toggle="tooltip" title="Close" class="close_search">&times;</a>
        </div>
        <ul>
          <li>
              <span class="label_info">No item selected</span>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete Attribute" onclick="deleteAttribute()"><span class="fa fa-trash-o"></span></a>
            </li>
          <li>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Search Attribute" class="open_search"><span class="fa fa-search"></span></a>
            </li>
            <li data-toggle="tooltip" title="Show Entries">
                <a href="javascript:void(0)" class="dropdown-toggle" id="show_entry" data-toggle="dropdown" aria-expanded="true"><span class="fa fa-list-ul"></span></a>
                <div class="dropdown-menu" aria-labelledby="show_entry">
                    <a class="dropdown-item" href="javascript:void(0)">10</a>
                    <a class="dropdown-item" href="javascript:void(0)">25</a>
                    <a class="dropdown-item" href="javascript:void(0)">50</a>
                    <a class="dropdown-item" href="javascript:void(0)">100</a>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" data-toggle="tooltip" title="Export All"><span class="fa fa-download"></span></a>
            </li>
        </ul>
    </div>

    <div class="table-responsive table_wraper">
      <table class="table">
                    <thead>
                        <tr>
                            <th class="checkbox_cell">
                            <label class="checkbox"><input type="checkbox" id="checkAll" name="check"><span></span></label>
                            </th>
                            <th style="width:15px">Sl No</th>
                            <th>Name</th>
                            <th>Label</th>
                            <th>Type</th>
                            <th>Is filterable</th>
                            <th>Is Required</th>
                            <th>Status</th>
                            <th>
                            <a href="<%= adminbaseurl %>attribute/addedit" class="add_btn"><span>+</span></a>
                            </th>
                        </tr>
                    </thead>


                    <tbody>
    
                        <% var i=1;
                         arrData.forEach(function(val) { %>
	
                        <tr>
                            <td class="checkbox_cell">
                                <label class="checkbox"><input type="checkbox" value="<%= val.id %>"><span></span></label>
                            </td>
                            <td> <%= i %></td>
							              <td> <%= val.name %></td>
                            <td> <%= val.label %></td>
                            <td> <%= val.type %></td>
                            <td> <%= val.is_filterable %></td>
                            <td> <%= val.is_required %></td>
							<td> <%= val.status %></td>
                            <td><a href="<%= adminbaseurl%>attribute/addedit/<%= val.id %>" class="edit_btn"><i class="fa fa-pencil"></i></a>
                                <a href="<%= adminbaseurl%>attribute/delete/<%= val.id %>" class="edit_btn"><i class="fa fa-trash"></i></a>
                            </td>
                                    
                        </tr>
                        <% i++; }) %>
                    </tbody>
                </table>
            </div>
            
            <div class="pagination_sec">
              <div class="table_info">Showing 1 to 10 of 23 entries</div>
                <ul>
                  <li><a href="" class="disable">Previous</a></li>
                    <li><a href="" class="active">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">Next</a></li>
                </ul>
            </div>
            
        </div>
        
    </div>
</div>


<!-- page content -->
<%- include ../partials/footer.html %>

<script>
    $("#checkAll").click(function () {
      $('input:checkbox').not(this).prop('checked', this.checked);
  });
 </script>
     
<script>
    $(document).ready(function(){
        var checkboxes = $('.checkbox input[type="checkbox"]'); 
        checkboxes.change(function(){
            var countCheckedCheckboxes = checkboxes.filter(':checked').length;
            if(countCheckedCheckboxes > 0){
                $('.label_info').text(countCheckedCheckboxes+' item(s) selected');
                
            }else{
                $('.label_info').text('No item selected');
            } 
        });
    });

    function deleteAttribute() {  
        var chkArray = []; 
        /* look for all checkboes that have a class 'chk' attached to it and check if it was checked */
        $(".checkbox input:checked").each(function() {
        chkArray.push($(this).val());
        });
        console.log(chkArray)
            var attributeData = { 'check' :chkArray}

        $.ajax({ 
            url: "<%= apiurl %>attributemul/delete",
            type:'POST',
            data: attributeData,
            success:function(response){
                console.log(response)
                alert('')
                if(response.value==1) 
                window.location.reload();
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });  
    }
</script>


    