   


<link href="<%= adminbaseurl %>build/css/bootstrap.min.css" rel="stylesheet">
<link href="<%= adminbaseurl %>build/css/style.css" rel="stylesheet">
<!-- CSS Styles -->
<style>
        .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}
        .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}
        .speech img {float: right; width: 40px }
        .report_table{ background: #fff; padding:15px; box-shadow: 0 1px 1px rgba(0,0,0,.1); margin: 20px 0;}
        .table_wraper table tr td{ font-size: 13px;padding: 12px 8px;border: 1px solid #d7e1ed;}
        .table_wraper table tr th{ font-size: 13px;padding: 12px 8px;border: 1px solid #d7e1ed;}
      </style>
      
      
      
<!-- page content -->

<div class="container">
<div class="report_table">
      <div class="table-responsive table_wraper">
        <table class="table">
                <% if(arrData && arrData !=''){
                    %>
            <thead>
                <tr>
                    <th style="width:15px">Sl No</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <!-- <th>Email</th> -->
                    <!-- <th>Registration Date</th> -->
                    <th>Address</th>
                    <th>Total Order</th>
                    <th>Order Value</th>
                </tr>
            </thead>

                    
            <tbody>
                
                <% var i=1;
                arrData.forEach(function(val) { %>	

                <tr>
                    <td> <%= i %></td>
                    <td style="white-space: nowrap"> <%= val.first_name %> <%= val.last_name %></td>
                    <td style="white-space: nowrap"> <%= val.phone %></td>
                    <!-- <td style="white-space: nowrap"> <%= val.email %></td> -->
                    <!-- <td style="white-space: nowrap"> <%= moment(val.createdAt).format('LL') %><br>
                    <span><%= moment(val.createdAt).format('HH:mm:ss') %><span>
                    </td> -->
                    <td style="white-space: pre-wrap;"> <%=  val.customerAddress %></td>
                    <td style="white-space: pre-wrap"> <%= val.numberOfOrder %></td>
                    <td style="white-space: pre-wrap"> <%= val.totalAmound %></td>
                </tr>
                            <% i++; }) %>
            </tbody>
                        <% }else{ %>
                            <p> No Customer report found</p>
                        <%  } %>
                      </table>
                  </div>
                  <div style="text-align: center">
                    <button class="submit_btn" id="myPrntbtn" style="" onClick="window.print();">Print</button>
                </div>
                </div>
                  
    </div>

                <style type="text/css">
                    @media print {
                        #myPrntbtn {
                            display :  none;
                        }
                    }
                    </style>
                    <script type="text/javascript">
                        function printMyPage() {
                            //Get the print button
                            var printButton = document.getElementById("myPrntbtn");
                            //Hide the print button 
                            printButton.style.visibility = 'hidden';
                            //Print the page content
                            window.print()
                            //Show back the print button on web page 
                            printButton.style.visibility = 'visible';
                        }
                    </script>
                  