<html>
    <%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>       


<style>
        .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}
        .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}
        .speech img {float: right; width: 40px }
      </style>
      
      
      
<!-- page content -->

<div class="content_wraper">
    <div class="main_container">
      
          <div class="header_wraper">
              <h2><%=title%></h2>
              <ul>
                  <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
                  <li><h4><%=title%><small></small></h4></li>
              </ul>
          </div>

          
          <div class="content_body">
      <div class="table_heading">
        <h3>Manage <%=title%></h3>

<head>
    <title>Simple Upload Example</title>
</head>
<body>
    <form id="category-info" class="form-horizontal form-label-left" novalidate method="post"   enctype="multipart/form-data" action="<%= adminbaseurl %>banner/subcategory/add">
        <div class="content_body panel_body">

          <div class="panel_title">
            <!-- <h3><%=title%> Info</h3> -->
          </div>
              
          <div class="clearfix"></div>
           <!-- <ul class="nav nav-tabs custom_tab">
            <li><a data-toggle="tab" href="#gen-info" class="active show">General Information</a></li>
            
          </ul>  -->



          <div class="col-sm-6">
            <div class="animate_form field" >
                <select name="status" class="form-control">
                  <option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
                  <option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
                </select>
              <span>Status</span>
            </div>
        </div>

    </div>

                <div class="tab-content">

                  <!--category content start-->
                  <div id="gen-info" class="tab-pane fade in active show">

                      <div class="row edit_box">
                          </div>

                        <div class="panel_title">
                            <h3>Banner Image<span>*</span></h3>
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12">
                          <div class="item form-group field">                                        
                              <div class="row">
                                  <div class="col-md-12 col-sm-12 col-xs-12">
                                      <!-- <label class="control-label">Image<span class="required">*</span></label> --> 
                                      <input type="file" class="form-control" id="image" name="image" accept="image/*" onchange="preView()"  <%=((arrData == '' || arrData.logo == '') ? "required='required'" : '')%> multiple="" />
                                      <input type="hidden" name="update_image" value="<%= arrData ? arrData.image : '' %>">
                                      <div>

                                        <%
                                        var banner_image_one = arrData.image ;
                                        if(helper.isFileExists(banner_image_one)) banner_image_one = baseurl +"superpos/myimages/subcategory-banner/" + banner_image_one;
                                        else banner_image_one = baseurl + "user_contents/no_image.jpg";
                                        %>
                                        <!-- <img src="<%= banner_image_one %>" height="50px"width="50px"> -->
                                         
                                        
                                      <img id="preview" src="<%= banner_image_one %>" style="width: 100px;height: 100px; " class="img-thumbnail" />
                                      </div>
                                  </div>                  
                              </div>
                            </div>
                        </div>

                          
                     </div>
              

                  

                </div>
      

               </div>

              </div>
              <div class="btn_right mb-4">
                <input type="hidden"  name="update_id" value="<%= arrData ? arrData.id : '' %>">
                <button id="send" type="submit" onclick="return ValidateUrl()"   class="submit_btn">Submit</button>
              </div>
        </form>
</body>
</html>
<%- include ../partials/footer.html %>

<script>
  function preView()  {
    var fileInput = document.getElementById('image');
    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg)$/i;
  if(!allowedExtensions.exec(filePath)){
      alert('Please upload file having extensions .jpg only.');
      fileInput.value = '';
      return false;
  }else{
      //Image preview
      if (fileInput.files && fileInput.files[0]) {
        var reader = new FileReader();             
          reader.onload = function(){
            var output = document.getElementById('preview');
            output.src = reader.result;
          };
          reader.readAsDataURL(event.target.files[0]);
        
        };
  }
  }
  </script>
      