<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>       



<!-- CSS Styles -->
<style>
        .speech {border: 1px solid #DDD; width: 300px; padding: 0; margin: 0}
        .speech input {border: 0; width: 240px; display: inline-block; height: 30px;}
        .speech img {float: right; width: 40px }
      </style>
      
      
      
<!-- page content -->

<div class="content_wraper">
    <div class="main_container">
      
          <div class="header_wraper">
              <h2><%=title%></h2>
              <ul>
                  <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
                  <li><h4><%=title%><small></small></h4></li>
              </ul>
          </div>
          
          <div class="content_body">
      <div class="table_heading">
        <h3>Manage <%=title%></h3>
        <form id="labnol" method="get" action="https://www.google.com/search">
        
          <div class="table_search">
                <div class="speech">
            <input type="text"  name="q" id="transcript" placeholder="Search Customer Group...">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Close" class="close_search">&times;</a>
              </div>
          </div>
        </form>
          <!-- <ul>
            <li>
                <span class="label_info">No item selected</span>
                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete Customer Group" onclick="deleteCustomer_groupMul()"><span class="fa fa-trash-o"></span></a>
              </li>
            <li>
                <a href="javascript:void(0)" data-toggle="tooltip" title="Search Customer Group" class="open_search"><span class="fa fa-search"></span></a>
              </li>
              <li data-toggle="tooltip" title="Show Entries">
                  <a href="javascript:void(0)" class="dropdown-toggle" id="show_entry" data-toggle="dropdown" aria-expanded="true"><span class="fa fa-list-ul"></span></a>
                  <div class="dropdown-menu" aria-labelledby="show_entry">
                      <a class="dropdown-item" href="javascript:void(0)">10</a>
                      <a class="dropdown-item" href="javascript:void(0)">25</a>
                      <a class="dropdown-item" href="javascript:void(0)">50</a>
                      <a class="dropdown-item" href="javascript:void(0)">100</a>
                  </div>
              </li>
              <li>
                  <a href="javascript:void(0)" data-toggle="tooltip" title="Export All"><span class="fa fa-download"></span></a>
              </li>
          </ul> -->
      </div>

      <div class="table-responsive table_wraper">
        <table class="table">
            <thead>
                  <tr>
                      <th class="checkbox_cell">
                          <!-- <label class="checkbox"><input type="checkbox" id="checkAll" name="check"><span></span></label> -->
                          </th>
                          <th style="width:15px">Sl No</th>
                         
                          <th>Label</th>
                          <th>Status</th>
                          <th>Created At</th>
                          <th>Action</th>
                         
                          

                          <th>
                            <a href="<%= adminbaseurl %>customer_group/addedit" class="add_btn"><span>+</span></a>
                           </th>
                      </tr>
                    </thead>


                    <tbody>
                      
                        <% var i=1;
                         arrData.forEach(function(val) { %>
	
                          <tr>
                              <td class="checkbox_cell">
                                  <!-- <label class="checkbox Select"><input type="checkbox" class="checkSelect" value="<%= val.id %>"><span></span></label> -->
                              </td>
                              <td> <%= i %></td>
                              
                              <td> <%= val.label %></td>
                              <td> <%= val.status %></td>
                              <td> <%= moment(val.createdAt).format( 'LL') %></td>
                              
                              
                              
                              <td>
                                  <a href="<%= adminbaseurl%>customer_group/addedit/<%= val.id %>" class="edit_btn"><i class="fa fa-pencil"></i></a>
                                  <a href="<%= adminbaseurl%>customer_group/delete/<%= val.id %>" class="edit_btn"><i class="fa fa-trash"></i></a>
                              </td>
                            </tr>
							            <% i++; }) %>
                        </tbody>
                      </table>
                  </div>
                  
                  <!-- <div class="pagination_sec">
                    <div class="table_info">Showing 1 to 10 of 23 entries</div>
                      <ul>
                        <li><a href="" class="disable">Previous</a></li>
                          <li><a href="" class="active">1</a></li>
                          <li><a href="">2</a></li>
                          <li><a href="">3</a></li>
                          <li><a href="">Next</a></li>
                      </ul>
                  </div> -->
                  
              </div>
              
          </div>
      </div>
    
<!-- page content -->
<%- include ../partials/footer.html %>

<script>
    $("#checkAll").click(function () {
      $('input:checkbox').not(this).prop('checked', this.checked);
  });
</script>

<script>
   $(document).ready(function(){
        var checkboxes = $('.checkbox input[type="checkbox"]'); 
        checkboxes.click(function(){
            var countCheckedCheckboxes = checkboxes.filter(':checked').length;
            if(countCheckedCheckboxes > 0){
                $('.label_info').text(countCheckedCheckboxes-1+' item(s) selected');
                
            }else{
                $('.label_info').text('No item selected');
            } 
        });
    });

    $(".checkSelect").change(function () {
  
    var lenghtCheck= $('input[class="checkSelect"]:checked').filter(':checked').length
    console.log(lenghtCheck);
            if( lenghtCheck > 0){
                $('.label_info').text(lenghtCheck+' item(s) selected');
            }else{
                $('.label_info').text('No item selected');
            }
   });


    function deleteCustomer_groupMul() {  
    var chkArray = []; 
    /* look for all checkboes that have a class 'chk' attached to it and check if it was checked */
    $('input[class="checkSelect"]:checked').each(function() {
    chkArray.push($(this).val());
    });
	var chkArraylengh = chkArray.length;
    if(chkArraylengh > 0){
    console.log(chkArray)
        var Data = { 'check' :chkArray}
        var answer = confirm ("Are you sure you want to delete from the database?");
            if(answer){
    $.ajax({ 
        url: "<%= apiurl %>customergrpmul/delete",
        type:'POST',
        data: Data,
        success:function(response){
            console.log(response)
            window.location.reload();
        },
        error: function (e) {
            console.log("ERROR : ", e);
        }
        });   
    }
	}else{
	  alert('For delete select first ');
     }

}
</script>




  <!-- HTML5 Speech Recognition API -->
  <script>
    function startDictation() {
  
      if (window.hasOwnProperty('webkitSpeechRecognition')) {
  
        var recognition = new webkitSpeechRecognition();
  
        recognition.continuous = false;
        recognition.interimResults = false;
  
        recognition.lang = "en-US";
        recognition.start();
  
        recognition.onresult = function(e) {
          document.getElementById('transcript').value
                                   = e.results[0][0].transcript;
          recognition.stop();
          document.getElementById('labnol').submit();
        };
  
        recognition.onerror = function(e) {
          recognition.stop();
        }
  
      }
    }
  </script>