<%- include ../partials/header.html %>       
<%- include ../partials/sidebar.html %>

<link href="<%= adminbaseurl %>build/css/croppr.css" rel="stylesheet">
<script src="<%= adminbaseurl %>ckeditor/ckeditor.js"></script>

<!-- page content -->

<div class="content_wraper">
  <div class="main_container">        
    <div class="header_wraper">
      <h2><%=title ? title : ''%></h2>
      <ul>
        <li><a href="<%= adminbaseurl %>dashboards">Dashboards</a></li>
        <li><a href="<%= adminbaseurl %>order">Order</a></li>		  
        <li><%=title ? title : ''%></li>
      </ul>
    </div>

    <form id="Order-info" class="form-horizontal form-label-left" novalidate method="post"  action="<%= apiurl %>order/add">
      <fieldset>
        <div class="content_body panel_body">
          <div class="panel_title">
            <h3>Order Info</h3>
          </div>                
          <div class="clearfix"></div>
          <!-- <ul class="nav nav-tabs custom_tab"> -->
          <!-- <li><a data-toggle="tab" href="#order" class="active show">Order</a></li> -->
          <!-- </ul> -->
          <div class="tab-content">
            <!--category content start-->
            <div id="order" class="tab-pane fade in active show">
              <div class="row edit_box">

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="customer_mobile" class="form-control" name="customer_mobile" type="text" maxlength="10" minlength="10" pattern="^[6-9]\d{9}$" onkeypress="return blockChar(event)" required="required" value="<%= arrData ? arrData.customer_mobile : '' %>">
                    <span>Customer Mobile<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>    

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="customer_name" class="form-control" onkeyup="this.value=this.value.replace(/[^0-9A-Za-z ]/g,'');" name="customer_name" type="text" required="required" value="<%= arrData && arrData.customer_name && arrData.customer_name!='' ? arrData.customer_name : arrData.customerName %>">
                    <span>Customer Name<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="customer_email" class="form-control" name="customer_email" type="email"  onkeyup="this.value=this.value.replace(/[ ]/g,'');"  required="required" value="<%= arrData && arrData.customer_email && arrData.customer_email!='' ? arrData.customer_email : arrData.customerEmail %>">
                    <span>Customer Email<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">                      
                    <select name="store" class="form-control">
                      <option value="" selected disabled>--Select Store--</option>
                      <% if(arrStore) arrStore.forEach(function(val) { %>                
                      <option value="<%= val.id %>" <% if(val.id==arrData.store_id){%>selected="selected" <%} %>><%= val.name %></option>
                      <%  }) %>
                    </select>
                    <span>Stores<span>
                  </div>                   
                </div>
                  
                <div class="col-sm-6">
                  <div class="animate_form field">
                    <span>Order Status<span>
                    <select name="order_status" class="form-control">
                      <option value="" selected disabled>--Select Order Status--</option>                      
                      <% if(arrOrderStatus)  arrOrderStatus.forEach(function(val) { %>                
                      <option value="<%= val.optionValue %>" <% if(val.optionValue==arrData.order_status){%>selected="selected" <%} %>><%= val.optionLabel %></option>
                      <%  }) %>
                    </select>
                  </div>
                </div>
                  
                <!-- <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="shipping_method" class="form-control" name="shipping_method" type="text" required="required" value="<%= arrData ? arrData.shipping_method : '' %>">
                    <span>Shipping Method<span></span></span>
                  </div>
                </div> -->

                <div class="col-sm-6">
                  <div class="animate_form field">
                    <span>Shipping Method<span>
                    <select name="shipping_method" class="form-control" required>
                      <option value="" selected disabled>--Select Shipping Method--</option>                      
                      <% if(arrShippingMethod) arrShippingMethod.forEach(function(shippingM) { %>                
                      <option value="<%= shippingM.optionID %>" <% if(shippingM.optionID==arrData.shipping_method){%>selected="selected" <%} %>><%= shippingM.optionLabel %></option>
                      <%  }) %>
                    </select>
                  </div>
                </div>
                
                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="shipping_description" class="form-control" name="shipping_description" type="text" required="required" value="<%= arrData ? arrData.shipping_description : '' %>">
                    <span>Shipping Description<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>
                
                <!-- <div class="col-sm-6">
                  <div class="animate_form field">
                    <span>Payment Method<span>
                    <select name="payment_method" class="form-control" required>
                      <option value="" selected disabled>--Select Payment Method--</option>                      
                      <% if(arrPaymentMethod) arrPaymentMethod.forEach(function(PaymentM) { %>                
                      <option value="<%= PaymentM.optionID %>" <% if(PaymentM.optionID==arrData.payment_method){%>selected="selected" <%} %>><%= PaymentM.optionLabel %></option>
                      <%  }) %>
                    </select>
                  </div>
                </div> -->

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="payment_method" class="form-control" name="payment_method" type="text"

                      <% if(arrData && arrData.wallet_amount!='' && arrData.wallet_amount!= null){%>
                        <% if(arrData.payment_method!='' && arrData.payment_method!= null){%>
                          value="Wallet & <%= arrData ? arrData.payment_method : '' %>"
                        <% }else{ %>
                          value="Wallet"
                        <% } %>
                      <% }else{ %>
                        value="<%= arrData ? arrData.payment_method : '' %>"
                      <% } %>
                     >
                     
                    <span>Payment Method<span></span></span>
                  </div>
                </div>               
                
                
                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="coupon_code" class="form-control" name="coupon_code" type="text" required="required" value="<%= arrData ? arrData.coupon_code : '' %>">
                    <span>Coupon Code<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="animate_form field">
                    <select name="salesman_id" class="form-control">
                        <option value="" disabled selected>--Select Salesman--</option>
                      <%  if(arrSalesman) arrSalesman.forEach(function(val) { %>
                        <option value="<%= val.id %>" <% if(val.id==arrData.salesman_id){%>selected="selected" <%} %>><%= val.name %></option>
                      <%  }) %>
                    </select>
                    <span>Salesman<span>
                  </div> 	
                </div>

                <!-- <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="discount_percent" class="form-control" name="discount_percent" type="text" required="required" value="<%= arrData ? arrData.discount_percent : '' %>">
                    <span>Discount Percent<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="discount_amount" class="form-control" name="discount_amount" type="text" required="required" value="<%= arrData ? arrData.discount_amount : '' %>">
                    <span>Discount Amount<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="base_grand_total" class="form-control" name="base_grand_total" type="text" required="required" value="<%= arrData ? arrData.base_grand_total : '' %>">
                    <span>Base Grand Total<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="cgst" class="form-control" name="cgst" type="text" required="required" value="<%= arrData ? arrData.cgst : '' %>">
                    <span>CGST<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="sgst" class="form-control" name="sgst" type="text" required="required" value="<%= arrData ? arrData.sgst : '' %>">
                    <span>SGST<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="igst" class="form-control" name="igst" type="text" required="required" value="<%= arrData ? arrData.igst : '' %>">
                    <span>IGST<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="total_tax" class="form-control" name="total_tax" type="text" required="required" value="<%= arrData ? arrData.total_tax : '' %>">
                    <span>Total Tax<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="grand_total" class="form-control" name="grand_total" type="text" required="required" value="<%= arrData ? arrData.grand_total : '' %>">
                    <span>Grand Total<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="amount_paid" class="form-control" name="amount_paid" type="text" required="required" value="<%= arrData ? arrData.amount_paid : '' %>">
                    <span>Amount Paid<span></span></span>                    
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="promotion" class="form-control" name="promotion" type="text"  value="<%= arrData ? arrData.promotion : '' %>">
                    <span>Promotion<span></span></span>                    
                  </div>
                </div>                 -->

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="street1" class="form-control" name="street1" type="text"  value="<%= arrData ? arrData.street1 : '' %>">
                    <span>Street 1<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="street2" class="form-control" name="street2" type="text"  value="<%= arrData ? arrData.street2 : '' %>">
                    <span>Street 2<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="city" class="form-control" name="city" type="text"  value="<%= arrData ? arrData.city : '' %>">
                    <span>Customer City<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>
      
                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="state" class="form-control" name="state" type="text"  value="<%= arrData ? arrData.state : '' %>">
                    <span>Customer State<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="pin" class="form-control" name="pin" type="text"  value="<%= arrData ? arrData.pin : '' %>">
                    <span>Customer Pin<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>              

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="country" class="form-control" name="country" type="text"  value="<%= arrData ? arrData.country : '' %>">
                    <span>Customer Country<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="lat" class="form-control" name="lat" type="text"  value="<%= arrData ? arrData.lat : '' %>">
                    <span>Customer lat<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="long" class="form-control" name="long" type="text"  value="<%= arrData ? arrData.long : '' %>">
                    <span>Customer long<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="gift_message" class="form-control" name="gift_message" type="text"  value="<%= arrData ? arrData.gift_message : '' %>">
                    <span>Gift Message<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="remote_ip" class="form-control" name="remote_ip" type="text"  value="<%= arrData ? arrData.remote_ip : '' %>">
                    <span>Remote IP<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                  <input id="medium" class="form-control" name="medium" type="text"  value="<%= arrData ? arrData.medium : '' %>">
                  <span>Medium<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <!-- <div class="col-sm-6">
                  <div class="animate_form field">
                    <select name="delivery_time_slot_id" class="form-control" required="required">
                        <option value="" disabled selected>--Select Time Slot--</option>
                      <%  if(arrTimeSlot) arrTimeSlot.forEach(function(time) { %>
                        <option value="<%= time.id %>" <% if(time.id==arrData.delivery_time_slot_id){%>selected="selected" <%} %>><%= time.from_time %> - <%= time.to_time %></option>
                      <%  }) %>
                    </select>
                    <span>Delivery Time Slot<span>
                  </div> 	
                </div> -->

                <div class="col-sm-6"> 
                  <div class="animate_form field">
                    <input id="delivery_time_slot" class="form-control" name="delivery_time_slot" type="text"  value="<%= arrData ? arrData.delivery_time_slot : '' %>">
                    <span>Delivery Time Slot<span></span></span>
                    <!-- <div class="alert_msg"></div> -->
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="animate_form field">
                    <select name="category" class="form-control" id="category" required="required">
                      <option value="" disabled selected>--Select Category--</option>
                      <%  if(arrCategory) arrCategory.forEach(function(cat) { %>
                      <option value="<%= cat.id %>" ><%= cat.title %></option>
                      <%  }) %>
                    </select>
                    <span>Category<span>
                  </div> 	
                </div>

                <div class="col-sm-6" id="subcategorySection" style="display: none;">
                  <div class="animate_form field">
                    <select name="subcategory" class="form-control" id="subcategory" required="required">
                      <option value="" disabled selected>--Select Subcategory--</option>                      
                    </select>
                    <span>Subcategory<span>
                  </div> 	
                </div>

                <div class="col-sm-6" id="productSection" style="display: none;">
                  <div class="animate_form field">
                    <select name="product" class="form-control" id="product" required="required">
                      <option value="" disabled selected>--Select Product--</option>                      
                    </select>
                    <span>Product<span>
                  </div> 	
                </div>                
                
              </div>     
              <% if(arrOrderItems && arrOrderItems!=''){%>
              <div class="row">
                <div class="col-lg-12">                    
                </div>    
                <div class="col-lg-12">
                  <div class="content_body booking_summary">
                    <div class="panel_title">
                      <h3>Order Summary</h3>
                    </div>
                    <div class="table-responsive table_wraper">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Item</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <!-- <th>Tax</th> -->
                            <th>Sales total</th>
                            <!-- <th>Discount percentage</th>
                            <th>Discount amount</th>
                            <th>Total</th> 
                            <th style="width: 48px;">&nbsp;</th> -->
                          </tr>
                        </thead>
                        <tbody id="itemContent">
                          <% var i=1; 
                          var subtotal = 0;
                          arrOrderItems.forEach(function(item) { 
                          subtotal += item.qty && item.original_price ? item.qty*item.original_price : 0;
                          %>	
                          <tr>
                            <td class="item"><h5><span class=""><%= item.name ? item.name : ''%></span></h5><input name="product_id"  id="product_id" type="hidden"  value=""></td>
                            <td><input name="qty" type="number" style="width:50px" value="<%= item.qty ? item.qty : ''%>"> </td>
                            <td><i class="fa fa-inr"></i><input name="price" type="number"  value="<%= item.original_price ? item.original_price : ''%>"></td>
                            <td><i class="fa fa-inr"></i><input disabled name="sales_total" type="number"  value="<%= item.qty && item.original_price ? item.qty*item.original_price : ''%>"></td>      
                            <!-- <td><input name="discount_percentage" type="number"  value=""></td>
                            <td><i class="fa fa-inr"></i><input name="discount_amount" type="number"  value=""></td>
                            <td><i class="fa fa-inr"></i><input disabled name="total" type="number"  value=""></td>       -->
                            <!-- <td><a href="javascript:void(0);" class="close_item" id="">×</a></td> -->
                          </tr>
                          <% i++; }) %>
                        </tbody>
                      </table>
                    </div>
                    <div class="order_total">
                      <ul>
                        <li>
                          <span>Subtotal Price</span>
                          <h5><i class="fa fa-inr"></i><%= subtotal ? subtotal.toFixed(2) : 0%></h5>
                        </li>

                        <% if(arrData && arrData.shipping_amount!='' && arrData.shipping_amount!= null){%>
                        <li>
                            <!-- <span>Shipping Charges</span> -->
                            <span><%= arrData ? arrData.shipping_method : '' %></span>
                            <h5><i class="fa fa-inr"></i><%= arrData ? arrData.shipping_amount : 0 %></h5>
                          </li>
                          <% } %>
                        <!-- <li>
                          <span>Taxes</span>
                          <h5><i class="fa fa-inr"></i>20</h5>
                        </li>
                        <li>
                          <span>Discount</span>
                          <h5>- <i class="fa fa-inr"></i>50</h5>
                        </li>
                        <li>
                          <span>Delivery Charges</span>
                          <h5><i class="fa fa-inr"></i>40</h5>
                        </li> -->
                        <% 
                        var total = 0;
                        if(arrData && arrData.shipping_amount!='' && arrData.shipping_amount!= null){
                          total = subtotal + Number(arrData.shipping_amount);
                        }else{
                          total = subtotal;
                        }
                        %>

                        <li class="total">
                          <span>Total Price</span>
                          <h5><i class="fa fa-inr"></i><%= total ? total.toFixed(2) : 0%></h5>
                        </li>
                        <% if(arrData && arrData.coupon_amount!='' && arrData.coupon_amount!= null){%>
                        <li class="">
                          <span>Coupon Amount</span>
                          <h5><i class="fa fa-inr"></i><%= arrData ? arrData.coupon_amount : 0 %></h5>
                        </li>
                        <% } %>
                        <% if(arrData && arrData.wallet_amount!='' && arrData.wallet_amount!= null){%>
                        <li class="">
                          <span>Wallet Amount</span>
                          <h5><i class="fa fa-inr"><%= arrData ? arrData.wallet_amount : 0 %></i></h5>
                        </li>
                        <% } %>
                        <li class="">
                          <span>Amount Paid</span>
                          <h5><i class="fa fa-inr"><%= arrData ? arrData.amount_paid : 0 %></i></h5>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- <div class="btn_right mb-4">
                    <button type="submit" class="submit_btn">Submit</button>
                  </div> -->
                </div>    
              </div>  
              <%  } %>
              <!-- shipping address start -->

              <div class="row">
                <div class="col-lg-12">
                  <div class="content_body booking_summary">
                    <div class="panel_title">
                      <h3>Shipping Address</h3>
                    </div>

                    <!-- <p style="font-weight: bold;"> <%= arrData ? arrData.shipping_address : '' %></p>  -->
                    <p style="font-size:150%;"> <%= arrData ? arrData.shipping_address : '' %></p> 
                   
                  </div>
                </div>    
              </div>

              <!-- shipping address end -->
            </div>
            <!--category content end-->  
          </div>
          <!-- <p>Date: <input type="text" id="datepicker"></p>  -->
          <div class="btn_right mb-4">
            <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
            <input type="hidden" name="is_customer" value="0">
            <input type="hidden" name="is_customer_id" value="">          
            <!-- <button id="send" type="submit" class="submit_btn">Submit</button> -->
          </div>
        </div>
      </fieldset>
    </form>    
  </div>  
</div>

<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>
<%- include ../jqueryDatePicker/jquerydatepicker.html %>
<!-- <script>
  // $( function() {
    $( "#datepicker" ).datepicker({
      // defaultDate: "+1d",
      dateFormat: 'yy-mm-dd',
      numberOfMonths: 1,
      // showButtonPanel: true,
      minDate: 0 // minDate: '0' would work too
    });    
  // } );
  
  var currentValue = $("#datepicker").val();

  if(currentValue && currentValue!=''){
    $("#datepicker").datepicker('setDate',new Date(currentValue));
  }else{
    // alert(1)
    $("#datepicker").datepicker('setDate','today');
  } 

  $("#datepicker").keydown(function(event) {
    if(event.keyCode != 8){
      event.preventDefault();
    }
  });
  
</script> -->
<script type="text/javascript">
  $(document).ready(function(){    
    $('input[name=customer_mobile]').on('input',function(e){
      console.log(e.target.value)
      // alert(2)
      if(e.target.value && e.target.value !=''){
        if(e.target.value.length > 9){
          $.ajax({
            url: "<%= apiurl%>customerBymobile/"+e.target.value,
            type: "get",
            // data: $("input[name=customer_mobile]").serialize()
          })
          .done( function( json ) {
            console.log(json)
            if(json.data.success){
              console.log(json.data.value)
              $('input[name=customer_name]').val(json.data.value.name);
              $('input[name=customer_email]').val(json.data.value.email);
              $('input[name=city]').val(json.data.value.city); 
              $('input[name=is_customer]').val(1); 
              $('input[name=is_customer_id]').val(json.data.value.id); 
              console.log($('input[name=is_customer_id]').val());                       
            }else{
              $('input[name=is_customer]').val(0); 
              $('input[name=is_customer_id]').val(''); 
              console.log($('input[name=is_customer]').val());
              $('input[name=customer_name]').val('');
              $('input[name=customer_email]').val('');
              $('input[name=city]').val(''); 
            }
          })
          .fail( function( xhr, status, errorThrown ) {
              // alert( "Sorry, there was a problem! " + errorThrown );
              console.log( "Error: " + errorThrown );
              console.log( "Status: " + status );
              console.dir( xhr );
          })
          .always( function( xhr, status ) {
            //  alert( "The request is complete!" );
          });
        }else{
          $('input[name=is_customer]').val(0); 
          $('input[name=is_customer_id]').val('');
          console.log($('input[name=is_customer_id]').val()); 
        }       
      }        
    });
    // $('#category').on('change',function(e){
    //   alert(e.target.value)
    //   if(e.target.value && e.target.value !=''){
    //     $.ajax({
    //       url: "<%= apiurl%>product_Subcat_Bycategory/"+e.target.value,
    //       type: "get",
    //     })
    //     .done( function( json ) {
    //       console.log(json)
    //       if(json.data.success){
    //         // console.log(json.data.product);
    //         if(json.data.product && json.data.product.length > 0){
    //           $("#productSection").show();
    //           $("#product").empty();
    //           var productHtml = "<option value='' disabled selected>--Select Product--</option>";
    //           json.data.product.forEach(elem => {
    //             productHtml+= "<option value='"+elem.id+"' data-type='"+elem.type+"' data-price='"+elem.price+"' >"+elem.title+"</option>"
    //           });                
    //           $("#product").append(productHtml);
    //         }else{
    //           $("#productSection").hide();
    //         }

    //         // if(json.data.subcategory && json.data.subcategory.length > 0){
    //         //   $("#subcategorySection").show();
    //         //   $("#subcategory").empty();
    //         //   var subcatHtml = "<option value='' disabled selected>--Select Subcategory--</option>";
    //         //   json.data.subcategory.forEach(element => {
    //         //     subcatHtml+= "<option value='"+element.id+"' >"+element.title+"</option>"
    //         //   });                
    //         //   $("#subcategory").append(subcatHtml);
    //         // }else{
    //         //   $("#subcategorySection").hide();
    //         // }
    //         // console.log(json.data.subcategory);                                   
    //       }else{
    //         console.log('json.data.product');
    //         console.log('json.data.subcategory'); 
    //       }
    //     })
    //     .fail( function( xhr, status, errorThrown ) {
    //       // alert( "Sorry, there was a problem! " + errorThrown );
    //       $("#subcategory").empty();
    //       $("#product").empty();
    //       $("#subcategory").append("<option value='' disabled selected>--Select Subcategory--</option>");
    //       $("#product").append("<option value='' disabled selected>--Select Product--</option>");
    //       $("#subcategorySection").hide();
    //       $("#productSection").hide();
    //       console.log( "Error: " + errorThrown );
    //       console.log( "Status: " + status );
    //       console.dir( xhr );
    //     })
    //     .always( function( xhr, status ) {
    //       alert( "The request is complete!" );
    //     });
    //   }        
    // });
    // $('#product').on('change',function(e){     
    //   if(e.target.value && e.target.value !=''){
    //     // alert(e.target.value)
    //     if($(".item"+e.target.value).length > 0){
    //       alert('product already exists');
    //     }else{
    //       // console.log($("#product option[value="+e.target.value+"]").attr('data-type'));
    //       var type = $("#product option[value="+e.target.value+"]").attr('data-type') ? $("#product option[value="+e.target.value+"]").attr('data-type') : '';
    //       var price = $("#product option[value="+e.target.value+"]").attr('data-price') ? $("#product option[value="+e.target.value+"]").attr('data-price') : '';
    //       var item = $("#product option[value="+e.target.value+"]").text() ? $("#product option[value="+e.target.value+"]").text() : '';
    //       var className = '';
    //       if(type!='' && type == 'Veg'){
    //         className = "indicator veg";
    //       }else if(type!='' && type == 'Nonveg'){  
    //         className = "indicator nonveg";
    //       }
    //       var itemHtml='<tr>'+
    //         '<td class="item'+e.target.value+'"><h5><span class="'+className+'"></span>'+item+'</h5><input name="product_id"  id="product_id_'+e.target.value+'" type="hidden"  value="'+e.target.value+'"></td>'+
    //         '<td><input name="qty" type="number" style="width:50px" value="1"> </td>'+
    //         '<td><i class="fa fa-inr"></i><input name="price" type="number"  value="'+price+'"></td>'+
    //         '<td><i class="fa fa-inr"></i><input disabled name="sales_total" type="number"  value="'+parseFloat(price)*1+'"></td>'+         
    //         '<td><input name="discount_percentage" type="number"  value=""></td>'+
    //         '<td><i class="fa fa-inr"></i><input name="discount_amount" type="number"  value=""></td>'+
    //         '<td><i class="fa fa-inr"></i><input disabled name="total" type="number"  value="'+parseFloat(price)*1+'"></td>'+         
    //         '<td><a href="javascript:void(0);" class="close_item" id="'+e.target.value+'">×</a></td>'
    //       $('#itemContent').append(itemHtml); 
    //     }              
    //   }
    // });
    // /////////////////////////////////Delete Products from order lists//////////////////////////
    // $(document).on('click','.close_item',function (event) {
    //   console.log($(this).attr('id'));
    //   console.log(parseInt($(this).attr('id')))
    //   // $("#product option[value="+$(this).attr('id')+"]").removeAttr('selected');
    //   if($("select#product option[value='"+$(this).attr('id')+"']").length > 0){
    //     $("#product").find("option[value='"+$(this).attr('id')+"']").attr("selectd",false);
    //     $("select#product").prop('selectedIndex', 0);
    //   }      
    //   $(this).parents('tr').remove();     
    //   console.log(event);
    //   event.preventDefault();
    // });      
  });
</script>
<script>
  $("#checkAll").click(function () {
    $('input:checkbox').not(this).prop('checked', this.checked);
  });
</script>
<script type="text/javascript">
  function blockChar(e){
      var k;
      document.all ? k = e.keyCode : k = e.which;
      return (k >= 48 && k <= 57);
      }
  </script>

  