<%- include ../partials/header.html %>       
<%- include ../partials/sidebar.html %>


<!------ Include the above in your HEAD tag ---------->
<!-- page content -->

<style>
    

 .form-controll {
                    text-align: -webkit-right;
                    display: block;
                    padding: .375rem .75rem;
                    font-size: 1rem;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #ced4da;
                    border-radius: .25rem;
                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                }
</style>
<div class="content_wraper">
    <div class="main_container">      
        <div class="header_wraper">
            <h2><%=title%></h2>
            <ul>
                <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
                <li><h4><%=title%><small></small></h4></li>
            </ul>
        </div>      
          
        <div class="content_body">
            <div class="table_heading">
                <h3>Manage Order</h3>

                <form align="right" class="example" id="searchResultForm" action="<%= adminbaseurl %>order" >
                    <!-- <div id="reportrange"  onSelect="selectedDate()" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                        
                    </div> -->                        
                    
                    <input id="serOrder" type="text" placeholder="Search.." name="search">
                    <button  type="submit" ><i class="fa fa-search"></i></button>
                    </div>
                </form>
                
              
                <p id="cnt"></p> 
                <ul>
                    <!-- <li>
                        <span class="label_info">No item selected</span>
                        <a href="javascript:void(0)" data-toggle="tooltip" title="Delete order" onclick="deleteorder()"><span class="fa fa-trash-o"></span></a>
                    </li> -->
                    <!-- <li>
                        <a href="javascript:void(0)"  title="Search order" class="livesearch"></a>
                        <input type='text' id='link_id'>
                        <input type='button' id='link_str' value='Search' onClick='link()'>
                        <div id="search" class="search col-sm-1"></div>
               
                    </li>   -->
                    <!-- <li data-toggle="tooltip" title="Show Entries">
                        <a href="javascript:void(0)" class="dropdown-toggle" id="show_entry" data-toggle="dropdown" aria-expanded="true"><span class="fa fa-list-ul"></span></a>
                        <div class="dropdown-menu" aria-labelledby="show_entry">
                            <a class="dropdown-item" href="javascript:void(0)">10</a>
                            <a class="dropdown-item" href="javascript:void(0)">25</a>
                            <a class="dropdown-item" href="javascript:void(0)">50</a>
                            <a class="dropdown-item" href="javascript:void(0)">100</a>
                        </div>
                    </li>-->
                    <!-- <li>
                        <a href="javascript:void(0)" data-toggle="tooltip" title="Export All"><span class="fa fa-download"></span></a>
                    </li>  -->
                </ul> 
             

                <div>
                    <select name="filter" id="filter" class="form-controll" onchange="productnumval(this)">
                        <!-- <option value="" selected disabled>--Number of product--</option>
                       
                        <option value="<%= 10 %>">10</option>
                        <option value="<%= 20 %>">20</option>
                        <option value="<%= 30 %>">30</option>
                        <option value="<%= 40 %>">40</option> -->
                       
                 <option value="" selected disabled>--Number of product--</option>
                       
                    <option value="10" <%=(limit && limit == "10" ? "selected='selected'" : '') %>>10</option>
                    <option value="20" <%=(limit && limit == "20" ? "selected='selected'" : '') %>>20</option>
                    <option value="30" <%=(limit && limit == "30" ? "selected='selected'" : '') %>>30</option>
                    <option value="40" <%=(limit && limit == "40" ? "selected='selected'" : '') %>>40</option>
                      
                    </select>
                </div>
    

                <div class="table-responsive table_wraper">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="checkbox_cell">
                                        <!-- <label class="checkbox"><input type="checkbox" id="checkAll" name="check"><span></span></label> -->
                                    </th>                                
                                    <th>Sl No</th>
                                    <th>Order#</th>
                                    <th>Date</th>
                                    <th>Customer Name</th>
                                    <th>Shipping Address</th>
                                    <th>Phone</th>
                                    <th>Shipping Charges</th>
                                    <th>Total Amount</th>
                                    <th>Status</th>
                                    <th>Number Of Items</th>
                                    <th>Action</th>
                                    <!-- <th>
                                        <a href="<%= adminbaseurl %>order/addedit" class="add_btn"><span>+</span></a>
                                    </th> -->
                                </tr>
                            </thead>
                            <tbody id="table_srch2">                      
                                <% var i= startingNumber ? startingNumber : 1;
                                arrData.forEach(function(val) { %>		
                                <tr >
                                    <td class="checkbox_cell">
                                        <!-- <label class="checkbox Select"><input type="checkbox" class="checkSelect" value="<%= val.id %>"><span></span></label> -->
                                    </td>
                                    <td> <%= i %></td>
                                    <td>
                                        <!-- <a href="#" class="tooltip_order"> </a> -->
                                        #<%= val.order_id %>
                                        <%  if(val.shipping_method=='Free Shipping'){ %> <br><img src="<%= adminbaseurl %>images/free_shipping.png" height="25px">  
                                        <% }else if(val.shipping_method=='Shipping Charge'){ %><br><img src="<%= adminbaseurl %>images/shipping-charges.png" height="25px">
                                        <% }else if(val.shipping_method=='Express Shipping'){ %><br><img src="<%= adminbaseurl %>images/express.png" height="25px">
                                       
                                        <% }%>
                                   
                                    <!-- <div class="tooltip_order_details">
                                        <h4>Order details</h4>
                                        <table>
                                            <tr>
                                                <th>Items</th>
                                                <th>Rate</th>
                                                <th>QTY.</th>
                                                <th>Amount</th>
                                            </tr>
                                            <tr>
                                                <td><%= val.orderItemName %></td>
                                                <td><%= val.orderItemoriginal_price %></td>
                                                <td><%= val.orderItemqty %></td>
                                                <td><%= val.grand_total %></td>
                                            </tr>
                                        </table>
                                    </div> -->
                                    </td>
                                   
                                    
        
                                    <!-- <td> <%= moment(val.createdAt).format( 'LL') %></td>  -->
                                    <td> <%= moment(val.createdAt).format('LL') %><br>
                                       <span style="padding:2px; color:black; font-size: 15px"><%= moment(val.createdAt).format('HH:mm:ss') %><span>
                                    </td> 
                                    
                                    <td><%= val.customer_first_name ? val.customer_first_name :'' %> <%= val.customer_last_name ? val.customer_last_name :'' %></td>
                                    <td style="white-space: pre-wrap;"> <%=  val.shipping_address %></td>
                                    <td> <%= val.customer_mobile %></td>
                                   
                                    <!-- <%  if(val.shipping_method=='Free Shipping'){ %> 
                                        <td>0.00</td>
                                            <% }else if(val.shipping_method=='Express Shipping'){ %> 
                                                <td><%= val.shipping_amount %></td>
                                            <% }else if(val.shipping_method=='Shipping Charge'){ %>
                                                <td><%= val.shipping_amount %></td>
                                                <% }else if(val.shipping_method=='Extend Free Shipping'){ %>
                                                   <td>0.00</td>
                                                   <% }else if(val.shipping_method=='Pickup From Store'){ %>
                                                       <td>0.00</td>
                                                
                                            
                                            <% }%> -->
        
                                    <td><%= val.shipping_amount  ? val.shipping_amount  : 0.00 %></td>
        
                                        <!-- <% if(val.shipping_amount != null && val.shipping_amount== ''){ %> 
                                            <td><%= val.shipping_amount %></td>
                                            <% }else {%>
                                            <td>0.00</td>
                                            <% }%> -->
        
                                        
                                            <td><%= val.grand_total ? val.grand_total : 0.00 %></td>
                                            <!-- <a href="#" class="tooltip_order"></a> -->
                                            <!-- <div class="tooltip_order_details price">
                                                    <h4>Total Purchase</h4>
                                                    <table>
                                                        <tr>
                                                            <th>Sub Total:</th>
                                                            <th>Shipping Charge:</th>
                                                            <th>Total Amount</th>
                                                            <th>Save</th>
                                                        </tr>
                                                        <tr>
                                                            <td><%= val.base_grand_total %></td>
                                                            <%  if(val.shipping_method=='Free Shipping'){ %> 
                                                                <td>0.00</td>
                                                                    <% }else if(val.shipping_method=='Express Shipping'){ %> 
                                                                        <td><%= val.shipping_amount %></td>
                                                                    <% }else if(val.shipping_method=='Shipping Charge'){ %>
                                                                        <td><%= val.shipping_amount %></td>
                                                                        <% }%>
                                                            <td><%= val.grand_total %></td>
                                                            <td><%= val.discount_amount %></td>
                                                        </tr>
                                                    </table>
                                                </div> -->
                                            </td>
        
                                    <td><span  class="status btn-<%  if(val.orderStatusTitle=='Delivered'){ %>success
                                        <% }else if(val.orderStatusTitle=='Shipped'){ %>info
                                        <% }else if(val.orderStatusTitle=='Processing'){ %>primary
                                        <% }else if(val.orderStatusTitle=='Canceled'){ %>danger
                                        <% }%>"><%= val.orderStatusTitle %></span>
        
                                        <select class="order_status_class" id="oder_status">
                                            <% var j= 1; arrOrderStatus.forEach(function(status) { %>
                                            <option order_id="<%= val.id %>" <% if(val.order_status==status.optionValue){ %>selected="selected" <% }%> 
                                                <% if(val.order_status==status.optionValue){ %>selected="selected" <% }%> 
                                                value="<%=status.optionValue%>" ><%=status.optionLabel%></option>
                                            <% j++; }) %>
                                        </select>
                                    </td>
                                    
                                    <td style="width:10px"> <%=val.numberOfOrder %></td>
                                    <td>
                                        <a href="<%= adminbaseurl%>order/addedit/<%= val.id %>/<%= currentPage %>" class="edit_btn"><i class="fa fa-eye"></i></a>
                                        <!-- <a href="<%= adminbaseurl%>order/delete/<%= val.id %>" class="edit_btn" onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash"></i></a> -->
                                        <a target="_blank" href="<%= adminbaseurl%>order/otgInvoice/<%= val.id %>" class="edit_btn"><i class="fa fa-download"></i></a>
                                    </td>
                                </tr>
                                <% i++; }) %>
                            </tbody>
                        </table>
                </div>
                <div class="pagination_sec">
                    <% if(Array.isArray(arrData)){ 
                        if(arrData.length > 0){%>
                    <div class="table_info">Showing <%= startingNumber ? startingNumber : '' %> to <%= endingNumber ? endingNumber : '' %> of <%= itemCount ? itemCount : ''%> entries</div>   
                    <% }} %>
                    <%  if (paginate.hasPreviousPages || previousPage) { %>
                    <ul>
                        <% if(paginate.hasPreviousPages) {%>
                        <li><a href="<%= paginate.href(true) %>">Previous</a></li>
                        <% }else{ %>
                        <li><a href="javascript:void(0)" class="disable">Previous</a></li>
                        <% } %>
                        <% pages.forEach(function(page) { %>
                        <li><a href="<%= page.url %>" <% if(currentPage && currentPage == page.number ) {%> class="active" <% } %>><%= page.number%></a></li>
                        <%  }) %>
                        <% if(previousPage) {%>
                        <li><a href="<%= paginate.href() %>">Next</a></li>
                        <% }else{ %>
                        <li><a href="javascript:void(0)" class="disable">Next</a></li>
                        <% } %>
                    </ul>
                </div> 
            </div>
                            
        </div>   
    <% } %>                                   
    </div>                 
</div>
    
<!-- page content -->
<%- include ../partials/footer.html %>


<script>
    $("#checkAll").click(function () {
      $('input:checkbox').not(this).prop('checked', this.checked);
    });
</script>

<script>
   $(document).ready(function(){
       /////////  Disabe the Order Status ///////////
        $("select").each(function(){
            var selectedStatus= '';
            selectedStatus = $(this).find('option:selected').val();
            // alert($(this).find('option:selected').val());
            $(this).find('option').each(function(evt){
                if(selectedStatus == 'Processing'){
                    if($(this).val() == 'Delivered'  || $(this).val() == 'Completed')
                    $(this).attr('disabled', true);  
                }else if(selectedStatus == 'Shipped'){
                    if( $(this).val() == 'Processing' || $(this).val() == 'Completed' || $(this).val() == 'Canceled')
                    $(this).attr('disabled', true);  
                }else if(selectedStatus == 'Delivered'){
                    if($(this).val() == 'Shipped' || $(this).val() == 'Processing' || $(this).val() == 'Completed' || $(this).val() == 'Canceled')
                    $(this).attr('disabled', true);  
                }else if(selectedStatus == 'Canceled'){
                    if($(this).val() == 'Delivered' || $(this).val() == 'Processing' || $(this).val() == 'Completed' || $(this).val() == 'Shipped')
                    $(this).attr('disabled', true);  
                }else if(selectedStatus == 'Completed'){
                    if($(this).val() == 'Delivered' || $(this).val() == 'Processing' || $(this).val() == 'Canceled' || $(this).val() == 'Shipped')
                    $(this).attr('disabled', true);  
                }               
            });
        });
        ///////////////////////////////////////////////
        var checkboxes = $('.checkbox input[type="checkbox"]'); 
        checkboxes.click(function(){
            var countCheckedCheckboxes = checkboxes.filter(':checked').length;
            if(countCheckedCheckboxes > 0){
                $('.label_info').text(countCheckedCheckboxes-1+' item(s) selected');
                
            }else{
                $('.label_info').text('No item selected');
            } 
        });
    });

    $(".checkSelect").change(function () {
  
        var lenghtCheck= $('input[class="checkSelect"]:checked').filter(':checked').length
        console.log(lenghtCheck);
        if( lenghtCheck > 0){
            $('.label_info').text(lenghtCheck+' item(s) selected');
        }else{
            $('.label_info').text('No item selected');
        }
    });

    function deleteorder() {  
        var chkArray = []; 
        /* look for all checkboes that have a class 'chk' attached to it and check if it was checked */
        $('input[class="checkSelect"]:checked').each(function() {
            chkArray.push($(this).val());
        });
        var chkArraylengh = chkArray.length;
        if(chkArraylengh > 0){
            console.log(chkArray)
            var adminData = { 'check' :chkArray}
            var answer = confirm ("Are you sure you want to delete from the database?");
            if(answer){
                $.ajax({ 
                    url: "<%= apiurl %>oredermul/delete",
                    type:'POST',
                    data: adminData,
                    success:function(response){
                        console.log(response)   
                        // alert($("#searchResultForm").attr("action"));
                        var refreshedUrl = $("#searchResultForm").attr("action");
                        window.location.href(refreshedUrl)      
                        // window.location.reload();         
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                });   
            }
        }else{
            alert('For delete select first ');
        }
    }
</script>


<script>
$('.order_status_class').change(function(){
    var orderId = $(this).find('option:selected').attr('order_id');
    var statusData = $(this).find('option:selected').val();
    //$('#ownership').val(optionSelected);
    var previousStatus = $(this).prev().text();
    // console.log($(this).prev().text());
    // alert($(this).closest( ".status" ).text())
    // alert(statusData)
    //alert($(this).find('option:selected').val())
    //console.log($(this).find('option:selected').val());
    var answer = confirm ("Are you sure you want to change the status?");
    if(answer){
        $.ajax({ 
            url: "<%= adminbaseurl %>order/StatusChange/"+orderId+'/'+statusData,
            type:'GET',
            //data: adminData,
            success:function(response){
                console.log(response)       
                // alert($("#searchResultForm").attr("action"));
                var refreshedUrl = $("#searchResultForm").attr("action");
                window.location.href(refreshedUrl)  
                // window.location.reload();            
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });  
        //window.location.reload(); 
    }else{
        // alert(previousStatus)
        $(this).find("option[value="+previousStatus+"]").prop('selected', 'selected').change();
    }
});
    var counter = 30;
    // The countdown method.
    window.setInterval(function () {
        counter--;
        if (counter >= 0) {
            var span;
            span = document.getElementById("cnt");
            span.innerHTML = "This page will be refreshed after "+counter+" seconds";
        }
        if (counter === 0) {
            clearInterval(counter);
        }

    }, 1000);

    window.setInterval('refresh()', 30000);

    // Refresh or reload page.
    function refresh() {        
        window.location.href = window.location.href;
    }

</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script type="text/javascript">
    $(function() {
    
        var start = moment().subtract(29, 'days');
        var end = moment();
    
        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
    
        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
               'Today': [moment(), moment()],
               'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
               'Last 7 Days': [moment().subtract(6, 'days'), moment()],
               'Last 30 Days': [moment().subtract(29, 'days'), moment()],
               'This Month': [moment().startOf('month'), moment().endOf('month')],
               'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
    
        cb(start, end);
    
    });
//     $("#reportrange span").datepicker({
//      onSelect:function(selectedDate)
//      {
//           alert(selectedDate);
//      }
// });

    // function GetDate() {
    //      alert( $( "#reportrange span" ).val());
         
    //  }
    </script>

<script>
    $(document).ready(function () {
        $("#reportrange").datepicker({
            onSelect: function (dateText, inst) {
                var date = $(this).val();
                alert(date);
            }
        });
    });  


    $(document).ready(function() {
        $('#searchResultForm').on('submit', function(e){
            //alert('Empty Search 111');
            // validation code here
            var data  =  document.getElementById("serOrder").value;  
            if(!data || data == ''){
                //alert('Empty Search');
                e.preventDefault();
            }
            //alert('Empty Search2222');
            // else{
                // alert(data);
                // alert('Available Search');
                // e.preventDefault();    
            // }
        });
    });

    function productnumval(cat)
{
  var url1 = window.location.href;
  var url2 = url1.split('&');
  var url3 = url2[0];
  window.open( url3+'&limit='+cat.value,"_self");
   
}
</script>

<!-- 
<style>
    .table_wraper table tr td{ position: relative;}
.tooltip_order{}
.tooltip_order_details{ width: auto; background: rgba(0,0,0,0.9); color:#fff; padding: 10px; opacity: 0; position: absolute; left: 50%; top: 0; transition: 0.4s; z-index: -1;}
.tooltip_order:hover + .tooltip_order_details{ opacity: 1; left: 100%; z-index: 999;}
.tooltip_order_details.price{left: auto; right: 90%;}
.tooltip_order:hover + .tooltip_order_details.price{ opacity: 1; left: auto; right: 100%; z-index: 999;}
.tooltip_order_details h4{ font-size: 13px; text-transform: uppercase; padding-bottom: 3px;}
.tooltip_order_details table{ width: 100%;}
.tooltip_order_details table tr th{ text-transform: uppercase; color: #ccc; font-size: 11px; padding: 3px 5px; border: 0;}
.tooltip_order_details table tr td{ font-size: 12px; color: #fff; padding: 3px 5px; border: 0;}


</style> -->