existingModules = models.order.findAll({
    where: { customer_name: { $like: '%' + keyword + '%' } ,
            customer_mobile:{ $like: '%' + keyword + '%'}}
    });


    <%- include ../partials/header.html %> 
<%- include ../partials/sidebar.html %>



<!------ Include the above in your HEAD tag ---------->
<!-- page content -->



<div class="content_wraper">
<div class="main_container">      
    <div class="header_wraper">
        <h2><%=title%></h2>
        <ul>
            <li><a href="<%= adminbaseurl %>order">Order</a></li> 
            <li><h4><%=title%><small></small></h4></li>
        </ul>  
       
    </div>      
      
    <div class="content_body">
        <div class="table_heading">
            <h3>Manage Order</h3>

            
            <form align="right" class="example" id="searchResultForm" >
                <input id="serOrder" type="text" placeholder="Search.." name="search">
                <button  type="button" onclick="searchResult()"><i class="fa fa-search"></i></button>
              </form>
          
            <p id="cnt"></p>
            <ul>
               
            </ul> 
        </div>
        <div class="table-responsive table_wraper">
            <table class="table">
                <thead>
                    <tr>
                        <th class="checkbox_cell">
                            <!-- <label class="checkbox"><input type="checkbox" id="checkAll" name="check"><span></span></label> -->
                        </th>                                
                        <th>Sl No</th>
                        <th>Order#</th>
                        <th>Date</th>
                        <th>Customer Name</th>
                        <th>Shipping Address</th>
                        <th>Phone</th>
                        <th>Shipping Charges</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th>Number Of Items</th>
                        <th>Action</th>
                        
                    </tr>
                </thead>
                 <tbody>
                    <% var i= startingNumber ? startingNumber : 1;
                    arrData.forEach(function(val) { %>

                    <tr>
                        <td class="checkbox_cell">
                            
                        </td>
                        <td> <%= i %></td>
                        <td> <%= val.order_id %>
                            <%  if(val.shipping_method=='Free Shipping'){ %> <br><img src="<%= adminbaseurl %>images/free_shipping.png" height="25px">  
                            <% }else if(val.shipping_method=='Shipping Charge'){ %><br><img src="<%= adminbaseurl %>images/shipping-charges.png" height="25px">
                            <% }else if(val.shipping_method=='Express Shipping'){ %><br><img src="<%= adminbaseurl %>images/express.png" height="25px">
                           
                            <% }%></td>
                        
                            <td> <%= moment(val.createdAt).format('LL') %><br>
                                <span style="padding:2px; color:black; font-size: 15px"><%= moment(val.createdAt).format('HH:mm:ss') %><span>
                             </td> 
                             
                             <td><%= val.customer_name ? val.customer_name :'' %></td>
                             <td style="white-space: pre-wrap;"> <%=  val.shipping_address %></td>
                             <td> <%= val.customer_mobile %></td>
                            
                             <td><%= val.shipping_amount  ? val.shipping_amount  : 0.00 %></td>
                             
 
                                 <td><%= val.grand_total ? val.grand_total : 0.00 %></td>
                                 <td><span  class="status btn-<%  if(val.orderStatusTitle=='Delivered'){ %>success
                                        <% }else if(val.orderStatusTitle=='Shipped'){ %>info
                                        <% }else if(val.orderStatusTitle=='Processing'){ %>primary
                                        <% }else if(val.orderStatusTitle=='Canceled'){ %>danger
                                        <% }%>"><%= val.orderStatusTitle %></span>

                                        <select class="order_status_class" id="oder_status">
                                                <% var j= 1; arrOrderStatus.forEach(function(status) { %>
                                                <option order_id="<%= val.id %>" <% if(val.order_status==status.optionValue){ %>selected="selected" <% }%> 
                                                    <% if(val.order_status==status.optionValue){ %>selected="selected" <% }%> 
                                                    value="<%=status.optionValue%>" ><%=status.optionLabel%></option>
                                                <% j++; }) %>
                                        </select>
    
                                    
                                </td>
                                
                                <td style="width:10px"> <%=val.numberOfOrder %></td>
                                <td>
                                    <a href="<%= adminbaseurl%>order/addedit/<%= val.id %>" class="edit_btn"><i class="fa fa-eye"></i></a>
                                    
                                </td>
                                                           
                    </tr>
                    <% i++; }) %>
                 
                </tbody>


            </table>
        </div>
        <div class="pagination_sec">
            <% if(Array.isArray(arrData)){ 
                if(arrData.length > 0){%>
            <div class="table_info">Showing <%= startingNumber ? startingNumber : '' %> to <%= endingNumber ? endingNumber : '' %> of <%= itemCount ? itemCount : ''%> entries</div>   
            <% }} %>
            <%  if (paginate.hasPreviousPages || previousPage) { %>
            <ul>
                <% if(paginate.hasPreviousPages) {%>
                <li><a href="<%= paginate.href(true) %>">Previous</a></li>
                <% }else{ %>
                <li><a href="javascript:void(0)" class="disable">Previous</a></li>
                <% } %>
                <% pages.forEach(function(page) { %>
                <li><a href="<%= page.url %>" <% if(currentPage && currentPage == page.number ) {%> class="active" <% } %>><%= page.number%></a></li>
                <%  }) %>
                <% if(previousPage) {%>
                <li><a href="<%= paginate.href() %>">Next</a></li>
                <% }else{ %>
                <li><a href="javascript:void(0)" class="disable">Next</a></li>
                <% } %>
            </ul>
        </div>                  
    </div>   
<% } %>
                         
    </div>   
                               
            
</div>

<!-- page content -->
<%- include ../partials/footer.html %>


<script>
        $('.order_status_class').change(function(){
            var orderId = $(this).find('option:selected').attr('order_id');
            var statusData = $(this).find('option:selected').val();
            //$('#ownership').val(optionSelected);
            // alert(orderId)
            // alert(statusData)
            //alert($(this).find('option:selected').val())
            //console.log($(this).find('option:selected').val());
            var answer = confirm ("Are you sure you want to change the status?");
            if(answer){
                $.ajax({ 
                    url: "<%= adminbaseurl %>order/StatusChange/"+orderId+'/'+statusData,
                    type:'GET',
                    //data: adminData,
                    success:function(response){
                        console.log(response)            
                        window.location.reload();            
                    },
                    error: function (e) {
                        console.log("ERROR : ", e);
                    }
                });  
                //window.location.reload(); 
            }
        });
        </script>

<script>
    function searchResult(){
      var data =  document.getElementById("serOrder").value;
    
      if(data == ''){
          alert('Empty Search');
      }else{
    var url= "<%= adminbaseurl %>/order/?"+data;
        window.location= url;
       //$('#searchResultForm').submit();
      }
    
    
    }
    </script>