<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>       

<!-- page content -->

<div class="content_wraper">
    <div class="main_container">
          
      <div class="header_wraper">
        <h2><%=title%></h2>
          <ul>
            <li><a href="<%= adminbaseurl %>dashboard" >Dashboards</a></li>
			<li><a href="<%= adminbaseurl %>settings_profile">Setting Profile</a></li>
            <li><%=title%></li>
          </ul>
      </div>


              <form class="form-horizontal form-label-left" novalidate method="post" action="<%= apiurl %>settings_profile/add">
                   <!--Arrtibute info start-->
                   <div class="content_body panel_body">

                      <div class="panel_title">
                          <h3>Profile Info</h3>
                      </div>
                
                      <div class="clearfix"></div>
                
                        <div class="row edit_box">
						
                            <div class="col-sm-6">
                            <div class="animate_form field">
                                <input id="username" class="form-control" name="username" onkeyup="this.value=this.value.replace(/[^0-9A-Za-z ]/g,'');" type="text" required="required" value="<%= arrData ? arrData.username : '' %>">
                              <span>Username<span>*</span></span>
                              <div class="alert_msg"></div>
                            </div>
                        </div>
						
						<div class="col-sm-6">
                            <div class="animate_form field">
                                <input id="email" class="form-control" name="email" type="email"  onkeyup="this.value=this.value.replace(/[ ]/g,'');"   required="required" value="<%= arrData ? arrData.email : '' %>">
                              <span>Email<span>*</span></span>
                              <div class="alert_msg"></div>
                            </div>
                        </div>
						
						<div class="col-sm-6">
                            <div class="animate_form field">
                                <input id="phone" class="form-control" name="phone" type="text" maxlength="10" minlength="10" pattern="^[6-9]\d{9}$" onkeypress="return blockChar(event)" required="required" value="<%= arrData ? arrData.phone : '' %>">
                              <span>Phone<span>*</span></span>
                              <div class="alert_msg"></div>
                            </div>
                        </div>
						
						<div class="col-sm-6">
                            <div class="animate_form">
                                <input id="skype" class="form-control" name="skype" type="text"  value="<%= arrData ? arrData.skype : '' %>">
                              <span>Skype</span>
                              <div class="alert_msg"></div>
                            </div>
                        </div>
						
						<div class="col-sm-6">
                            <div class="animate_form">
                                <input id="address" class="form-control" name="address" type="text" value="<%= arrData ? arrData.address : '' %>">
                              <span>Address</span>
                              <div class="alert_msg"></div>
                            </div>
                        </div>
						
						
						
						
						
                        <div class="col-sm-6">
                            <div class="animate_form">
                                <select name="status" class="form-control">
                                  
								  
								  <option <% if(arrData.status=='active'){ %>selected="selected" <% }%> value="active">Active</option>
								  <option <% if(arrData.status=='inactive'){ %>selected="selected" <% }%> value="inactive">Inactive</option>
                                </select>
                            </div>
                        </div>

                      </div> 
                    </div>
                  
<% console.log("dadadadaaaaaaaaaaaaaaaaaaaadadaaddaaaaaaaaaaaaaaaaaaaaaaaaaaaaa");console.log(arrOption);
%>

                  <!-- Attribute Option-->
                  
                  
            

        <div class="btn_right mb-4">
            <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
            <button id="send" type="submit" class="submit_btn">Submit</button>
        </div>


                </form>
              </div>
        </div>
      </div>
</div>





<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>

  <script type="text/javascript">
        function PreviewprofilePicture() {
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("profilePicture").files[0]);
        oFReader.onload = function (oFREvent) {
        document.getElementById("profilePicturePreview").src = oFREvent.target.result;
        };
        };
function validate(evt){
//alert( evt.value);
     evt.value = evt.value.replace(/[^0-9]/g,"");
}

</script>
    

<script>
  $(document).ready(function(){
  $(".clone_trigger").click(function () {
      $('.clone').first().clone().insertBefore(".placer");
    $('input.cl:last').val('');
      event.preventDefault();
    });



$(document).on('click','.edit_remove_trigger',function () {
        
         //$(".editclone:last").remove();
         $(this).parents(".editclone").remove();
    
 });
     
    $(document).on('click','.remove_trigger',function () {
     
    if ($(".clone").length != 1) {
        
         $(".clone:last").remove();
          
    }
     
      event.preventDefault();
    });
        
    $('.remove_this_trigger').click(function () {
        if ($(".clone").length != 1) {
            //alert($(this).parent().parent().attr('class'));
            if(confirm("Are you sure you want to delete this?")){
                var el = $(this).parent().parent().parent().parent(); 
                if(el.prev("input[type=hidden]").val() != ''){
                    el.prev("input[type=hidden]").remove();
                }
                el.remove();
            }
            else{
                return false;
            }
        }
        //alert(el.attr('class'));
        //alert($(this).parent().parent().parent().parent().prev("input[type=hidden]").remove());
    });
});
</script>
<script type="text/javascript">
  function blockChar(e){
      var k;
      document.all ? k = e.keyCode : k = e.which;
      return (k >= 48 && k <= 57);
      }
  </script>