<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grocery-Admin</title>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <!-- Custom Theme Style -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="<%= adminbaseurl %>build/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%= adminbaseurl %>build/css/font-awesome.min.css" rel="stylesheet">
    <link href="<%= adminbaseurl %>build/css/imageuploadify.min.css" rel="stylesheet">
    <link href="<%= adminbaseurl %>build/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= adminbaseurl %>build/css/datepicker.min.css"> 
			   
</head>
<body>

<!--header start-->
<div class="header">
	<div class="header_container">
        <div class="menu_bar">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <!-- <div class="search_bar">
            <input type="text" placeholder="Search...">
            <a href="javascript:void(0)" class="close_top_search">×</a>
        </div> -->

       
        <ul class="header_right">
            <!-- <li class="search-icon"><i class="fa fa-search"></i></li> -->
        	<!-- <li class="notification"><a href="#"><i class="fa fa-bell" aria-hidden="true"></i><span>2</span></a></li> -->
            <li class="user_menu">
                <a href="javascript:void(0)" class="dropdown-toggle" id="my_account" data-toggle="dropdown" aria-expanded="true">
                    <!-- <img src="<%= adminbaseurl %>images/avatar.jpg">  -->
					<img <% if(userimage){%>src="<%= userimage %>" <%} else{%> src="<%= adminbaseurl %>images/avatar.jpg"<%}%> alt="">
					<span><%= username ? username : '' %></span>
                </a>
                <!-- <a href="javascript:void(0)" class="dropdown-toggle" id="my_account" data-toggle="dropdown" aria-expanded="true">
                     <span><%= username ? username : '' %></span>
                </a> -->
                <div class="dropdown-menu" aria-labelledby="my_account">
                    <a class="dropdown-item" href="<%= adminbaseurl %>profile/addedit"><i class="fa fa-user"></i>Profile</a>
                    <!-- <a class="dropdown-item" href="<%= adminbaseurl %>account_setting/addedit"><i class="fa fa-cog"></i>Account Setting</a> -->
                    <!-- <a class="dropdown-item" href="<%= adminbaseurl %>sitesettings"><i class="fa fa-cog"></i>Settings</a> -->
                    <a class="dropdown-item" href="<%= adminbaseurl %>logout"><i class="fa fa-sign-out"></i>Sign Out</a>
                </div>
            </li>
        </ul>
        
    </div>
</div>
<!--header end-->