<!--left sidebar start-->
<div class="left_sidebar">
    <div class="sidebar_overlay"></div>
    <a href="<%= adminbaseurl %>dashboard" class="logo">
    	<img src="<%= adminbaseurl %>images/logo.png" alt="">
    </a>
    <div class="menu_waraper">
        <ul>
            <li><a href="<%= adminbaseurl %>dashboard" ><i class="fa fa-home" ></i> Dashboard </a> 
            </li>
            <li style="display:none"><a href="<%= adminbaseurl %>admin/list" ><i class="fa fa-users" ></i> Manage Profile</a>
            </li>            
            <!-- <li><a><i class="fa fa-graduation-cap"></i> Masters <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="<%= adminbaseurl %>call_to_action">Call to Action </a></li>
                <li><a href="<%= adminbaseurl %>country">Country</a></li> 
                <li><a href="<%= adminbaseurl %>dropdownsettings">Dropdown Settings</a></li> 
                <li><a href="<%= adminbaseurl %>modules">Modules</a></li>
              </ul>              
            </li> -->
            
            <li><a href="<%= adminbaseurl %>banner"><i class="fa fa-photo" ></i> Banner</a>
            </li>

            <!-- <li>
                <a href="#submenu_masters" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-list-alt"></span>Banner</a>
                <ul class="collapse" id="submenu_masters">                    
                    <li><a href="<%= adminbaseurl %>banner"></i> Advatiesment Banner</a></li>
                    <li><a href="<%= adminbaseurl %>banner_sider">Sider Banner</a></li>                   
                </ul>
            </li> -->

            <!-- <li><a href="<%= adminbaseurl %>banner_display"><i class="fa fa-universal-access" ></i> Banner Display</a>
            </li> -->
            <!-- <li><a href="<%= adminbaseurl %>banner_section"><i class="fa fa-universal-access" ></i> Banner Section</a>
            </li> -->
            <li><a href="<%= adminbaseurl %>stores"><i class="fa fa-universal-access" ></i> Stores</a>
            </li>
            <!-- <li><a href="<%= adminbaseurl %>zipcode"><i class="fa fa-universal-access" ></i> Zipcode</a>
            </li> -->
            <!-- <li><a href="<%= adminbaseurl %>citi"><i class="fa fa-universal-access" ></i> City</a></li> -->
            <!-- <li><a href="<%= adminbaseurl %>dropdown_settings"><i class="fa fa-list-alt" ></i> Dropdown Settings</a></li> -->

            <li>
                <a href="#submenu_masters" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-list-alt"></span>Masters</a>
                <ul class="collapse" id="submenu_masters">
                    <li><a href="<%= adminbaseurl %>roles"></i> Roles</a></li>
                    <li style="display:none"><a href="<%= adminbaseurl %>attribute"></i> Attribute</a></li>
                    <li><a href="<%= adminbaseurl %>banner_display">Banner Display</a></li>
                    <li><a href="<%= adminbaseurl %>banner_section">Banner Section</a></li>
                    <!-- <li><a href="<%= adminbaseurl %>banner/subcategory">Banner subcategory</a></li> -->
                    <li><a href="<%= adminbaseurl %>citi">City</a></li>
                    <li><a href="<%= adminbaseurl %>zipcode">Zipcode</a></li>
                    <li><a href="<%= adminbaseurl %>dropdown_settings">Dropdown Settings</a></li>
                    <li><a href="<%= adminbaseurl %>delivery_time_slot"></i> Delivery Time Slot</a></li> 
                    <li><a href="<%= adminbaseurl %>salesman"></i> Salesman</a></li> 
                    <li><a href="<%= adminbaseurl %>sitesettings"></i>Settings</a></li>
                    <li><a href="<%= adminbaseurl %>shipping_method"></i> Shipping Method</a></li>
                    <li><a href="<%= adminbaseurl %>coupon"></i> Coupon</a></li> 
                    <li><a href="<%= adminbaseurl %>coupon-value"></i> Coupon Value</a></li> 
                    <li><a href="<%= adminbaseurl %>emailconfig"></i> Email Configuration</a></li>  
                </ul>
            </li>
            
            
            <!-- <ul class="doc-nav">
            <li><a><i class=""></i>  Customer <span class="fa fa-chevron-down"></span></a></li>
            <li>
            <ul class="doc-nav-sub-list">
            <li><a href="<%= adminbaseurl %>customer"><i class="fa fa-product-hunt" aria-hidden="true"></i> Customer</a></li>
            <li><a href="<%= adminbaseurl %>customer_address"><i class="fa fa-product-hunt" aria-hidden="true"></i> Customer Address</a></li>
            <li><a href="<%= adminbaseurl %>customer_fav"><i class="fa fa-product-hunt" aria-hidden="true"></i> Customer Favourite</a></li>
            <li><a href="<%= adminbaseurl %>customer_group"><i class="fa fa-product-hunt" aria-hidden="true"></i> Customer Group</a></li>
           </ul></li> </ul> -->

           <!-- <li>
                <a href="#submenu_customer" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-product-hunt"></span>Customer</a>
                <ul class="collapse" id="submenu_customer">
                    <li><a href="<%= adminbaseurl %>customer">Customer</a></li>
                    <!- - <li><a href="<%= adminbaseurl %>customer_address">Customer Address</a></li>
                    <li><a href="<%= adminbaseurl %>customer_fav">Customer Favourite</a></li> -->
                    <!-- <li><a href="<%= adminbaseurl %>customer_group">Customer Group</a></li> - ->
                </ul>
            </li> -->
            
            <li><a href="<%= adminbaseurl %>customer"><i class="fa fa-child"></i> Customer</a></li>
			
           <li><a href="<%= adminbaseurl %>category"><i class="fa fa-list-alt"></i> Category</a></li>
           <li style=""><a href="<%= adminbaseurl %>subcategory"><i class="fa fa-list-alt"></i> Sub Category</a></li>
           <li><a href="<%= adminbaseurl %>product?page=1&limit=10"><i class="fa fa-product-hunt" aria-hidden="true"></i> Product</a></li>
           <li><a href="<%= adminbaseurl %>product_upload"><i class="fa fa-upload" aria-hidden="true"></i> Product Upload</a></li>
            
            <!-- <li><a> Order <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">       
                    <li><a href="<%= adminbaseurl %>order"><i class="fa fa-shopping-cart"></i> Order</a> </li>
                    <li><a href="<%= adminbaseurl %>orderitem"><i class="fa fa-product-hunt" aria-hidden="true"></i> Order Item</a></li>
                    <li><a href="<%= adminbaseurl %>order_status_history"><i class="fa fa-shopping-cart"></i> Order Status History</a></li> 
                </ul>
            </li> -->

            <li><a href="<%= adminbaseurl %>order?page=1&limit=10"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Order</a></li>
            
            <!-- <li>
                <a href="#submenu_order" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-shopping-cart"></span>Order</a>
                <ul class="collapse" id="submenu_order">
                    <li><a href="<%= adminbaseurl %>order">Order</a></li>
                    <li><a href="<%= adminbaseurl %>orderitem">Order Item</a></li>
                    <li><a href="<%= adminbaseurl %>order_status_history">Order Status History</a></li>
                </ul>
            </li>		 -->
              
            <li style="display:none"><a href="<%= adminbaseurl %>cms"><i class="fa fa-user" ></i> CMS</a> </li>
            <li style="display:none"><a href="<%= adminbaseurl %>settings_profile"><i class="fa fa-user"></i> Settings Profile</a></li> 
            <li style="display:none"><a href="<%= adminbaseurl %>notification"><i class="fa fa-user" ></i> Notification</a></li>
            <li style="display:none"><a href="<%= adminbaseurl %>notification_trans"><i class="fa fa-user" ></i> Notification Transaction</a></li>
            
        
            <li><a href="<%= adminbaseurl %>users"><i class="fa fa-user" ></i> Users</a></li>
            <li><a href="<%= adminbaseurl %>wallet"><i class="fa fa-google-wallet"></i> Wallet</a></li> 
            <li><a href="<%= adminbaseurl %>coupon_transaction"><i class="fa fa-spinner"></i> Coupon Transaction</a></li>
            <li><a href="<%= adminbaseurl %>sms"><i class="fa fa-upload" aria-hidden="true"></i> Send SMS</a> </li>
            <li>
                <a href="#submenu_masters" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-list-alt"></span>Report</a>
                <ul class="collapse" id="submenu_masters">
                    <li><a target="_blank" href="<%= adminbaseurl %>customer_reports">Customer Report</a></li>
                    <li><a href="<%= adminbaseurl %>sale_reports">Order Report</a></li>
                </ul>
            </li>
           
            
        </ul>
    </div>
</div>
<!--left sidebar end-->