<%- include ../partials/header.html %>       
<%- include ../partials/sidebar.html %>
<!-- page content -->

<div class="content_wraper">
    <div class="main_container">
      
          <div class="header_wraper">
              <h2><%=title%></h2>
              <ul>
                  <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
                  <li><h4><%=title%><small></small></h4></li>
              </ul>
          </div>
          
          <div class="content_body">
      <div class="table_heading">
        <h3>Manage Profile</h3>
          <div class="table_search" id="search_pro">
            <input type="text" placeholder="Search Roles by name..." onkeyup="searchProfiles(this.value)"  id="search_Pfl" >
              <a href="javascript:void(0)" data-toggle="tooltip" title="Close" class="close_search">&times;</a>
          </div>
          <ul>
            <li>
                <span class="label_info">No item selected</span>
                <a href="javascript:void(0)" data-toggle="tooltip" title="Delete Profile" onclick="deleteAdmin()"><span class="fa fa-trash-o"></span></a>
              </li>
            <li>
                <a href="javascript:void(0)" data-toggle="tooltip" title="Search_profile" class="open_search" 
                    class="typeahead tt-query" spellcheck="false" autocomplete="off" name="typeahead" type="text"><span class="fa fa-search"></span></a>
              </li>
              <li data-toggle="tooltip" title="Show Entries">
                  <a href="javascript:void(0)" class="dropdown-toggle" id="show_entry" data-toggle="dropdown" aria-expanded="true"><span class="fa fa-list-ul"></span></a>
                  <div class="dropdown-menu" aria-labelledby="show_entry">
                      <a class="dropdown-item" href="javascript:void(0)">10</a>
                      <a class="dropdown-item" href="javascript:void(0)">25</a>
                      <a class="dropdown-item" href="javascript:void(0)">50</a>
                      <a class="dropdown-item" href="javascript:void(0)">100</a>
                  </div>
              </li>
              <li>
                  <a href="javascript:void(0)" data-toggle="tooltip" title="Export All"><span class="fa fa-download"></span></a>
              </li>
          </ul>
      </div>

      <div class="table-responsive table_wraper">
        <table class="table"  id="table_srch">
            <thead>
                  <tr>
                      <th class="checkbox_cell">
                          <label class="checkbox"><input type="checkbox" id="checkAll" name="check"><span></span></label>
                          </th>
                          <th style="width:15px">Sl No</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>User Name</th>
                          <th>Status</th>
                          <th>IP</th>
                          <th>Created At</th>
                          <th>Action</th>
                          <th width="100px"><a href="<%= adminbaseurl %>admin/addedit" class="add_btn"><span>+</span></a></th>
                      </tr>
                    </thead>


                    <tbody id="table_srch2">
                      
                      <% var i=1;
                       arrData.forEach(function(val) { %>

                            <tr>
                                  <td class="checkbox_cell">
                                      <label class="checkbox"><input type="checkbox" value="<%= val.id %>"><span></span></label>
                                  </td>
                                  <td> <%= i %></td>
                                  <td> <%= val.name %></td>
                                  <td> <%= val.email %></td>
                                  <td> <%= val.username %></td>
                                  <td> <%= val.status %></td>
                                  <td> <%= val.ip %></td>
                                  <td> <%= moment(val.createdAt).format( 'LL') %></td>
                                  <td><a href="<%= adminbaseurl%>admin/addedit/<%= val.id %>" class="edit_btn"><i class="fa fa-pencil"></i></a>
                                     <a href="<%= adminbaseurl%>admin/delete/<%= val.id %>" class="edit_btn" onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash"></i></a>
                                  </td>
                                  
                            </tr>
                        <% i++; }) %>
                    </tbody>
                </table>
            </div>
            
            <div class="pagination_sec" id="pagination">
              <div class="table_info">Showing 1 to 10 of 23 entries</div>
                <ul>
                  <li><a href="" class="disable">Previous</a></li>
                    <li><a href="" class="active">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">Next</a></li>
                </ul>
            </div>
            
        </div>
        
    </div>
</div>

<!-- page content -->
<%- include ../partials/footer.html %>

<script>
    $("#checkAll").click(function () {
      $('input:checkbox').not(this).prop('checked', this.checked);
  });
 </script>
     
<script>
    $(document).ready(function(){
        var checkboxes = $('.checkbox input[type="checkbox"]'); 
        checkboxes.change(function(){
            var countCheckedCheckboxes = checkboxes.filter(':checked').length;
            if(countCheckedCheckboxes > 0){
                $('.label_info').text(countCheckedCheckboxes+' item(s) selected');
                
            }else{
                $('.label_info').text('No item selected');
            } 
        });
    });
    
	
	 function deleteAdmin() {  
    var chkArray = []; 
    /* look for all checkboes that have a class 'chk' attached to it and check if it was checked */
    $(".checkbox input:checked").each(function() {
    chkArray.push($(this).val());
    });
    var chkArraylengh = chkArray.length;
    if(chkArraylengh > 0){
    console.log(chkArray)
        var adminData = { 'check' :chkArray}
        var answer = confirm ("Are you sure you want to delete from the database?");
            if(answer){
    $.ajax({ 
        url: "<%= apiurl %>adminmul/delete",
        type:'POST',
        data: adminData,
        success:function(response){
            console.log(response)
            //alert('')
            window.location.reload();
            //if(response.value==1) 
           
        },
        error: function (e) {
            console.log("ERROR : ", e);
        }
        });   
    }
}else{
        alert('For delete select first ');
     }

}
    </script>
    
    <script type="text/javascript">
        function searchProfiles(val){
      // alert('qqqqqqqq')
        //  alert(val)
    
            $.ajax({ 
                url: "<%= apiurl %>searchProfileList",
                type:'post',
                data:{ 'typeahead' :val},
                success:function(response){
                   
                   console.log(response);
    
                   $("#table_srch2").empty();
                   $("#pagination").remove();
                   var i=1;
                   var itemHtml= '';
                   response.admin.forEach(function(res){ 
                       console.log(res) 
                      
             itemHtml+=  
                         
               
                        '<tr>'+
                    '<td class="checkbox_cell"><label class="checkbox"><input type="checkbox" '+res.id+'><span></span></label></td>'+
                    '<td> '+i+'</td>'+
                    '<td> '+res.name+' </td>'+
                    '<td> '+res.email+'</td>'+
                    '<td> '+res.username+'</td>'+
                    '<td> '+res.status+' </td>'+
                    '<td> '+res.ip+' </td>'+
                    '<td>  '+res.createdAt+' </td>'+
                    '<td><a href="<%= adminbaseurl%>admin/delete/'+res.id+'" class="edit_btn"><i class="fa fa-trash"></i></a></td>'+     
                    '</tr>';
          
                    i++;
                
                 })
                 $('#table_srch2').append(itemHtml);  
            },
                error: function (e) {
                    
                    console.log("ERROR : ", e);
                }
                });  
        }
          
            </script>