<%- include ../partials/sidebar %>       
<%- include ../partials/header %>
<!-- page content -->

<div class="content_wraper">
  <div class="main_container">
    
        <div class="header_wraper">
            <h2><%=title%></h2>
            <ul>
                <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
                <li><h4><%=title%><small></small></h4></li>
            </ul>
        </div>
        
    <div class="content_body">
        <div class="table_heading">
        <h3>Manage Test</h3>
        <div class="table_search">
          <input type="text" placeholder="Search Stores...">
            <a href="javascript:void(0)" data-toggle="tooltip" title="Close" class="close_search">&times;</a>
        </div>
        <ul>
          <li>
              <span class="label_info">No item selected</span>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete Stores" onclick="deleteAttribute()"><span class="fa fa-trash-o"></span></a>
            </li>
          <li>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Search Stores" class="open_search"><span class="fa fa-search"></span></a>
            </li>
            <li data-toggle="tooltip" title="Show Entries">
                <a href="javascript:void(0)" class="dropdown-toggle" id="show_entry" data-toggle="dropdown" aria-expanded="true"><span class="fa fa-list-ul"></span></a>
                <div class="dropdown-menu" aria-labelledby="show_entry">
                    <a class="dropdown-item" href="javascript:void(0)">10</a>
                    <a class="dropdown-item" href="javascript:void(0)">25</a>
                    <a class="dropdown-item" href="javascript:void(0)">50</a>
                    <a class="dropdown-item" href="javascript:void(0)">100</a>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" data-toggle="tooltip" title="Export All"><span class="fa fa-download"></span></a>
            </li>
        </ul>
    </div>

    <div class="table-responsive table_wraper">
      <table class="table">
                    <thead>
                        <tr>
                            
                            <th style="width:15px">Sl No</th>
							 
                            <th>First Name</th>
                            <th>Last Name</th>
							<th>Description</th>
							
                            <th>Status</th>
                            <th>
                            <a href="<%= adminbaseurl %>test/addedit" class="add_btn"><span>+</span></a>
                            </th>
                        </tr>
                    </thead>


                    <tbody>
					<% var i=1;
                         arrData.forEach(function(val) { %>
					<tr>
					<th><%= i %></th>
					<th><%= val.firstName %></th>
					<th><%= val.lastName %></th>
					<th><%= val.description %></th>
					 <td><a href="<%= adminbaseurl%>test/addedit/<%= val.id %>" class="edit_btn"><i class="fa fa-pencil"></i></a>
                                <a href="<%= adminbaseurl%>test/delete/<%= val.id %>" class="edit_btn"><i class="fa fa-trash"></i></a>
                            </td>
					</tr>
     <% i++; }) %>
                                            </tbody>
                </table>
            </div>
            
            <div class="pagination_sec">
              <div class="table_info">Showing 1 to 10 of 23 entries</div>
                <ul>
                  <li><a href="" class="disable">Previous</a></li>
                    <li><a href="" class="active">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">Next</a></li>
                </ul>
            </div>
            
        </div>
        
    </div>
</div>


<!-- page content -->
<%- include ../partials/footer %>

<script type="text/javascript">
        function PreviewprofilePicture() {
        var oFReader = new FileReader(); oFReader.readAsDataURL(document.getElementById("profilePicture").files[0]);
        oFReader.onload = function (oFREvent) {
        document.getElementById("profilePicturePreview").src = oFREvent.target.result;
        };
        };
function validate(evt){
//alert( evt.value);
     evt.value = evt.value.replace(/[^0-9]/g,"");
}

</script>