<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>       


<link href="<%= adminbaseurl %>build/css/croppr.css" rel="stylesheet">
<script src="<%= adminbaseurl %>ckeditor/ckeditor.js"></script>

<!-- page content -->

<div class="content_wraper">
    <div class="main_container">
          
      <div class="header_wraper">
        <h2><%=title%></h2>
          <ul>
            <li><a href="<%= adminbaseurl %>dashboard">Dashboards</a></li>
            <li><a href="<%= adminbaseurl %>banner">Banner</a></li>
            <li><%=title%></li>
          </ul>
      </div>

      <% if(messages!='') {%>
      <div class="succ_msg msg" id="succ_msg">    
        <i class="fa fa-check"  aria-hidden="true"></i>        
        <%=messages%>
      </div>
      <%}%>                

      <form id="category-info" class="form-horizontal form-label-left" novalidate method="post"   enctype="multipart/form-data" action="<%= adminbaseurl %>emailconfig/add">
          <div class="content_body panel_body">

            <div class="panel_title">
              <h3><%=title%> Info</h3>
            </div>
                
            <div class="clearfix"></div>
             

                  <div class="tab-content">

                    <!--category content start-->
                    <div id="gen-info" class="tab-pane fade in active show">

                        <div class="row edit_box">

                            
														
                            <div class="col-sm-6"> 
                              <div class="animate_form field">
                                  <input id="email" class="form-control" name="email" type="email" onkeyup="this.value=this.value.replace(/[]/g,'');" required="required" value="<%= arrData ? arrData.email : '' %>">
                                  <span>Email Id<span>*</span></span>
                              </div>
                            </div>
                            <div class="col-sm-6"> 
                              <div class="animate_form field">
                                  <input id="phoneno" class="form-control" name="phoneno" type="text" onkeyup="this.value=this.value.replace(/[a-zA-Z ]/g,'');" maxlength="10" minlength="10" pattern="^[6-9]\d{9}$" onkeypress="return blockChar(event)" required="required" value="<%= arrData ? arrData.phoneno : '' %>">
                                  <span>Phone no<span>*</span></span>
                                
                              </div>
                            </div>

                      
                          
                    

                  </div>
          </div>
                <div class="btn_right mb-4">
                  <input type="hidden"  name="update_id" value="<%= arrData ? arrData.id : '' %>">
                  <button id="send" type="submit" onclick="return Validatefrom()"   class="submit_btn">Submit</button>
                </div>
          </form>

        </div>
      </div>
</div>


</div>
<!-- page content -->
<%- include ../partials/footer.html %>
<%- include ../formvalidator/formvalidator.html %>

<script>

function blockChar(e)
alert("hhh");
{
        var key=e.which || e.KeyCode;
        if  ( key >=48 && key <= 57)
        return true; 
         else return false;
}


  </script>









