
<%- include ../partials/sidebar %>       
<%- include ../partials/header %>
<!-- page content -->

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
                <div class="title_left">
                  <h3><%= title %></h3>
                  
                   <% if(messages!='') {%>
            <div class="succ_msg msg">
            
           <%=messages%>
            </div>
             <%}%>
             
              <% if(errors!='') {%>
            <div class="succ_err msg">
           <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
           <%=errors%>
            </div>
             <% }%>
                </div>
                <div class="title_right text-right">
                  <a href="<%= adminbaseurl%>modules/addedit" class="btn btn-success right">Add Modules</a>
                </div>
              </div>
  
              <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th style="width:15px">Sl No</th>
                          <th>Name</th>
                          <th>Created At</th>
                          <th>Status</th>
                          <th>Sequence</th>
                          <th>Action</th>
                        </tr>
                      </thead>


                                            <tbody>
                        
                        <% var i=1;  
                        arrData.forEach(function(val) { %>
	
						  <tr>
                <td> <%= i %></td>
							<td> <%= val.name %></td>
              <td> <%= moment(val.createdAt).format( 'LL') %></td>
              <td> <%= val.status %></td>
              <td> <%= val.sequence %></td>
              <td><a href="<%=adminbaseurl%>modules/addedit/<%= val.id %>"  class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                 <a href="<%=adminbaseurl%>modules/delete/<%= val.id %>" class="btn btn-danger btn-xs" onclick="return(confirm('Do you really want to delete?'));" ><i class="fa fa-trash-o"></i> Delete</a></td>
						   
						  </tr>
							<% i++; }) %>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
    </div>
</div>

<!-- page content -->
<%- include ../partials/footer %>


      
