<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>     
      
<!-- page content -->

<div class="content_wraper">
    <div class="main_container">      
        <div class="header_wraper">
            <h2><%=title%></h2>
            <ul>
                <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
                <li><h4><%=title%><small></small></h4></li>
            </ul>
        </div>

        <% if(messages!='') {%>
        <div class="succ_msg msg" id="succ_msg">    
            <i class="fa fa-check"  aria-hidden="true"></i>        
            <%=messages%>
        </div>
        <%}%>                
        <% if(errors!='') {%>
        <div class="succ_err msg" id="err_msg">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
            <%=errors%>
        </div>
        <% }%>
          
        <div class="content_body">
            <div class="table_heading">
                <h3>Manage <%=title%></h3>
                <form id="labnol" method="get" action="https://www.google.com/search">
                
                <div class="table_search">
                        <div class="speech">
                    <input type="text"  name="q" id="transcript" placeholder="Search Category...">
                    <a href="javascript:void(0)" data-toggle="tooltip" title="Close" class="close_search">&times;</a>
                    </div>
                </div>
                </form>
                <!-- <ul>
                    <li>
                        <span class="label_info">No item selected</span>
                        <a href="javascript:void(0)" data-toggle="tooltip" title="Delete Products" onclick="deleteTimeMul()"><span class="fa fa-trash-o"></span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-toggle="tooltip" title="Search Products" class="open_search"><span class="fa fa-search"></span></a>
                    </li>
                    <li data-toggle="tooltip" title="Show Entries">
                        <a href="javascript:void(0)" class="dropdown-toggle" id="show_entry" data-toggle="dropdown" aria-expanded="true"><span class="fa fa-list-ul"></span></a>
                        <div class="dropdown-menu" aria-labelledby="show_entry">
                            <a class="dropdown-item" href="javascript:void(0)">10</a>
                            <a class="dropdown-item" href="javascript:void(0)">25</a>
                            <a class="dropdown-item" href="javascript:void(0)">50</a>
                            <a class="dropdown-item" href="javascript:void(0)">100</a>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-toggle="tooltip" title="Export All"><span class="fa fa-download"></span></a>
                    </li>
                </ul> -->
            </div>

            <div class="table-responsive table_wraper">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th class="checkbox_cell">
                                <label class="checkbox"><input type="checkbox" id="checkAll" name="check"><span></span></label>
                            </th> -->
                            <th>Sl No</th>
                            <th>Customer Name</th>
                            <th>Coupon Code</th>
                            <th>Coupon Type</th>
                            <th>Coupon Value</th>
                            <th>From</th>
                            <th>To</th>
                            <!-- <th>Action</th> -->
                            <th>
                                <!-- <a href="<%= adminbaseurl %>coupon_transaction/addedit" class="add_btn"><span>+</span></a> -->
                            </th>
                        </tr>
                    </thead>
                    <tbody>                      
                        <% var i= startingNumber ? startingNumber : 1;
                         arrData.forEach(function(val) { %>		
                        <tr>
                            <!-- <td class="checkbox_cell">
                                <label class="checkbox Select"><input type="checkbox" class="checkSelect" value="<%= val.id %>"><span></span></label>
                            </td> -->
                            <td> <%= i %></td>
                            <td> 
                                <% arrCustomer.forEach(function(cust) {
                                if(cust.id==val.customer_id){ %>
                                <%= cust.first_name %> <%= cust.last_name %>
                                <% } }); %>
                            </td>
                            <td> <%= val.coupon_code %></td>
                            <td> <%= val.coupon_type %></td>
                            <td> <%= val.coupon_value %></td>
                            <% if((val.date_from != null && val.date_from !='' && val.date_from != '0000-00-00' ) || (val.time_from != null && val.time_from !='' )){ %>
                            <td> <% if(val.date_from != null && val.date_from != '0000-00-00' ) { %> <%= val.date_from ? val.date_from : '' %> <%} %> <%= val.time_from ? val.time_from : '' %></td>
                            <%}else{ %>
                                <td> Lifetime</td>
                            <%} %>
                            <% if((val.date_to != null && val.date_to !='' && val.date_to != '0000-00-00' ) || (val.time_to != null && val.time_to !='' )){ %>
                                <td> <% if(val.date_to != null && val.date_to != '0000-00-00' ) { %> <%= val.date_to ? val.date_to : '' %> <%} %> <%= val.time_to ? val.time_to : '' %></td>
                            <%}else{ %>
                                <td> Lifetime</td>
                            <%} %>
                            
                            <!-- <td> <%= moment(val.createdAt).format( 'LL') %></td>  -->
                            <!-- <td>
                                <a href="<%= adminbaseurl%>coupon_transaction/addedit/<%= val.id %>" class="edit_btn"><i class="fa fa-pencil"></i></a>
                                <a href="<%= adminbaseurl%>coupon_transaction/delete/<%= val.id %>" class="edit_btn" onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash"></i></a>
                            </td> -->
                        </tr>
                        <% i++; }) %>
                    </tbody>
                </table>
            </div>
                  
            <%  if (paginate.hasPreviousPages || previousPage) { %>
                <div class="pagination_sec">
                    <div class="table_info">Showing <%= startingNumber ? startingNumber : '' %> to <%= endingNumber ? endingNumber : '' %> of <%= itemCount ? itemCount : ''%> entries</div>   
                            <ul>
                            <% if(paginate.hasPreviousPages) {%>
                            <li><a href="<%= paginate.href(true) %>">Previous</a></li>
                            <% }else{ %>
                            <li><a href="javascript:void(0)" class="disable">Previous</a></li>
                            <% } %>
                            <% pages.forEach(function(page) { %>
                            <li><a href="<%= page.url %>" <% if(currentPage && currentPage == page.number ) {%> class="active" <% } %>><%= page.number%></a></li>
                            <%  }) %>
                            <% if(previousPage) {%>
                            <li><a href="<%= paginate.href() %>">Next</a></li>
                            <% }else{ %>
                            <li><a href="javascript:void(0)" class="disable">Next</a></li>
                            <% } %>
                        </ul>
                    </div>                  
                </div>
            <% } %>
              
    </div>
</div>
    
<!-- page content -->
<%- include ../partials/footer.html %>